[2021-04-28 15:07] sgellock commented on #1223
Shiproom - not taking this for R13.  Moved to R14

[2021-05-01 08:09] Jenny0932 commented on #1180
May I know how to use bf cli to publish the project created using bot framework composer? Do you have any documents about it?

[2021-05-10 17:29] tdurnford commented on #1210
@cosmicshuai any update on this?

[2021-05-11 14:31] kwoxer commented on #599
![image](https://user-images.githubusercontent.com/1167229/117832958-39c48e80-b276-11eb-9777-b540cb551547.png)

Same issue here. Not sure what to change...

[2021-05-12 00:40] chrimc62 opened #1234 "Extend LUIS:build to add intent/entities information"
**Is your feature request related to a problem? Please describe.**
In order to support the SDK priming work we need to be able to know the LUIS intents/entities that can be recognized from a particular model and we need to generate that information during building.  This is the PR for the SDK: https://github.com/microsoft/botbuilder-dotnet/pull/5477

**Describe the solution you'd like**
When luis:

[2021-05-12 21:54] tsuwandy opened #1235 "bf orchestrator:add remove previously added data source"
## Versions
What CLI version are you using.
4.13.3

## Describe the bug
Adding a new data source to orchestrator via bf orchestrator:add command (equivalent to dispatch add command) will remove previously added sources

## To Reproduce
1. Add a LUIS/QnA Maker source with the command "bf orchestrator:add".  Check orchestrator.settings.json and make sure it has the added data source.
2. Repeat #1 wi

[2021-05-14 18:43] chrimc62 commented on #1234
@cosmicshuai hold off on this for the time being.  Based on SDK feedback, I'm likely to tweak this.

[2021-05-14 19:49] #1235 closed

[2021-05-17 08:11] kwoxer commented on #599
That is giving me a 200 code. So there is some issue with Composer. I already have contacted Microsoft support 5 days ago. And he was also not able to fix that issue. So I think it is something with Composer or Azure.

Tomorrow he will call me back to fix that issue. Let's what the reason is.

[2021-05-18 20:03] grayjeremy opened #1238 "cli install failed => orchestrator-core not found"
## Versions
What CLI version are you using: N/A trying to install
What Nodejs version are you using: 8.11.1 64bit
What command-line interpreters are you using: cmd, powershell (both admin)
What OS are you using: windows 10

## Describe the bug
When I run  "npm install -g @microsoft/botframework-cli" I get the error

"response status 404 Not Found on https://bcmodelsprod.azureedge.net/native/orches

[2021-05-20 12:51] kwoxer commented on #599
Reason was that the resource was incorrect. But I created the resource with Composer. But the automated generating is incorrect.

So in case you have this issue simply create the LUIS resource in Azure directly.

Or wait until the bug in composer is fixed.

[2021-05-21 13:23] devanshudravid commented on #1238
I am getting the same error today

[2021-05-21 13:25] devanshudravid commented on #1238
@vishwacsena

[2021-05-21 14:10] grayjeremy commented on #1238
I ended up and created a fresh visual studio VM and was able to get this working.  My guess is that my old version of nodejs caused this but for some reason when I install a later version of node...npm doesn't work so I can't test it locally.  However, I don't see how an old version of node/npm could map to a different orchestrator version that doesn't exist and cause this error so I thought it wa

[2021-05-21 14:29] devanshudravid commented on #1238
node - v16.0.0
npm - 7.14.0
OS - Windows 10

[2021-05-21 14:29] devanshudravid commented on #1238
https://bcmodelsprod.azureedge.net/native/orchestrator-core-v4.13.1-node-v57-win32-x64.tar.gz if you open this url it says blobnotfound

[2021-05-21 17:59] devanshudravid commented on #1238
worked for me with Node 14.0.0, not working on Node 16.0.0

@tsuwandy @munozemilio

[2021-05-21 20:37] tsuwandy commented on #1238
@devanshudravid, @grayjeremy, we are working on supporting node 16 for the next release.

[2021-05-27 03:38] mattmichal commented on #1238
I had the same "404 Not Found on https://bcmodelsprod.azureedge.net/native/orchestrator-core-v4.13.1-node-v57-win32-x64.tar.gz" error on Windows 10 with node v11.3.0. Upgrading to node v14.17.0 and restarting the install resolved the issue.

[2021-06-03 17:37] #1210 closed

[2021-06-15 06:16] SharmaHarsh7 opened #1242 "Bot Framework CLI - Cognitive models 'Remote To Local' command issues"
## Versions
What CLI version are you using : **2.24.2**
What Nodejs version are you using: **14.17.0**
What command-line interpreters are you using: **Power-shell Core 7**
What OS are you using: **Windows 10**

## Describe the bug
I am using MS Virtual Assistant Template for my bot development project.

When I ran the command './deployment/scritps/update_cognitive_models.ps1 -RemoteToLocal', it gi

[2021-06-15 18:12] thomas-chung commented on #1242
Hi @SharmaHarsh7 thanks for reporting the issue! Currently we are triaging the issue. For clarity sake, did the script succeeded in execution at the end?

[2021-06-16 06:55] SharmaHarsh7 commented on #1242
No, we are still facing the same issue and because of this Dispatch and QnA KBs are not getting updated.

Completely blocked now.

[2021-06-16 22:14] scheyal commented on #1221
Status: consulting with Dong. Update soon.

[2021-06-17 16:55] thomas-chung commented on #1242
Thanks @SharmaHarsh7. I have taken a look and the issue doesn't seem to be relating to the script itself. Internally we run _bf qnamaker:kb:export_ and based on the output of the error (converting circular structure to JSON) and this could be an issue with some of the json serialization/deserialization within bf cli. Please give me a couple hours, I will follow up with our counterparts in BF CLI t

[2021-06-17 17:13] thomas-chung commented on #1242
@munozemilio Can you please help take a look here? BF CLI seems to be choking on certain json here. Also the version of the bf cli is from a long time ago (2.24.2, latest is 4.13). So I wonder if there are bug fixes since that could have eliminate this.

[2021-06-18 01:10] scheyal commented on #1222
Update: waiting for PR merge.

[2021-06-18 01:11] scheyal commented on #1221
Update: no update. scheduled a meeting. Proposed that the fix should come by scanning the .dialog files (i.e. get it from the source, don't require repeat in another source).

[2021-06-18 09:58] SharmaHarsh7 commented on #1242
I investigated the issue further and got below error:

command : bot qnamaker:init

![image](https://user-images.githubusercontent.com/8860380/122543784-c880b400-d049-11eb-8dcf-ce96cad7efb4.png)

[2021-06-22 00:11] scheyal commented on #1221
Meeting summary:
- We will create new "discover" command in LUIS & Orchestrator BF CLI commands that will discover and produce listings of language assets in a way that would be consumable by the corresponding build commands.
- @boydc2014  will follow up next.
- This work will be scheduled for R15 since it can be risky, and we have an intermediate workaround.

[2021-06-22 04:57] munozemilio commented on #1242
Hello @SharmaHarsh7 thanks for reporting this, at the moment bf cli does not support Nodejs >= 14.
We will support it in the upcoming release. I will close this bug since this is a duplicate of #1059

[2021-06-22 04:57] #1242 closed

[2021-06-22 16:14] hcyang opened #1244 "LU parser can generate erroneous entity output in LUIS JSON output"
## Versions
What CLI version are you using.
the 'main' branch

What Nodejs version are you using
v12.14.1

What command-line interpreters are you using
API

What OS are you using
Windows 10

## Describe the bug
Below is the code snippet using bf-cli's LU parser and generate a LUIS JSON object. It can generate an erroneous entity label which is not specified in the input LU file.
Will share the LU

[2021-06-22 17:17] scheyal commented on #1101
Meeting Summary:
1. Create the functionality in a CLI library to be used by Composer. This is for proper separation of functionality from Composer for reusability and composability.
2. CLI head is lower priority (P2) as we haven't identified yet a clear usecase need that cannot be accomplished as easily with standard dev tools (sync/diff/merge), but we think it'll be a small delta to light this up

[2021-06-23 00:42] #1222 closed

[2021-06-23 15:17] tsuwandy opened #1247 "Update dependency of @microsoft/bf-orchestrator package to 4.14.0-preview version of orchestrator-core"

[2021-06-23 17:11] mdrichardson opened #1248 "Unable to install `@next` / `4.14.0-dev.20210623.37f59ec`"
You guys might already be tracking this, so feel free to close.

This is also breaking both [.NET](https://fuselabs.visualstudio.com/SDK_Public/_build/results?buildId=254059&view=logs&j=e09fb113-3a3c-5c38-2b7a-0ae39f098007&t=30c04495-7e98-5dec-ddbc-714c440fdea0&l=150) and [JS](https://github.com/microsoft/botbuilder-js/pull/3792/checks?check_run_id=2897291974#step:8:23) SDK CI checks, currently.

[2021-06-23 17:57] hcyang commented on #1223
This issue now depends on a successful resolution of a newly found issue: https://github.com/microsoft/botframework-cli/issues/1244.
Reduce to P1. Move it beyond R14. Bf-orchestrator-cli can consume an internal JSON input and avoid consuming LU input due to the lu-parser 15000 constraint and potential 1244 bug.

[2021-06-23 21:30] #1247 closed

[2021-06-23 21:50] mdrichardson commented on #1248
Disregard. Seems to be working now. Maybe dependency packages were slow to publish?

[2021-06-23 21:50] #1248 closed

[2021-06-24 16:12] #1220 closed

[2021-06-24 18:19] akashpavate58 opened #1251 "Bot Framework CLI not installing inside a docker image"
# Problem Statement
I am trying to create an Azure Bot Builder engine on docker.
Below is my simple docker file.

# Version 1.0
[code]

## Error
[code]

# Version 2.0
[code]

## Error
[code]

[2021-06-24 22:27] tsuwandy opened #1252 "R14 improvements for bf orchestrator cli"
1.  bf orchestrator:remove command (to remove data sources added via bf orchestrator:add)
2.  Provide base model download progress pct to onProgress handler so Composer could display base model download progress
3.  bf orchestrator:create should do incremental update to snapshot file if there exists a snapshot file.

[2021-06-28 18:56] #1216 closed

[2021-06-28 19:21] #1059 closed

[2021-06-28 20:03] tsuwandy commented on #1238
@devanshudravid , @grayjeremy , @mattmichal , we'll support nodejs version >= 14 starting from 4.14 version.

[2021-06-28 20:05] tsuwandy commented on #1251
@akashpavate58, what's the version of node installed with the image node:lts-slim?  if it's node 16, it's not yet supported but will be with bf cli version 4.14

[2021-06-28 20:24] daveta commented on #1251
Assuming it's 4.17..
https://github.com/nodejs/docker-node/blob/1d04d72efc47227406ba321479eef0e58484f80a/14/stretch-slim/Dockerfile#L6

[2021-06-29 05:39] #1252 closed

[2021-06-29 08:54] #1234 closed

[2021-06-29 17:10] akashpavate58 commented on #1251
@tsuwandy & @daveta :
Thank you so much. That worked!

Here's the final Dockerfile that I settled with.
[code]

[2021-06-29 17:22] #1251 closed

[2021-06-29 20:03] MCKRUZ opened #1257 "Newtonsoft.Json.JsonReaderException - Unexpected character encountered while parsing value when trying to utilize"
## Versions
I'm using version 4.13.3 of the CLI

## Describe the bug
I exported out the attached
[PS-CustomerService-Test.txt](https://github.com/microsoft/botframework-cli/files/6736077/PS-CustomerService-Test.txt)
json file into a new class and then ran this code.

[code]
Where **_botServices.Dispatch** is of type **LuisRecognizer**

It's failing in this piece of code

'''
var app = JsonConvert.

[2021-06-30 16:55] taicchoumsft opened #1258 "bf-orchestrator: Add Node V16 support"
Node V16 support for `bf-orchestrator` is a **nice to have** since it goes into LTS in October, and `orchestrator-core` already has support for Node V16.

We get this error today when building in Composer with Node V16:
[code]

**Describe the solution you'd like**
Modify the orchestratorlib (and other Orchestrator supporting libs)`package.json` engine compatibility to include Node V16, since `orch

[2021-06-30 20:32] tsuwandy commented on #1257
@MCKRUZ, could you clarify?  You used bf luis to esport a LUIS app?  The bot runs against a LUIS Dispatch app, correct?  This error is run time error.

[2021-06-30 20:56] MCKRUZ commented on #1257
I exported out using the LUIS gui, yes it runs against a dispatch app that is correct.  And yes it's a runtime error also correct.

[2021-07-02 13:51] MCKRUZ commented on #1257
So I figured out the issue as to the "why" it's failing..

'''
// <auto-generated>
// Code generated by luis:generate:cs
// Tool github: https://github.com/microsoft/botframework-cli
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>
using Newtonsoft.Json;
using Newtonsoft.Json.Serialization;
using System;
using System.Collections.Generic;

[2021-07-07 02:29] tsuwandy opened #1262 "Don't do incremental update to LabelResolver when there is no existing blu file"
Doing incremental update is way slower when LabelResolver.addBatch when there is no existing blu file.  This is a regression from 4.13 version for when there is no existing snapshot.

[2021-07-07 17:35] tsuwandy commented on #1238
v 4.14 of https://www.npmjs.com/package/@microsoft/botframework-cli (deploying soon) will require node v14.

[2021-07-07 17:35] #1238 closed

[2021-07-07 18:12] axelsrz commented on #1257
Hello @MCKRUZ thanks for submitting this. We will provide a fix in our next milestone R15. Thanks

[2021-07-08 05:58] #1262 closed

[2021-07-19 19:46] chrimc62 opened #1270 "bf-orchestrator should not swallow errors"
## Versions
@microsoft/bf-orchestrator-cli 4.14.1

## Describe the bug
Orchestrator should not swallow underlying errors.  For example in OrchestratorHelp.ts you see this code:
[code]
This means you have no idea why parsing failed because error is not reflected.

## To Reproduce
Steps to reproduce the behavior:
1. Create an LU file with improper syntax
2. bf orchestrator:create with that file

##

[2021-07-20 02:09] chrimc62 opened #1271 "bf orchestrator:create does not handle nested imports"
## Versions
@microsoft/bf-orchestrator-cli 4.14.1

## Describe the bug
If you have multiple level imports, then create will fail because it cannot find the nested imports.

## To Reproduce
Steps to reproduce the behavior:
1. Create a.lu which imports b.lu which imports c.lu
2. Call orchestrator:create -i a.lu
3. You will get an error indicating it could not find the source for c.lu

## Expected be

[2021-07-20 02:13] chrimc62 opened #1272 "bf orchestrator:create over LU files fails on the second call"
## Versions
@microsoft/bf-orchestrator-cli 4.14.1

## Describe the bug
If you have an LU file with entity labels in it and call orchestrator:create twice, then you will get an undefine entity name.

## To Reproduce
Steps to reproduce the behavior:
1. Create an LU file a.lu that includes an entity label.
2. Call bf orchestrator:create -i a.lu
3. Call bf orchestrator:create -i a.lu again
4. The seco

[2021-07-20 02:17] chrimc62 opened #1273 "bf orchestrator:create fails when LU files have labels"
## Versions
@microsoft/bf-orchestrator-cli 4.14.1

## Describe the bug
When you have an LU file with labels you get a parsing failure when doing create.

## To Reproduce
Steps to reproduce the behavior:
1. Create an LU file a.lu that includes entity labels.
2. Call bf orchestrator:create -i a.lu
3. It will fail to parse.

## Expected behavior
Entities should work.

## Additional context
The issue

[2021-07-22 18:22] tonyanziano commented on #1054
Hi @daveta , was the `node-gyp` dependency ever bumped to get rid of this warning in bf-cli? If so, please close this issue. Thanks

[2021-07-23 02:55] #1270 closed

[2021-07-23 06:20] sreejithrkknd opened #1275 "When try to create orchestator snapshot file I am getting following error"
## Versions
What CLI version are you using- latest
What Nodejs version are you using- latest
What command-line interpreters are you using
What OS are you using- windows

## Describe the bug
2021-07-23 11:48:35.2446284 [E:onnxruntime:, inference_session.cc:1294 onnxruntime::InferenceSession::Initialize::<lambda_14ab80433efd07306ceb190544d07c3a>::operator ()] Exception during initialization: bad all

[2021-07-26 15:24] #1273 closed

[2021-07-26 15:25] #1271 closed

[2021-07-26 15:25] #1272 closed

[2021-07-26 15:44] chrimc62 opened #1276 "Undefined error when parsing QnA file using LU parser"
## Versions
@microsoft/botframework-cli/4.15.0-dev.20210723.bf1f054 win32-x64 node-v14.16.0

## Describe the bug
This was reported by a customer. If you have a QnA file with a link across multiple lines then you will get an 'undefined' error rather than any useful diagnostics.

## To Reproduce
1. Create a QnA File foo.qna like:
[code]
2. bf orchestrator:create -i foo.qna -m basemodel
3. You will g

[2021-07-26 18:12] taicchoumsft commented on #1275
@tsuwandy , @hcyang , you guys recently saw and diagnosed this issue in a IcM, do you guys have any input here?

[2021-07-26 18:35] tsuwandy commented on #1275
@sreejithrkknd, could you delete everything in model folder and redownload the base model with bf orchestrator:basemodel:get command?

Try the create command and let us know if you are getting the same error.

[2021-07-26 20:27] hcyang commented on #1275
The "bad allocation" error was simply that Orchestrator cannot allocate enough memory from the running machine for loading a base model. It can be resolved by ensuring sufficient memory bandwidth, such as cancelling some memory-hogging processes or using a machine with more physical memory, etc. We have seen this issue from an internal issue report. @sreejithrkknd, please use Task Manager or simil

[2021-07-27 06:02] sreejithrkknd commented on #1275
I tried these steps but not worked.

[2021-07-27 06:05] sreejithrkknd commented on #1275
My pc is having enough memory. It is not related to memoryif I perform the command 7 or 8 times maybe it will work. sometimes doesn't. I tried restart also sometimes it will work but it's not a permanent solution

[2021-07-27 08:32] hcyang commented on #1275
Hi @sreejithrkknd, please provide your hardware configuration, especially the memory size. Please provide the screenshot of Task Manager's memory utilization before you ran the "create" command.
I noticed that you were using Windows, were you using bf-cli x86 or x64 build?
Please run 'bf --version' and report the version output.
Please also provide the model version/key unless you were using the d

[2021-07-28 07:01] sreejithrkknd commented on #1275
![image](https://user-images.githubusercontent.com/87656788/127278162-d63621ae-4675-414f-8afb-8f5615e5c752.png)
bf version- @microsoft/botframework-cli/4.14.1 win32-x86 node-v14.17.3
using default model

model- config.json
{
  "VocabFile": "vocab.txt",
  "ModelFile": "model.onnx",
  "Name": "pretrained.20200924.microsoft.dte.00.06.en.onnx",
  "Framework": "onnx",
  "Publisher": "Microsoft",
  "Mod

[2021-07-28 08:11] hcyang commented on #1275
Hi @sreejithrkknd, the Task Manager memory screenshot was taken before you tried to run the "create" command, right? Looks like your machine has very little free space left for allocating a base model, model.onnx. Even though its disk size is about 261MB, but it would require a contiguous and larger space in main memory to be de-serialized. If you don't have a machine with more memory, then you ca

[2021-07-28 19:56] daveta commented on #1275
Hi @sreejithrkknd, Btw - it's recommended in production, you run with x64 hosts.

[2021-07-28 20:47] hcyang commented on #1275
Hi @sreejithrkknd, I am going to close the issue as the problem is well understood and there are plenty of solutions and workarounds to mitigate your situation. Feel free to discuss the issue with us in the future.

[2021-07-28 20:47] #1275 closed

[2021-07-28 22:44] scheyal opened #1277 "Need to parse error from bf luis command"
Getting error from LUIS command but the error structure isn't parsed so I can't tell what's wrong.

## version
@microsoft/botframework-cli/4.14.1 win32-x64 node-v14.17.3

## command

[BF]c:\workspace\botroot\sdk\Orchestrator\Samples\dotnet\nlp-with-entities>bf luis:build --in CognitiveModels --authoringKey 9b4....  --botName OrchEntitySample --log
Loading files...

c:\workspace\botroot\sdk\Orchest

[2021-08-02 18:00] Brent-Higgins opened #1279 "luis:build does not work when more than 100 luis apps in authoring resource"
## Versions
@microsoft/botframework-cli/4.13.3 darwin-x64 node-v12.22.4

## Describe the bug
luis:build does not work when more than 100 luis apps in authoring resource.
It believes you are creating a new app and gets the following error.

Creating LUIS.ai application: azure-optumrx(composer)-MoreHelp.en-us.lu version:0.1

Luis build failed: An application with the same name (azure-optumrx(compose

[2021-08-03 15:09] sibbl opened #1280 "Orchestrator create: parsing lu file fails if ML entity has same name as pattern"
## Versions
What CLI version are you using: 4.14.1
What Nodejs version are you using: 14.16.0
What command-line interpreters are you using: `bf orchestrator:create`
What OS are you using: Windows 10

## Describe the bug
We do have a valid and working LUIS app which has an `Address` ML entity which contains a child `Name`.
Besides, we do have a `patternany` entity which is also called `Name`.

Ever

[2021-08-03 18:10] benbrown commented on #1279
@munozemilio can you take a look at this? looks like an issue where the API is not returning the full result set.

[2021-08-04 10:50] ooorndtski opened #1281 "Member in entity class not created correctly using bf luis:generate:cs"
## Versions
BF-CLI: @microsoft/botframework-cli/4.14.1 win32-x64 node-v14.6.0
NodeJs: v14.6.0
CommandLine: Git Bash
OS: Windows 10

## Describe the bug
When creating the c# class of a luis app the botframework-cli does not create entity classes of ML entities containig subentities correctly in some cases.

## To Reproduce
Take this exported luis app:

[code]

Please notice the entity `Device` with

[2021-08-04 18:05] benbrown commented on #1281
@munozemilio can you check this out?

[2021-08-04 18:08] benbrown commented on #1280
@munozemilio can you take a look here?

[2021-08-05 02:54] hcyang commented on #1280
Hi @sibbl,

There is an error parsing the input file, 'sample.lu'
The following non-Orchestrator command cannot succeed, either.
Please use a different name. We will improve the error message, but I will close the issue for now as it's not a bug, the issue is well understood, and there is an easy workaround. Feel free to comment and/or reopen the issue.

bf luis:convert --in .\dataSources\sample.l

[2021-08-05 02:54] #1280 closed

[2021-08-05 06:19] munozemilio commented on #1279
Closed by #1282 It should be available in our nightly build starting tomorrow.
[code]

[2021-08-05 06:19] #1279 closed

[2021-08-05 07:50] ooorndtski commented on #1281
It get's more stranger. I've updated the bug report. Have a look at the edit section at the end.

[2021-08-06 17:50] axelsrz commented on #1281
Hello @ooorndtski thanks for logging this. We're taking a closer look at this scenario to better understand if this is a bug or a limitation of the use case. Could I ask for some extre info, like if you are making these changes directly in the lu file or through the luis portal?

Thanks.

[2021-08-07 09:58] corepk opened #1289 "Package Manager Error"
I am getting a Package Manager error when I tried to add a new package/component from the package manager

Could not load component list:Error Cannot create property '$bundled' on string '<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/><style>body{margin:0px;padding:0px;}iframe{width:100%;height:100%}</style><iframe src="http://www.airtel.in/dot/" width="100

[2021-08-08 23:47] scarpentier commented on #599
I created the resource in Azure (not in Composer) and I'm also having this issue.

[2021-08-09 06:56] ooorndtski commented on #1281
@axelsrz I made these changes in the luis portal.

[2021-08-09 12:04] Shameeritc commented on #599
Same issue got resolved for me.
Step 1 - Logged in luis portal
Step 2 - Selected the azure resources
Step 3 - Selected authorisation for the same
Step 4 - Copied the LUIS key from Luis website
Step 5 - Pasted in the Bot composer

It Worked for me.

[2021-08-09 22:42] munozemilio commented on #1221
@boydc2014 is this still valid? will this be released in R15?

[2021-08-10 14:59] daveta commented on #1187
@scheyal : Can we close this?

[2021-08-10 15:01] daveta commented on #1176
@hcyang : Can we close this now?

[2021-08-10 15:03] daveta commented on #1054
Yep, this was fixed - the orchestrator is now not a plugin, but in the main bf-cli package.

[2021-08-10 15:03] #1054 closed

[2021-08-10 16:25] hcyang commented on #1176
@munozemilio, we found some bf-cli tests failing in one of our ADO pipeline for Orchestrator. I think you would be interested getting an ADO Mac pipeline to test all bf-cli unit tests.

[2021-08-11 05:11] axelsrz commented on #1281
Thanks, I will look into this and provide an update

[2021-08-11 09:33] rohansainiCT commented on #1275
I am same issue on app service. This app service is on S1.

TypeError: Exception during initialization: bad allocation
    at OrchestratorRecognizer._initializeModel (C:\home\site\wwwroot\node_modules\botbuilder-ai-orchestrator\lib\orchestratorRecognizer.js:272:35)
    at OrchestratorRecognizer.<anonymous> (C:\home\site\wwwroot\node_modules\botbuilder-ai-orchestrator\lib\orchestratorRecognizer.js:

[2021-08-11 17:21] hcyang commented on #1275
Hi @rohansainiCT, the Azure App Service S1 only offer 1.75GB of RAM, so it's a bit tiny (see the attached image). What model did you try to run? Can you try using the smaller models as suggested (and see the list below)? Thanks.

pretrained.20200924.microsoft.dte.00.03.en.onnx
pretrained.20210521.microsoft.dte.01.06.int.en.onnx

![image](https://user-images.githubusercontent.com/370110/129074272-c

[2021-08-17 16:11] vdimitrova12 opened #1284 "Botbuilder Dispatch command line issue"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
version 4.14.1 for windows

## Describe the bug
bf orchestrator:add command cannot add QnA model. It gives me 401 error in command tool. I have tested in Postman the

[2021-08-17 21:48] danieldangler opened #1283 "Cant use own set of knowledge base files in the Bot with orchestrator Sample"
## Versions
What CLI version are you using: 2.27.1
What Nodejs version are you using: 14.17.5
What command-line interpreters are you using: Powershell 7
What OS are you using: WIndows 10 Professional

## Describe the bug
I was trying to follow the Bot-Builder Sample "14.nlp-with-orchestrator" with my own set of QnA Maker Knowledge Bases but that isnt working for me. Everything works fine until i t

[2021-08-18 17:32] jongon commented on #1276
I have the same problem here. I'm working with tsv files meanwhile

[2021-08-18 22:55] tsuwandy commented on #1283
@danieldangler, you could skip the
bf qnamaker:build step if you already  have your QnA Maker kb.   bf orchestrator:create  command can handle qna file in tsv format.

[2021-08-19 00:55] tsuwandy commented on #1284
@vdimitrova12,  endpoint is not needed parameter to add QnA Maker kb.

Did you use the key of the QnA Maker from Azure portal (portal.azure.com)?
![image](https://user-images.githubusercontent.com/10739108/129990744-a30e44a8-4ee3-42c9-90da-a0dde95744af.png)

It's not the endpoint key from qnamaker.ai portal.

[2021-08-21 00:59] SRGajjala opened #1286 "Entities and Patterns are not working with orchestrator"

[2021-08-23 13:46] tracyboehrer commented on #1286
@SRGajjala Can you provide some more detail about this issue?

[2021-08-23 14:01] tracyboehrer commented on #1281
@axelsrz What is the status of this?

[2021-08-23 14:11] SRGajjala commented on #1286
I have added entity of Regex Entity type and used it in patterns feature of Luis.
I need to extract the information such as ticket number from user utterance by matching to the regex entity.
If the user submits any query matching the pattern, we are not able to get high score for the intent having this pattern defined.

[2021-08-24 18:03] tracyboehrer commented on #1286
@SRGajjala Is this in a Composer bot?  Can you provide the specific regex and sample utterance we can use to investigate?

[2021-08-25 17:26] nephinj opened #1287 "Orchestrator fails with multilingual model on Azure Sites"
## Versions
@microsoft/botframework-cli/4.14.1
win32-x64
node-v14.13.0

## Describe the bug
When building a model with pretrained.20210205.microsoft.dte.00.06.unicoder_multilingual.onnx azure sites does not seem to find the model or thinks it is corrupt.  Code works in the emulator and with ngork when running it locally.  If I switch to the default English model it all works fine locally and on Az

[2021-08-30 13:51] nephinj commented on #1287
Switching to x64 and bumping the memory to 14GB did not  help.  I can see 6GB of memory free in application insights.
![image](https://user-images.githubusercontent.com/2805536/131349935-78a0db71-0f71-4a23-a872-fbe9cfa8ab38.png)

[2021-08-30 17:44] hcyang commented on #1287
Hi @nephinj, please give us the exact Azure VM config you are using, so we can repro. Thanks.

[2021-08-30 18:12] nephinj commented on #1287
It is running on Azure App Service with these settings:
![image](https://user-images.githubusercontent.com/2805536/131384626-1caded16-2517-4212-9ca0-64c1eb4028bf.png)
![image](https://user-images.githubusercontent.com/2805536/131384670-8dcdaa8e-1831-4e9a-86b7-b5f1bf101748.png)

[2021-08-31 18:12] LeeParrishMSFT commented on #1286
Closed due to lack of response.

[2021-08-31 18:12] #1286 closed

[2021-08-31 18:14] LeeParrishMSFT commented on #1283
Closed due to inactivity.

[2021-08-31 18:14] #1283 closed

[2021-08-31 21:03] hcyang commented on #1287
Hi @nephinj, thanks for the Azure configuration. We can repro the issue on an Azure VM. Will debug,

[2021-09-01 01:01] hcyang commented on #1287
Hi @nephinj, we suspect that you might be using a x86 nodejs installation in your Azure VM, thus the bf-cli packages were also installed as their 32-bit versions. Please double check if your Azure VM were installed with x64 version or not.

[2021-09-02 08:10] rohansainiCT commented on #1275
Any change in English base model as compared to multilingual models

[2021-09-02 16:17] hcyang commented on #1275
Hi @rohansainiCT, EN-only models are optimized specifically for EN-only scenarios, so its vocabulary is small, containing mostly English tokens. Multilingual models can apply to any language and have a much bigger vocabulary. We have some internal performance tracking of Orchestrator default models, but the performance numbers may vary datasets to datasets. In short, please try them out on your da

[2021-09-07 18:07] a-b-r-o-w-n commented on #1284
Closing due to inactivity.

[2021-09-07 18:07] #1284 closed

[2021-09-08 21:59] axelsrz commented on #1281
This is indeed an issue, we will provide a fix in our next cli release or sooner if a patch comes up.

Thanks

[2021-09-10 22:25] tsuwandy commented on #1276
@jongon, could you share the problematic .qna file?

[2021-09-10 22:48] chrimc62 commented on #1289
@benbrown I have no idea why this is happening.  The merge process will go out to json schema as part of validation, but except for temporary internet issues it should work fine.  Do the people that are seeing this have poor internet access?  Wonder if there is a timeout.  The package uses axios to resolve URLs--we switched to that to better deal with people that have proxies.  Is it possible they

[2021-09-10 22:55] chrimc62 commented on #1289
@ParagHurkat is it possible this is caused by an issue with your proxy server?
The XML looks like it is proxy related.  When we try to resolve a URL we are getting back that XML string as a result and the code is expecting an object which is why you get the error stack when we try to set a property on it.

[2021-09-10 23:01] munozemilio commented on #1277
@cosmicshuai is this something you could take a look?

[2021-09-11 00:21] tsuwandy commented on #1276
Looks like the content in the example above is invalid, see this page for valid .qna content.  https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-qna-file-format?view=azure-bot-service-4.0

Prompts should be part of a question.  The following will work fine:
# ?store hours
[code]
**Prompts:**
- [Files that Cannot Sync](#1)

<a id = "1"></a>

# ? Files that Cannot Sync
[code

[2021-09-13 21:39] hcyang commented on #1287
Hi @nephinj, I think this issue is well understood and can be closed. Let us know if you have more questions.

[2021-09-13 21:41] hcyang commented on #1287
Hi @nephinj, I think this issue is well understood and can be closed. Let us know if you have more questions.

[2021-09-14 00:01] #1289 closed

[2021-09-15 15:54] MatteoMeil opened #1292 "Lu file's content altered and wrong error when using unavailable features"
## Versions
What CLI version are you using: **4.14.1**
What Nodejs version are you using: **14.17.1**
What command-line interpreters are you using: **CMD (Windows' command prompt)**
What OS are you using: **Win10 x64**

## Describe the bug
<h4>TL;DR <small>(details and possible fixes in first comment)</small></h4>

   * Content of `.lu` file is altered based on result of [this method call](https:/

[2021-09-15 16:26] MatteoMeil commented on #1292
## Long version
### First part: content altered
Content of `.lu` file is altered based on result of [this method call](https://github.com/microsoft/botframework-cli/blob/4.14.0/packages/lu/src/parser/lubuild/builder.ts#L71) during loading of file content, i.e.: original file is parsed and an internal representation of the file is used to "recreate" its content.

However, this causes a wrong re-cre

[2021-09-15 16:39] MatteoMeil opened #1293 "Prebuilt V2 entities need update"
## Versions
What CLI version are you using: **4.14.1**
What Nodejs version are you using: **14.17.1**
What command-line interpreters are you using: **CMD (Windows' command prompt)**
What OS are you using: **Win10 x64**

## Describe the bug
Prebuilt entities defined in [this file](https://github.com/microsoft/botframework-cli/blob/4.14.0/packages/lu/src/parser/utils/enums/luisbuiltintypes.js) needs

[2021-09-15 23:53] tsuwandy opened #1294 "bf qna:export generates invalid .qna file"
https://stackoverflow.com/questions/68576131/bf-cli-parsing-error-on-exported-qna-maker-knowledge-base

[2021-09-16 15:49] MatteoMeil opened #1295 "Cross-Train generates a file with wrong culture"
## Versions
What CLI version are you using: **4.14.1**
What Nodejs version are you using: **14.17.1**
What command-line interpreters are you using: **CMD (Windows' command prompt)**
What OS are you using: **Win10 x64**

## Describe the bug
If a file is created without app information in the header part (i.e.: `@app.version` etc.), culture specified via filename, e.g.: `MyBot.it-it.lu` is not taken

[2021-09-16 16:03] MatteoMeil commented on #1295
One possible solution I found is to check [here](https://github.com/microsoft/botframework-cli/blob/4.14.0/packages/lu/src/parser/lu/lu.js#L21) for culture information in file name and possibly update `this.language`:

[code]

This permits to have `luOb.language` filled in [this line](https://github.com/microsoft/botframework-cli/blob/4.14.0/packages/lu/src/parser/lu/luMerger.js#L375) and updating

[2021-09-16 21:51] tsuwandy commented on #1276
Related issue https://github.com/microsoft/botframework-cli/issues/1294

[2021-09-17 00:57] tsuwandy commented on #1276
Fix should be available with the next bf cli daily deployment.

[2021-09-17 00:57] #1276 closed

[2021-09-17 18:19] srinaath commented on #1293
@MatteoMeil This looks to be tracked in the ticket you have enclosed and we would look to triage it in our upcoming releases. Closing this as a dupe.

[2021-09-17 18:19] #1293 closed

[2021-09-17 18:23] srinaath commented on #1295
@boydc2014 Could you have a look at this ticket when you get a moment.

[2021-09-17 18:27] srinaath commented on #1292
@munozemilio could you take a look at this ticket?

[2021-09-20 06:19] munozemilio commented on #1292
@cosmicshuai could you please take a look at the lubuilder piece, please?

[2021-09-20 15:34] hcyang opened #1297 "In luisCollate.js, the mergeResultsWithHash uses a hash code/table that can lead to collision"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
Give a clear and concise descript

[2021-09-20 20:39] #1297 closed

[2021-09-20 20:50] munozemilio commented on #1287
Hi @nephinj I'm closing this due to inactivity. Feel free to reopen if needed

[2021-09-20 20:50] #1287 closed

[2021-09-20 20:51] munozemilio commented on #1244
Closed by #1296

[2021-09-20 20:51] #1244 closed

[2021-09-22 23:01] boydc2014 commented on #1295
Sure looking at it.

[2021-09-25 18:40] fedsp opened #1301 "Unable to get local issuer certificate"
## Versions
What CLI version are you using.  **4.14**
What Nodejs version are you using **14.17.6**
What command-line interpreters are you using **windows cmd and powershell**
What OS are you using Windows 10 enterprise 10.0.18363 Build 18363

## Describe the bug
I can't perform the following command, which apparently download some pretrained things from microsoft servers:
`bf orchestrator:basemod

[2021-09-27 07:18] boydc2014 commented on #1295
@cosmicshuai have a PR to fix this linked above

[2021-09-28 17:44] tsuwandy commented on #1301
@fedsp. looks like your laptop has issues with SSL.    Could you get to this url from the browser https://aka.ms/pretrained.20200924.microsoft.dte.00.06.en.onnx

[2021-09-28 17:47] fedsp commented on #1301
Hi, yes, it downloaded a zip file.

[2021-09-28 20:43] tsuwandy commented on #1301
@fedsp , could you try the workaround for nodejs here:
https://jhooq.com/2-ways-to-fix-ssl-certificate-problem-self-signed-certificate-in-certificate-chain/#node-js

Unfortunately this is not something we could fix from CLI side and this is not a problem from using CLI from corpnet either.

[2021-09-29 13:08] fedsp commented on #1301
Hi, I tried both solutions, but unfortunately the error remains exactly the same.
The weird thing is that this is the first time that I'm facing this error, I never had this error with other nodejs package.
I did some research and there is some people saying that it would be good to see the url where this is trying to connect, access it using the web browser, dump the client certificates and manua

[2021-09-29 14:45] Dragos04 opened #1302 "qnamaker:convert with custom metadata error"
## Versions
I am using: @microsoft/botframework-cli/4.14.1 win32-x64 node-v14.17.0

## Describe the bug
I export the knowladge base with command **bf qnamaker:kb:export  --out=hybridTest.qna --qnaFormat**
[code]

<a id = "4"></a>

## ? Being a new employee I want to know when I can benefit from training?
- I'm on probation, can I do training?
- What courses can new employees do?
- What courses can

[2021-09-29 16:09] tsuwandy commented on #1301
@fedsp, the urls accessed by the command is:
https://aka.ms/pretrained.20200924.microsoft.dte.00.06.en.onnx
https://aka.ms/nlrversions_0.2

Could you try the first one and see if it works? If it still doesn't work with with the 2nd one.

https://www.askssl.com/unable-to-get-local-issuer-certificate/

[2021-09-30 13:27] fedsp commented on #1301
Hi, thanks for the documentation provided.
I am able to download the zip file from the first link, so at least from my browser everything is ok.

I just confirmed, and the same error occurs with a collegue laptop from my company.

[2021-09-30 17:47] mrivera-ms commented on #1292
@munozemilio, @cosmicshuai, is there any progress on this?

[2021-09-30 17:49] mrivera-ms commented on #1277
@munozemilio, @cosmicshuai, can you please update with the latest status?

[2021-10-01 13:29] cosmicshuai commented on #1277
I test this in my local env, copying the lu files as described in this issue from Botbuilder-Samples repo.
There is no build error in my case:
[code]
I've already added some extra check for the luis build error in this PR
https://github.com/microsoft/botframework-cli/pull/1214

The next step I did was I closed my Internet connection and run the command. I got the undefined error:
[code]

[2021-10-01 13:33] cosmicshuai commented on #1292
It still need some time to figure out the root cause. Can we move it to R16. I will do it ASAP.

[2021-10-01 13:34] cosmicshuai commented on #1221
Maybe we can move it to R16

[2021-10-01 18:27] #1277 closed

[2021-10-04 17:07] vinothkumar1097 opened #1304 "'bf' is not recognized as an internal or external command"
🚨 The issue tracker is not for questions 🚨
Hi Team,

I have an issue with using ["@microsoft/botframework-cli": "^4.14.1"] library in my nodejs project. Below is my sample snippet of my project. I'm just executing few bf commands with help from node-cmd library.

[code]

The above code works fine in my local. But when i deploy the same code to azure web app, i'm getting
[code]
I navigated to the K

[2021-10-05 20:13] munozemilio commented on #1304
Hello @vinothkumar1097 ...seems the cli might not be installed in the web app machine. Did you install it?

[2021-10-06 07:24] vinothkumar1097 commented on #1304
Hello Emilio, Thanks for the reply.

Yes. I've included bf cli as my dependency in my package.json file.
[code]
And the library is installed in the KUDU as well.
![image](https://user-images.githubusercontent.com/35162372/136158024-65b3c9ca-7804-4e23-a0d4-fef1993209c7.png)

This is the exact error message.
![image](https://user-images.githubusercontent.com/35162372/136158242-5236a400-1b9e-40ce-b51

[2021-10-06 18:30] munozemilio commented on #1304
Hi @vinothkumar1097 I believe you have to install bf cli [globally](https://nodejs.dev/learn/npm-global-or-local-packages). Let me know if that helps

[2021-10-11 18:24] fedsp commented on #1276
Hi @tsuwandy, what do you mean by the daily deployment?
I'm facing the exact same issue using the latest release.

[2021-10-18 18:54] rdivakar opened #1306 "bf orchestrator:create failing with parsing error"
## Versions

@microsoft/botframework-cli/4.15.0-rc0 win32-x64 node-v14.18.1
Node v14.18.1
Powershell
WIndows 11

## Describe the bug
Below command is failing with json parsing error.

` bf orchestrator:create --debug --hierarchical --in ./CognitiveModels --out ./generated --model ./model
`
Error:

[2021-10-18T18:46:43.816Z] LOG-MESSAGE: "refresh=undefined"
[2021-10-18T18:46:43.818Z] LOG-MESSAGE: "

[2021-10-19 17:06] tsuwandy commented on #1276
@fedsp, yes, it should be in the stable version before end of the month.

[2021-10-19 19:08] jane-bolton opened #1307 "bf luis:version:export "\n" instead of line breaks"
## Versions
- What CLI version are you using.
`4.14.1`
- What Nodejs version are you using
`14.8.0`
- What command-line interpreters are you using
`CMD`, `Powershell`
- What OS are you using
`Windows 10`

## Describe the bug
`bf luis:version:export --exportLU` returns a .lu file with "\n" literal instead of actual line breaks. The file cannot be used until the "\n" are replaced with actual line br

[2021-10-20 18:12] carlosscastro commented on #1307
@munozemilio FYI

[2021-10-29 21:55] tsuwandy commented on #1306
@rdivakar, I couldn't repro with bf version 4.15.0-rc0

D:\src\BotBuilder-Samples\samples\csharp_dotnetcore\14.nlp-with-orchestrator>bf -v
@microsoft/botframework-cli/4.15.0-rc0 win32-x64 node-v14.17.4

Could you check if you have orchestratorsettings.json file where you run the command, delete the file and try to run the command again?

These from your logs:
bf orchestrator:create --debug --hiera

[2021-11-02 18:02] lauren-mills commented on #1302
Closing due to inactivity. Please reopen as needed.

[2021-11-02 18:02] #1302 closed

[2021-11-02 23:18] munozemilio commented on #1294
Fixed by #1308

[2021-11-02 23:18] #1294 closed

[2021-11-03 15:00] vinothkumar1097 opened #1311 "Issue with command [bf orchestrator:create]"
Hi Team,

I'm recently facing issue with bf command. I'm generating .blu file based on model and .qna/.lu files.

command :
[code]

Below is the error message
[code]

model.config file
[code]

**OS : Windows**
**BF CLI Version : 4.14.1**
**Node version : 14.17.5**

Need your help to resolve this.

Thanks.

[2021-11-04 03:46] tsuwandy opened #1313 "bf orchestrator .qna file parser error was not pointing at the correct line number"
This is because bf orchestrator preprocess the .qna file before passing it to the parser.

[2021-11-04 06:32] tsuwandy commented on #1306
@rdivakar, could you try removing orchestratorsettings.json?  I think you used to run a few commands bf orchestrator:add (dispatch style commands and the old path was used instead.

[2021-11-04 06:33] tsuwandy commented on #1306
I have a fix to always take the path from the input if specified, but for now, removing orchestratorsettings.json will fix the issue.

[2021-11-05 17:42] munozemilio commented on #1313
Closed by #1312

[2021-11-05 17:42] #1313 closed

[2021-11-05 18:15] daveta commented on #1311
@vinothkumar1097 : I noticed the error message said it couldn't access `\Local\model\config.json` but you typed the `model.config` file by mistake.

Can you show the contents of `\Local\model\config.json`?  I should look something like this (depending on what model you chose to download).
{
  "VocabFile": "vocab.txt",
  "ModelFile": "model.onnx",
  "Name": "pretrained.20200924.microsoft.dte.00.06.

[2021-11-06 13:51] vinothkumar1097 commented on #1311
@daveta: Thanks for replying. Below is my ```model\config.json```
[code]
And below are the commands i'm executing to generate .blu file.
[code]

[2021-11-06 17:24] tsuwandy commented on #1311
@vinothkumar1097, could you update orchestratorsettings.json, should be in c:\local, update path inside inputs to c:\local:\datasources?  Then try the command bf orchestrator:create again?

[2021-11-07 21:28] SamVanhoutte opened #1315 "npm install of botframework cli not supported on MacOS M1 (arm64 architecture)"
## Versions
What CLI version are you using: latest to install
What Nodejs version are you using: 16.13
What command-line interpreters are you using: bash
What OS are you using : MacOS, M1 version

## Describe the bug

- MacOS, running on MacbookPro with M1 chipset
- Trying to install CLI through npm with this command: `npm i -g @microsoft/botframework-cli`
- The terminal shows the following errors

[2021-11-08 16:16] WNikolassss opened #1316 "BF CLI Orchestrator creation with .dispatch file Error"
### [Github issues](https://github.com/microsoft/botframework-sdk) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
@microsoft/botframework-cli/4.14.1 darwin-x64 node-v14.17.5
MacOS

## Describe the bug
During the orchestrator creation with .dispatch file this error occurs:
"Pleas

[2021-11-08 19:24] anishprasad01 commented on #1315
Hi @SamVanhoutte,

Composer does not support multiple aspects of this system configuration. Firstly, the Node version is too high. Composer's requirements specify 14.x LTS. Furthermore, Composer does not support Apple's M1 chips or the ARM64 architecture as a whole. The only supported MacOS architecture is x64. The documentation of these points is linked below for reference.

- https://github.com/

[2021-11-08 19:24] #1315 closed

[2021-11-09 21:33] tsuwandy commented on #1316
@WNikolassss, could you try installing this version and retry the same command?  Let me know if the same error persists. Thanks!

[2021-11-09 22:05] WNikolassss commented on #1316
Hey @tsuwandy, just tried, it failed but with another error.
Version: @microsoft/botframework-cli/4.15.0-rc2 darwin-x64 node-v14.17.5

Logs:

[2021-11-09T21:58:37.645Z] LOG-MESSAGE: "refresh=undefined"
[2021-11-09T21:58:37.646Z] LOG-MESSAGE: "OrchestratorHElper.readFile() calling ReadText.readSync()", argument0="/some-path/test.dispatch"
Refreshing luis data - id some-luis-id...
Refreshing qna dat

[2021-11-10 00:26] tsuwandy commented on #1316
Thanks @WNikolassss, will try to get a fix out soon...

[2021-11-10 23:45] munozemilio commented on #1316
Closed by #1317

[2021-11-10 23:45] #1316 closed

[2021-11-11 09:11] WNikolassss commented on #1316
@tsuwandy @munozemilio, is there some release candidate version that I can utilize to test that it has resolved the problem?

[2021-11-11 16:58] tsuwandy commented on #1316
@WNikolassss, try this daily version:
https://www.npmjs.com/package/@microsoft/botframework-cli/v/4.16.0-dev.20211111.15b5c37

Thanks!

[2021-11-11 19:39] munozemilio commented on #1316
@WNikolassss  the RC is https://www.npmjs.com/package/@microsoft/botframework-cli/v/4.15.0-rc3 you can install it as npm i -g @microsoft/botframework-cli@rc

[2021-11-12 13:04] WNikolassss commented on #1316
Thanks, @munozemilio @tsuwandy for your help, tried both daily/rc versions, the orchestrator is generating successfully.

However, I'm having an error regarding qna content that some qna questions have "\n question", as we are adding them automagically from user input, never had this issue with the dispatcher though.

Will be opening a new issue soon.
Will keep you posted.

[2021-11-15 13:26] GrazFuchs opened #1320 "bf luis:test command not working on Mac OS X"
## Versions
CLI Version 4.14.1
Nodejs version 14.15.0
Command-line interpreters: Bash
Mac OS X Bis Sur 11.6

## Describe the bug
When I try to test my LUIS App I'll get the following error message:

[code]
Command was
`bf luis:test -s "<subscription key>" -a "<app id>" -i "<testfile>.lu"`

## Expected behavior
I should get a testresponse from LUIS service.

[bug]

[2021-11-16 19:15] johnataylor commented on #1320
@anishprasad01 could you take a look, note this has been reported on Mac OS

[2021-11-16 23:30] anishprasad01 commented on #1320
Hi @GrazFuchs

I attempted reproduce your issue on my machine and I was able to successfully receive a test response from the LUIS application.

However, I noticed one potential easy mistake that might be causing your issue. When you filled in your subscription key for the `-s/subscriptionKey` parameter, did you use your **Prediction** resource key, or your **Authoring** resource key? When the LUI

[2021-11-17 10:07] prajwal-ainapur commented on #1289
Am getting the same error now. Using Composer 2.1.1. Please guide me on how to resolve this.

[2021-11-17 15:53] benbrown commented on #1289
@prajwal-ainapur this is due to your local network having a restriction on content. Make sure you can access json-schema.org.

[2021-11-18 04:14] prajwal-ainapur commented on #1289
I tried and am not able to access the json-schema.org line on my WiFI as well as Mobile Data. Any recommendation on how to overcome this?

[2021-11-22 14:38] aarohi-001 commented on #1307
@munozemilio
I'm facing the same issue, the flag --exportLU is not working for me. The command is still generating a json file. I had to explicitly mention file name with .lu extension to get a LU file.

Also the main issue is still same, the LU file generated is having \n in place of line breaks.

[2021-11-23 13:20] aarohi-001 commented on #1294
@munozemilio I am still facing the same issue while parsing the QnA file using this command:

`bf orchestrator:create --hierarchical --in ./CognitiveModels --out ./generated --model ./model`

Can you help out here

[2021-11-23 18:31] anishprasad01 commented on #1320
Closing due to inactivity

[2021-11-23 18:31] #1320 closed

[2021-11-23 19:08] mrivera-ms commented on #1311
@vinothkumar1097, is your issue resolved? Please re-open if you need more help.

[2021-11-23 19:08] #1311 closed

[2021-11-24 02:51] JorinZhu opened #1323 "Can not install BF CLI"
Hello, when i install BF CLI by command 'npm install -g @microsoft/botframework-cli' and stopped when "node-pre-gyp install" :

so i tried to rebuild the cli by command 'node-gyp rebuild',the error message is below:
![image](https://user-images.githubusercontent.com/20517079/143162342-45ffc696-d4f4-47df-9835-ebb14f82382c.png)

then i tried install again by command  'npm install -g @microsoft/botfr

[2021-11-24 18:17] mrivera-ms commented on #1323
@munozemilio, can you please take a look at this issue?

[2021-11-29 17:43] munozemilio commented on #1323
Hello @tsuwandy - could you assist with that Orchestrator error please?

[2021-11-29 18:43] tsuwandy commented on #1323
@JorinZhu, what's OS are you doing the install in?   I just tried and the install was finished successfully and I was able to use the bf orchestrator:basemodel:get command

[2021-11-29 18:45] tsuwandy commented on #1323
I see that you tried running the 'node-gyp rebuild' command?  You don't need to do it.

Could you try these?

Command:
npm uninstall -g @microsoft/botframework-cli
npm install -g @microsoft/botframework-cli
bf orchestrator:basemodel:list

[2021-11-30 19:30] aishwaryaumachandran opened #1324 "Not able to run bf orchestrator:basemodel"
I've been trying to set up the Orchestrator using the [sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/14.nlp-with-orchestrator)

I have the correct node version and I also have the microsoft/botframework-cli installed. I get an error at the _**"bf orchestrator:basemodel:get --out ./model"**

Error: Cannot find module '/usr/local/lib/node_modules/@micros

[2021-12-03 00:28] tsuwandy commented on #1324
@aishwaryaumachandran, what is the version of @microsoft/botframework-cli installed?

Could you try this:

Make sure this works:

Should show:
Display Orchestrator CLI available commands

USAGE
  $ bf orchestrator

OPTIONS
  -h, --help  Orchestrator commands help

COMMANDS
  orchestrator:add          Add examples from .lu/.qna/.json/.blu files, LUIS app(s) and QnaMaker kb(s) to Orchestrator

[2021-12-06 09:00] JorinZhu commented on #1323
@tsuwandy  hello, I have tried your solution but it was failed again,see the below info:
![image](https://user-images.githubusercontent.com/20517079/144815388-e73d2f1b-8914-45ce-9d73-1b457d57c3ac.png)

it was stopped when  excute the command "node-pre-gyp install " and i also use yarn to install it,but the result was failed too.

My OS is windows 10 and i installed the cli by PowerShell;
I guess m

[2021-12-06 09:05] JorinZhu commented on #1323
@tsuwandy    Because i can not install the  @microsoft/botframework-cli successfully, i tried use the dispatch cli but the region is not invalid.
![image](https://user-images.githubusercontent.com/20517079/144817920-40c0aea4-4b6f-4f66-9f6e-96efc4340624.png)

[2021-12-06 09:07] JorinZhu commented on #1323
@tsuwandy Because i can not install the @microsoft/botframework-cli successfully, i tried use the dispatch cli but the region is not invalid.
![image](https://user-images.githubusercontent.com/20517079/144818047-4922b108-beac-4e47-a8a3-d4e87818e94d.png)

[2021-12-06 13:29] tsuwandy commented on #1323
@daveta any ideas on why node-pre-gyp install would fail on Windows 10?

[2021-12-06 17:12] daveta commented on #1323
@JorinZhu : Is this 32-bit?  Can you on a regular command prompt send results for the following commands :
 `npm config list`
 `npm install -g node-gyp@8.0.0 && npm install -g @mapbox/node-pre-gyp@1.0.3`

[2021-12-07 06:53] JorinZhu commented on #1323
@daveta  Hello, here is my npm configuration:
![image](https://user-images.githubusercontent.com/20517079/144949860-ca075d90-c325-4ab7-b7a8-aa126c0a7194.png)

and i did as you said, but it did not work:
![image](https://user-images.githubusercontent.com/20517079/144980992-90931c8f-cbe6-4ca9-9736-81caa6b422fe.png)

[2021-12-08 19:15] aishwaryaumachandran commented on #1324
I have the 4.15 version of BF CLI.

The steps you provided helped and I was successfully able to train all the models. Thank you!

[2021-12-08 19:15] #1324 closed

[2021-12-09 12:41] fdundjer commented on #1323
Similiar issue on my side except it's a MacOs
[code]

[2021-12-17 01:39] JorinZhu commented on #1323
Finally i create an virtual machine in Germany and install this cli successfully, i guess maybe the network cause the install issues in China.

[2021-12-17 01:39] #1323 closed

[2021-12-30 03:39] hanhsia commented on #1324
I have the same issue in ubuntu 20.
I have followed you instruction to uninstall and install bf but still encounter the issue.
Here is the result:
bf -v
@microsoft/botframework-cli/4.15.0 linux-x64 node-v14.18.2
bf orchestrator
Display Orchestrator CLI available commands

bf orchestrator:basemodel:list
Error: Cannot find module '/usr/lib/node_modules/@microsoft/botframework-cli/node_modules/@micro

[2021-12-30 03:43] hanhsia opened #1326 "not able to run bf orchestrator:basemodel in ubuntu 20.04"
I have followed the instruction in #1324 to uninstall and install bf but still encounter the issue.
Here is the result:
bf -v
@microsoft/botframework-cli/4.15.0 linux-x64 node-v14.18.2
bf orchestrator
Display Orchestrator CLI available commands

bf orchestrator:basemodel:list
Error: Cannot find module '/usr/lib/node_modules/@microsoft/botframework-cli/node_modules/@microsoft/orchestrator-core/orch

[2021-12-30 08:48] aishwaryaumachandran commented on #1324
The only difference is the node version in my case. Maybe try downgrading to node 4.17 and give it a shot

@microsoft/botframework-cli/4.15.0 darwin-x64 node-v14.17.1

[2022-01-04 04:15] tsuwandy commented on #1324
@hanhsia, @aishwaryaumachandran is correct.  Node v14.18 is not yet supported.  Please downgrade to node 4.17 and try uninstall and installing @microsoft/botframework-cli/ again.  Thanks.

[2022-01-04 14:54] hanhsia commented on #1324
eh, that's strange, because our document doesn't say v14.18 is not supported. and i also installed node v14.18 in windows and bf works well.

@microsoft/botframework-cli/4.15.0 win32-x64 node-v14.18.1
anyway, i will try your suggestion in Linux.

[2022-01-10 07:33] hanhsia commented on #1324
I also tested it using V14.17.4 in windows server 2016. but it still failed with following error:
node -v
v14.17.4

Error: The specified module could not be found.
//?/C:/Users/itsp/AppData/Roaming/npm/node_modules/@microsoft/botframework-cli/node_modules/@microsoft/orchestrator-core/orchestrator-core.node
    at Module.patchedRequire [as require] (C:/Users/itsp/AppData/Roaming/npm/node_modules/@m

[2022-01-10 07:34] hanhsia commented on #1326
I also tested it using V14.17.4 in windows server 2016. but it still failed with following error:
node -v
v14.17.4

Error: The specified module could not be found.
//?/C:/Users/itsp/AppData/Roaming/npm/node_modules/@microsoft/botframework-cli/node_modules/@microsoft/orchestrator-core/orchestrator-core.node
    at Module.patchedRequire [as require] (C:/Users/itsp/AppData/Roaming/npm/node_modules/@m

[2022-01-10 21:39] tsuwandy commented on #1324
@hanhsia, did you install v14.17 node on the same machine as the v14.18?  or this is a new VM?  if in the same machine, did you uninstall and then re-install?

[2022-01-14 12:55] jag43 commented on #1257
Just wanted to say I encountered the same error following this pluralsight course [link](https://app.pluralsight.com/library/courses/microsoft-bot-framework-building-bots-getting-started-2019)

The above workaround fixed it :+1:

[2022-01-19 09:44] dawwa opened #1332 "bf orchestrator:build incorrectly loads the lu file name and causing processing failure."
The following screenshots shows different behaviors for same command and input
[code]

Not sure how it could end up with missing the `lu` part in the failed case. e.g., the log shows `Processed MyComposerSkill.en-us` instead of `Processed MyComposerSkill.en-us.lu`, which I suspect it's the reason.

The bf CLI and node versions are all same as seen below.
I managed to track down to this spot, but c

[2022-01-21 00:15] tsuwandy commented on #1326
@hanhsia, is the Ubuntu run in VM or Azure?

[2022-01-21 20:24] dawwa opened #1333 "az bot authsetting show - Scopes filed is not returned by az bot authsetting show"
**Version**
 2.22.1

**Describe the bug**
Scope is not included in the return value of `az bot authsetting show`

**To Reproduce**
* Create a Bot Auth Setting `MyTestAuthSetting` with `Azure Active Directory v2`
* Fill up the fields and have some test value in the `Scopes` filed.
* In PowerShell, try to use the following code to loop through all the properties in the return result.
[code]

**Expec

[2022-01-29 01:28] dawwa opened #1334 "bf luis:build is calling a different endpoint if no --endpoint specified"
## Versions
@microsoft/botframework-cli/4.14.1 win32-x64 node-v16.13.2

## Describe the bug
Error of
"Handling applications...
Luis build failed: The current API Key is calling host '**foo**-luisauthoring-westus.cognitiveservices.azure.com' with custom subdomain of '**foo**-luisauthoring-westus' which doesn't match the resource custom domain '**bar**-luisauthoring-westus'."

**Problem**
The CLI do

[2022-02-02 21:26] dkonyayev opened #1335 "Test Command Fails with Error "Provide an output directory""
When running a test, we have tried to provide -o=<out> and --out=<out> in different formats and we always get an error "ERROR-MESSAGE: "Please provide an output directory, CWD=c:\\Ezra\\Orchestrator, called from OrchestratorEvaluate.runAsync()"

Sample commands:
`bf orchestrator:test --in=\\generated\orchestrator.blu" --model=\\model -o=\\analysis --test=\\questions.txt`
`bf orchestrator:test --in

[2022-02-04 16:57] AndreaLeonangeli opened #1336 "Orchestrator - QnA Maker Alterations support"
### **Is your feature request related to a problem? Please describe.**

I'm currently exploring **QnA Maker Alterations** and the ability of the Bot Framework Orchestrator to handle them.
With a .qna QnA Maker knowledge Base file definition and a separate .json/.qna (downloaded and converted with the appropriate bf-cli commands) file of QnA Maker Alterations, the command to create an orchestrator

[2022-02-08 22:51] ramfattah commented on #1335
Hi @dkonyayev

Can you try to run the command as such -> `bf orchestrator:test --in test.lu --model model --out generated`.

Let me know if this works.

[2022-02-09 16:41] dkonyayev commented on #1335
That doesn't work. My snapshot is in the \\generated folder, so not sure how this would work out... I have tried a few more variations and none of these work

![image](https://user-images.githubusercontent.com/15344498/153247459-36409bdf-ab92-4e30-8d63-d0f1de79b5ae.png)

[2022-02-10 18:42] ramfattah commented on #1335
Hi @dkonyayev,

I just put my snapshot in generated folder as well. I ran the below command in powershell7, seems like it's working on my end.

Try this:
`bf orchestrator:test --in generated\orchestrator.blu --model model --test questions.txt --out analysisFolder `

<img src="https://i.gyazo.com/1aad246f998645ad6dd3ec4f708b1250.png" width="800" />

output
<img src="https://i.gyazo.com/c7c84650f97f

[2022-02-11 01:01] ramfattah commented on #1335
I wonder if the --test param is causing this issue, how about if you try without the `--test question.txt` parameter?
Ex: `bf orchestrator:test --in generated\orchestrator.blu --model model --out analysisFolder`

[2022-02-11 01:36] dkonyayev commented on #1335
Not sure what we would be testing without the questions sample, but I did remove it and got the same error.

The analysisFolder wasn't created, I created it manually. I tried to delete the folder and run it again and got the same error.

[2022-02-11 02:20] dkonyayev commented on #1335
I finally figured it out. There was a double quote " in the line that was barely visible. I removed it and got an error about my questions.txt file. Do you know what is the format of this file? Currently, I just have a list of questions, each starting on new line.

[2022-02-11 02:25] ramfattah commented on #1335
nice! I think the file might be similar to this format?
https://github.com/microsoft/botframework-cli/blob/main/packages/orchestratorlib/resources/data/Columnar/Email.txt

[2022-02-24 01:36] ramfattah commented on #1335
Closing due to inactivity, feel free to re-open if you are still having issues.

[2022-02-24 01:36] #1335 closed

[2022-02-25 06:10] Lrony commented on #1326
@tsuwandy Hi, I also found this problem on Ubuntu 20.04.2 LTS
`
username@username:~$ bf -v
@microsoft/botframework-cli/4.15.0 linux-x64 node-v14.17.0
pengyang@pengyang:~$ bf orchestrator
Display Orchestrator CLI available commands

USAGE
  $ bf orchestrator

OPTIONS
  -h, --help  Orchestrator commands help

COMMANDS
  orchestrator:add          Add examples from .lu/.qna/.json/.blu files, LUIS app(

[2022-04-08 13:17] jrpavoncello commented on #1336
+1 This was a feature of the old **dispatch-cli** tool that we relied on heavily. Is there a workaround for the time being?

[2022-04-08 14:22] jrpavoncello opened #1339 "Add bf orchestrator support for Question Answering"
Possibly related to [#6413](https://github.com/microsoft/botframework-sdk/issues/6413)

Our Chatbot project is built in BotFramework-SDK using Dispatch CLI, some LUIS models, and some QnA Maker KBs. We're looking to migrate to Question Answering but we're stuck because we use Dispatch CLI, which is no longer supported, and Orchestrator doesn't seem to have support for it.

Feature Request: Add bf

[2022-04-11 20:37] jrpavoncello opened #1340 "Add support for Question Answering like with QnA Maker"
These CLI tools don't seem to have support for Azure's new Question Answering service [like it does for QnA Maker](https://github.com/microsoft/botframework-cli/blob/main/packages/qnamaker/README.md) - i.e. things that build automation might do like adding/updating/removing/training/publishing/exporting knowledge bases, and replacing the alterations list.

**Describe the solution you'd like**
Add

[2022-04-11 20:56] jrpavoncello commented on #1339
If this can't be achieved, is it possible to pause the [scheduled deprecation of creating new QnA Maker resources](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/troubleshooting#:~:text=Starting%201st%20October%2C%202022%20you%20won%E2%80%99t%20be%20able%20to%20create%20new%20QnA%20Maker%20resources) in Azure? I don't know how many other customers are in our boat, but we relied

[2022-04-22 07:49] hanhsia commented on #1326
runs in Azure.
In windows, it's due to lack of  VC++ runtime 14.0. Is there similar thing in Linux?

[2022-05-08 15:10] ChandraChinta commented on #1336
After installing botframework cli on latest node,  Orchestrator commands not working.  Is Orchestrator production ready?  Is there any updated documentation step by step guide to configure bf orchestrator ?  Is it recommended to use it on production or not?

[2022-05-12 07:08] rcs-phamax opened #1341 "BF-CLI : QNA-KB Export Issue"
## Versions
CLI version : 4.15.0 win32-x64
Nodejs version : 14.15.0
command-line interpreters : Windows Power Shell
OS : Windows 10

## Describe the bug
Trying to run the BF-CLI command to export the QnA-Maker KB which throws an Unknown isuue.

Command :
bf qnamaker:kb:export --endpoint <endPoint> --kbId <ID> --subscriptionKey <sub-key> --environment prod --qnaFormat > qna_export.qna
OR
bf qnamake

[2022-05-13 15:29] ramfattah commented on #1341
Hi @rcs-phamax

Update: I was able to reproduce this issue.
![image](https://user-images.githubusercontent.com/38049078/168316132-965e2727-de56-4d69-a29f-f976d2147745.png)

I get the same error message in the issue:
[code]

[2022-05-13 15:34] ryanlengel commented on #1341
@munozemilio can you investigate this one?

[2022-05-19 18:36] munozemilio commented on #1341
Hello @rcs-phamax could you please try with NO endpoint flag:
[code]

[2022-05-23 16:12] ramfattah commented on #1341
@rcs-phamax, any updates?

Thanks to @munozemilio's suggestion, I was able to run `bf qnamaker:kb:export` without issues.

[2022-05-23 20:00] microsoft-github-policy-service[bot] opened #1343 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-24 03:51] rcs-phamax commented on #1341
Hi @ramfattah , thank you for the help, but @munozemilio 's approach was actually my initial approach which kept throwing me a 401 error, only after which I started explicitly providing the endpoint, below is the screengrab of the error I get:

![qnaMakerExportIssue401](https://user-images.githubusercontent.com/96542950/169945063-fd167d40-7afa-49dd-96e3-8075ab6d0f03.png)

Please note that the same

[2022-05-24 23:51] #1343 closed

[2022-05-25 07:25] ramfattah commented on #1341
Hi @rcs-phamax, thanks for the update; what endpoint are you providing?

[2022-05-25 07:44] rcs-phamax commented on #1341
Hi @ramfattah I've tried with following as endpoints, yeilding same result of 401 error,
1. name-of-my-qna-svc.azurewebsites.net
2. https://name-of-my-qna-svc.azurewebsites.net
3.  https://name-of-my-qna-svc.azurewebsites.net/qnamaker
Please correct me in case I'm giving the wrong endpoint. Thank you.

[2022-05-25 16:23] mukdenchild commented on #599
Got the exact same error message when tried to extract Luis log using the Luis Programmatic API.
I then replaced the predict resource key with the authoring resource key. That fixed the error.

[2022-05-25 22:04] munozemilio commented on #1341
Hello @rcs-phamax, thanks so much for the quick reply. Let me provide a bit of context. The qna maker commands are a wrapper of the qna maker v4.0 api...[Here](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/knowledgebases_getknowledgebasedetails/console) you can find a testing console where you can try the parameters directly. Its weird that your resou

[2022-05-26 06:38] rcs-phamax commented on #1341
Thank you so much @munozemilio , this was of great help. Even though the original issue remains, I've got the info required to get .qna file. So this is wrap from my side here.
Also to those who might face a similar issue, quickest option is to have a simple py-script to convert CSV export of QnA-KB to .qna or JSON format.

[2022-05-26 23:58] #1341 closed

[2022-06-01 10:59] ChiragM-Hexaware commented on #1326
Showing same error on Redhat Linux. Can anyone tell how to resolve???

[2022-06-02 05:49] ChiragM-Hexaware opened #1346 "Error: Cannot find module @microsoft/orchestrator-core/orchestrator-core.node"
## Versions
What CLI version are you using = 4.15.0
What Nodejs version are you using = 14.2.0
What command-line interpreters are you using=  Putty
What OS are you using = Linux Redhat(8.2)

## Describe the bug
After installing @microsoft/botframework-cli with npm. It got installed successfully. But when i tried creating a snapshot file with bf orchestrator:create command. It is showing Error: Can

[2022-06-02 18:42] gabog commented on #1346
Hi @munozemilio, can you please take a look at this issue?
Thanks

[2022-06-03 21:32] munozemilio commented on #1346
Hello @ChiragM-Hexaware. Thanks for taking the time to report this issue. Do you get error messages for other command groups? e.g bf config:show .... bf: luis:convert ? I have seen issues similar to this when the CLI got installed with different permissions and then ran with others. In the meantime, I will try to replicate your environment since I don't have one handy.

[2022-06-03 22:49] munozemilio commented on #1176
Closing since it has not happened again

[2022-06-03 22:49] #1176 closed

[2022-06-09 20:42] phasselhoff commented on #1346
The issue may be linked to the lack of a package lock file in the project @microsoft/orchestrator-core/orchestrator-core.node. the lack of this package lock file may be causing the orchestrator files to not be installed because non compliant dependencies may be brought in because there is no lock.

[2022-06-15 07:43] munozemilio commented on #1346
thank you all for the feedback:
I ran the command in UNIX a works just fine:
![Screen Shot 2022-06-14 at 11 14 19 PM](https://user-images.githubusercontent.com/43281931/173771299-eb6795e9-6f10-4c46-a39a-97f3f84b7aab.png)

I will do a re image and try in a clean state.

[2022-06-16 14:56] phasselhoff commented on #1346
The missing package lock would probably result in an error that possibly only occurs intermittently.

[2022-06-20 14:46] Erry91 opened #1347 "BF luis build: datetimeV2 is not available for the requested locale: it-it"
## Versions
What CLI version are you using: 4.15.0
What Nodejs version are you using: 14.x
What OS are you using: Ubuntu

## Describe the bug
I have a .lu file definition which defines the datetimeV2 prebuilt entity. When I want to use that pre-built entity in an intent (with the notation "@ intent usesFeatures feature1,feature2,datetimeV2") the bf luis build command fails saying that:

- the date

[2022-06-22 17:21] anishprasad01 commented on #1347
Hi @Erry91,

I'd be happy to take a look at this issue. Could you please provide me with a minimal copy of an `.lu` file that you are using to attempt the `bf luis build` process so that I may test it with a file that reflects your implementation?

[2022-06-23 08:16] Erry91 commented on #1347
Hi @anishprasad01 and thank you for your reply.
This should be a minimal copy of a .lu file that presents that behaviour. Let me know if this occurs for you too or if you need some more info.
The locale for this is it-it.
The file .txt (as you can imagine for github attachment restrictions) has to be renamed .lu, but apart from that it should contain a minimal example.

[luExmple.it-it.txt](https:

[2022-06-23 16:07] anishprasad01 commented on #1347
So, I was able to get this to run and return back the completed operation JSON, but I had to define a `phraseList` for `Application_feature` as well as supply the prebuilt entity definitions:

[code]
I also needed to supply metadata in the file like this:
[code]
Does your full implementation do this? If not, perhaps adding these items will fix it. Otherwise, something else in your full `.lu` file

[2022-06-23 16:40] Erry91 commented on #1347
Sorry for the missing information, I accidentally cut them out as I was trying to re-create a minimal example. I apologize for this.
However, my .lu files **DO** have the prebuilt entities, but I still get that warning about the use of datetimeV2 not supported. And the locale is actually being referred to correctly (as it complains that is not supported for it-it).
The actual .lu files do not have

[2022-06-23 17:00] Erry91 commented on #1347
I just did another quick test with the minimal example and the command I am trying to run above, and it fails with the problem I mentioned at the top.

![luisErrorDatetimev2](https://user-images.githubusercontent.com/6703817/175354189-6825b3f5-4884-4173-b759-5e86574cd4c1.png)

@anishprasad01 doesn't this happen for you too? I don't understand where the error might be.

[2022-06-23 17:11] anishprasad01 commented on #1347
No, I don't encounter this error. However, my file is not named `<filename>.it-it.lu`, but rather just `<filename>.lu`, in keeping with all samples of this format that I have seen. In my testing thus far, varying the extensions can cause issues. I'm thinking this might be it.

[2022-06-23 17:23] Erry91 commented on #1347
Even without the extension there is no difference for me, still the same error. Can it be the region? Any of the arguments can cause trouble in the bf luis:build function? For example I need to use --force and --out
Can it be that you have a different node.js version and that is causing problems for me?

[2022-06-23 19:06] anishprasad01 commented on #1347
I was able to reproduce using the `--defaultCulture` flag. Now that I have the repro, I can investigate further.

[2022-07-17 11:49] Erry91 commented on #1347
Any sort of update on this topic?

[2022-07-18 16:14] anishprasad01 commented on #1347
Not yet, however it is still on our radar. I will attempt to get some traction on this issue.

[2022-07-18 18:23] axelsrz commented on #1346
Closing this issue as this was a specific customer environment problem. This was fixed privately offline.

[2022-07-19 06:39] munozemilio commented on #1347
Hello @Erry91, I found the issue is when the content is converted to LU object in the LU parser process. I will try to get you a build in the following days. Sorry for the inconvenience and thank you for your patience.

[2022-07-25 17:57] munozemilio commented on #1347
Hello @Erry91 could you please try using:
[code]

That build has datetimeV2 enabled for Italian.

Let me know if that works for you

[2022-07-26 10:30] aarshpandit opened #1349 "Cannot read property 'content' of undefined while (bf luis:build & bf qnamaker:build)"
Whille trying to implement orchestrator and using bf luis:build & bf qnamaker:build commands getting error

Commad:
1) bf luis:build --in CognitiveModels --authoringKey {correct Auth key } --botName {correct bot name}
2) bf qnamaker:build --in CognitiveModels --authoringKey {correct Auth key } --botName {correct bot name}

Error:
The published application setting: Unknown error during execution. P

[2022-07-26 14:56] #1347 closed

[2022-07-29 18:56] munozemilio commented on #1349
Hello @aarshpandit I ran the command using the Orchestrator [sample ](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/14.nlp-with-orchestrator) and works just fine...is there a way for you to share the Cognitive contents you are working with, or try to mimic the one in the sample?
![luis_build_samples](https://user-images.githubusercontent.com/43281931/181826283

[2022-08-09 17:59] munozemilio commented on #1349
Closing due to inactivity. Feel free to reopen if needed

[2022-08-09 17:59] #1349 closed

[2022-08-26 18:17] rajeeshmenoth commented on #1339
Are there any updates on this feature request? We are also facing the same problem and, @jrpavoncello the only way we can achieve this functionality using an inbuilt orchestrator in Langauge studio but if we are really planning to do it through code then the respective team should answer.

[2022-09-19 13:26] sw-joelmut opened #1350 "Failed to parse config.json, error= {} while creating Orchetrator"
## Issue referenced from https://github.com/microsoft/botframework-sdk/issues/6531

[2022-09-29 16:20] jrpavoncello commented on #1326
Also experiencing this, but using a node 14.0 alpine image. Runs fine on windows.

[2022-10-14 07:10] birla commented on #1340
MSFT has completely deprecated QnA maker and customers want to migrate to the new service. Seems like we need to stop using this toolkit as Luis is also on the way to depreciation.

[2022-10-26 17:56] LeeParrishMSFT commented on #567
Closing for inactivity.