[2020-04-24 09:59] feich-ms commented on #666
fix by this PR https://github.com/microsoft/botframework-cli/pull/731

[2020-04-24 22:18] vishwacsena commented on #686
Fixed via #730

[2020-04-24 22:18] #686 closed

[2020-04-26 02:12] feich-ms commented on #666
fixed by PR #731

[2020-04-26 02:12] #666 closed

[2020-04-27 05:30] manvendrautralia commented on #727
The deployment worked for me. Looks like there is a @bug in "Bot Framework Composer". The configuration settings at UI does not get reflected in app settings. I modified manually and it worked.
Now I am facing another issue. While I get welcome message on testing, on sending input to bot receiving the following error:- "Response status code does not indicate success: 401 (PermissionDenied)."

Coul

[2020-04-27 09:28] as-444 commented on #698
@cahann Did you import it as app or as a version? I've noticed if you have exported a version from a LUIS app, it can only be imported by an existing app and you can't click the import app, and it'll just error.

[2020-04-27 16:25] mdrichardson commented on #727
@manvendrautralia I'm still not clear on what steps you're taking to generate this error. Please describe steps to reproduce it so that I can troubleshoot on my end.

[2020-04-28 02:38] feich-ms commented on #703
Since this is not a must-have feature for current cross-train CLI, move it to R10 to get it better designed after cross-train CLI is in.

[2020-04-28 02:57] cleemullins commented on #687
from @vishwacsena:

[2020-04-28 02:58] chrimc62 commented on #715
Actually we decided to drop branch.

[2020-04-28 02:58] #715 closed

[2020-04-28 03:00] cleemullins commented on #570
@stevengum, @clearab  Any forward progress on this?  Can you update this issue with recent status.

[2020-04-28 05:09] manvendrautralia commented on #727
@mdrichardson Followed the steps as mentioned in the documentation here "https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp".

[2020-04-28 16:20] mdrichardson commented on #727
@manvendrautralia I am unable to reproduce this error. Which steps are you getting each error on? Please give me as much context as possible so that I can troubleshoot this.

[2020-04-28 21:49] stevengum commented on #570
Synced with @swagatmishra2007, there should be a Swagger file which will cause a regeneration of the azure-mgmt-borservice SDK and it should enable this scenario

[2020-04-30 01:22] vishwacsena opened #736 "Feature gaps with cross-train"
Filing this as raw gaps with the current cross-train solution as a backlog item.

- .qna needs to be in the same location as .lu
- Do not include patterns in cross-train
- Cross-train does not copy over import references. May be the output should be fully resolved references.
- Need to test cross-train with import references in utterances. Cross-train after imports are resolved.
- Need —force argu

[2020-04-30 06:18] chrimc62 commented on #385
There is no dotnet dependency unless you search for .csproj file--in which case depending on dotnet is reasonable.

[2020-04-30 06:18] #385 closed

[2020-04-30 06:25] chrimc62 commented on #635
@a-b-r-o-w-n do you still need this?

[2020-05-01 12:51] #687 closed

[2020-05-01 22:28] chrimc62 commented on #721
Should be fixed by #737

[2020-05-01 22:28] #721 closed

[2020-05-01 22:29] chrimc62 commented on #723
Should be fixed by #737

[2020-05-01 22:29] #723 closed

[2020-05-01 22:30] chrimc62 commented on #725
Should be fixed by #737

[2020-05-01 22:30] #725 closed

[2020-05-01 22:36] chrimc62 commented on #717
This is set for bf as a whole and they are red/yellow and look OK to me.
![image](https://user-images.githubusercontent.com/17637681/80846548-779dca00-8bc1-11ea-9c63-8abbe49e7cf7.png)

[2020-05-01 22:36] #717 closed

[2020-05-01 22:40] chrimc62 commented on #724
If part of bf, then bf --version does it.  Otherwise the standard way to do it is bf plugins:list which will show the version like this:
[code]

[2020-05-01 22:40] #724 closed

[2020-05-01 22:42] chrimc62 commented on #635
Not needed.

[2020-05-01 22:42] #635 closed

[2020-05-01 22:42] chrimc62 commented on #665
This has been done in the experimental version.

[2020-05-01 22:42] #665 closed

[2020-05-01 23:04] chrimc62 opened #740 "Generated documentation has incorrect links on Windows"
OS: Windows 10
Node: v12.16.1
@oclif/dev-cli: 1.22.0

On windows when you do the command `npm run doc` in a package like dialog, you get incorrect links.  Here is what is generated:
[code]
What should be generated:
[code]
I suspect this is an issue in the oclif-dev tools where they do not normalize paths properly.

[bug]

[2020-05-04 18:54] sgellock commented on #570
Swagger changes are being flagged as a breaking change by the Az team.  so given this, the work on the services side is larger.  moving out of R9 and into R10

[2020-05-04 18:56] stevengum commented on #570
The PR we are waiting for re: Swagger-file changes is here: https://github.com/Azure/azure-rest-api-specs/pull/9318

[2020-05-04 20:07] chrimc62 opened #742 "dialog:merge should not include $id"
Including $id in the merged schema means everyone running tests get changed files.  Removing $id fixes the issue.
[bug]

[2020-05-04 20:08] chrimc62 opened #743 "luis:build does not pick up config authoringKey"
luis:build does not pick up the config authoringKey.
[bug]

[2020-05-04 21:15] #742 closed

[2020-05-04 21:15] #743 closed

[2020-05-04 21:18] chrimc62 opened #745 "Add config:remove"
**Is your feature request related to a problem? Please describe.**
Once a config setting exists you can set it to the empty string, but you cannot remove it.

**Describe the solution you'd like**
Add config:remove to remove keys.

**Describe alternatives you've considered**
If you could figure out where the config file was, you could do it manually.

[enhancement]

[2020-05-05 10:34] hhasenauer opened #748 "QNAMaker-CLI Multi-turn Prompts not working"
## Versions
- CLI  @microsoft/botframework-cli/4.8.0 darwin-x64 node-v13.9.0
- OS macOS Catalina 10.15.4 (19E287)

## Describe the bug
bf qnamaker:kb:replace not working for multi-turn prompts.

## How to reproduce
1. Create a Multi Turn Prompt in the [QNAMaker portal](https://www.qnamaker.ai/).
1. Export the QNAMaker model
`bf qnamaker:kb:export --kbId x --subscriptionKey x --endpoint https://wes

[2020-05-05 12:02] darrenj opened #749 "BF CLI reports that `request` has been deprecated during installation."
## Versions
4.9 RC

## Describe the bug

When installing the BF-CLI you get this deprecation warning from NPM

[code]
[bug]

[2020-05-05 16:21] mdrichardson commented on #727
@manvendrautralia Are you still receiving this error?

[2020-05-05 17:30] chrimc62 opened #751 "bf qnamaker:build should support --qnaconfig"
**Is your feature request related to a problem? Please describe.**
luis:build --luconfig allows you to capture parameters in a generated file and gives more control.  qnamaker supports the same parameters and has the same needs, but does not support --qnaconfig equivalent.

**Describe the solution you'd like**
Add --qnaconfig to qnamaker:build.

[enhancement]

[2020-05-05 20:40] chrimc62 opened #752 "dialog:merge does not follow nuget package dependencies"
## Describe the bug
When dialog:merge follows the nuget references of .csproj, it only follows to the first level.  So if you depend on Microsoft.Bot.Builder.Dialogs.Adaptive you do not pick up the schema from Microsoft.Bot.Builder.Dialogs.Declarative.

# Expected behavior
It should pick up the schema of nuget packages and their dependencies.

## Additional context
This can be worked around by eit

[2020-05-06 04:58] manvendrautralia commented on #727
I was able to resolve the issue my manually modifying the app settings.json file. You may please close the ticket. Thanks.

[2020-05-06 04:59] manvendrautralia commented on #727
I was able to resolve the issue my manually modifying the app settings.json file. Closing the ticket. You may please mark as resolved. Thanks.

[2020-05-06 04:59] #727 closed

[2020-05-07 17:19] vipeketi commented on #748
@cleemullins  @pchoudhari  Acknowledging Issue.

[2020-05-08 02:49] feich-ms opened #766 "qnamaker:build update non-empty kb with replace api failed for multi turn qna content"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
The multi turn contents in qna file failed to update when replacing an existing non-empty kb with qnamaker:build command

## To Reproduce
Steps to reproduce the behavior:
1. Publish a valid qna file with qnamker:build
2. Add multi tur

[2020-05-08 07:18] vipeketi commented on #748
@hhasenauer multiturn export and import work fine. I have verified. Please make sure that the qna definitons are available for qnaid value , provided in prompts.

[2020-05-08 08:52] feich-ms opened #769 "Auto generated multi turn reference ids are not consumed by qnamaker API when publishing which results in wrong behaviors of multi turn"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
For qna file with multi turn QA pairs, multi turn reference ids will be auto generated when calling the build function in kbCollate.js. But the ids are not from 1 to n to match the original order they are listed in the qna file. Howev

[2020-05-08 09:47] feich-ms opened #770 "luis:build parse lu file with incorrect locale priority"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
When users use luis:build to publish lu files, the locale of that lu file will be specified under such priority
Culture from file name(a.en-us.lu) > Culture from lu file setting(@> !# @app.culture = en-us) > default culture(default to

[2020-05-08 21:28] vishwacsena opened #774 "BF-LU does not work with entity names that have spaces in them"
Reported by LUIS team with their testing.

**Impacts:** LUIS import/ export to .lu format. As well as possibly impact composer .lu authoring.

Export a LUIS application that has spaces in entity names.

Parser will fail attempting to re-parse the output .lu file because it is missing quotes around entity names that have spaces in them.

[Pizza_app_full.json.zip](https://github.com/microsoft/botfra

[2020-05-08 22:46] #774 closed

[2020-05-09 17:10] #722 closed

[2020-05-11 06:47] feich-ms opened #778 "Support chinaeast2 region in luis build"
**Is your feature request related to a problem? Please describe.**
In luis build cmd, chinaeast2 region is targetting `https://chinaeast2.api.cognitive.azure.cn` instead of `https://${region}.api.cognitive.microsoft.com`. To support this, luis builder interface need to be changed.

**Describe the solution you'd like**
Change interface of luis builder function.

**Describe alternatives you've consi

[2020-05-11 09:27] feich-ms commented on #766
I tried many workaround solutions, such as replacing the kb with empty QA pairs first and then replacing with multi turn content or deleting kb pairs with update API first and then replacing with multi turn content. Unluckily no one works. I would prefer assigning this bug to QnA maker team to triage @vishwacsena

[2020-05-11 09:54] feich-ms commented on #766
I think I found the root case. Replace API is doing something like delete and add. It is deleting existing KB pairs and add new ones. When it's adding, the ids of the newly added kb pairs will start from last deleted id + 1 instead of 1. For example, the orginal ids are 1, 2, 3, when doing replacing, the newly added kb pairs will start from 4, 5, 6 ....  In such case, the multi turn prompt ids wil

[2020-05-11 14:35] hhasenauer commented on #748
@vipeketi I created a minimal sample for a .json, that does not work for me.
Can you help me, what I am missing there? qnaId **does** match the ids of the corresponding questions.

[code]

Furthermore I tried multiple times to create a correct prompt on the portal and then export it and directly import it again. Which leads to all prompts disappearing.

[2020-05-11 14:41] vipeketi commented on #748
@hhasenauer    please provide knowledgebase id. It will help me debug.

[2020-05-11 14:58] hhasenauer commented on #748
kbId: 8825453e-0f0e-4800-9138-9609376b40ba
currently in the state where the prompts are not present anymore because I imported the json.

[2020-05-11 16:47] chrimc62 commented on #528
@coldplaying42 I moved this to R10--this is an experimental feature and we can add when needed, but should not be tracked as part of R9.

[2020-05-11 18:38] vishwacsena commented on #766
@pchoudhari @vipeketi can you please comment? is it a bug that we are auto-incrementing IDs of QnA pairs on replace? For .qna content, we construct IDs to make sure multi-turn content is preserved but that is being over-written which results in lossy replace operation where multi-turn content associations are lost.

[2020-05-11 19:18] vipeketi commented on #766
@vishwacsena It is not a bug at QnAMaker.

[2020-05-11 22:00] vishwacsena commented on #766
I took a closer look at this..
@feich-ms, it looks like replace API does the right thing when you post JSON and not .qna directly (due to issue below). I just tested the replace API by posting JSON w/ multi-turn content and it worked. Can you try updating qnamaker:build to call BF-LU and do QnA JSON conversion and post the JSON instead of .qna file? That is until the QnA team have been able to inv

[2020-05-12 00:42] vipeketi commented on #766
@vishwacsena  we support following format of .qna . The text provided above looks like old version of .qna format.

<a id =  "1"></a>

## ? ques1
- question 2 data
- question 3 data

**Filters:**
- fk1_name = fk1 value is here
- fk2name = fk2 value is here
- fk3_name = fkk3 vaue is very big

[code]

**Prompts:**
- [p1](#2) `context-only`
<a id = " 2">  </a>

## ? p1

[code]

[2020-05-12 00:57] vishwacsena commented on #766
Thanks @vipeketi. @feich-ms can you prep a fix that does this - for qnamaker:build do QnA -> JSON on the client and then post up JSON directly for replace operations.

for qnamaker:kb:replace, if --qnaFormat is set, then do QnA -> JSON on the client and post up JSON directly to service for replace operation. Let's not post .qna format directly to the service and just use JSON.

[2020-05-12 06:35] feich-ms commented on #766
sure, will take a fix.

[2020-05-13 18:18] cleemullins commented on #748
@vipeketi, any update here?

[2020-05-13 18:19] cleemullins commented on #698
@cahann, who from your team can debug this with Emilio?

[2020-05-13 18:30] cahann commented on #698
As far as I can understand the JSON generated is missing a required phrase list feature object.

  "phraselists": []

[2020-05-13 20:39] munozemilio commented on #698
Hello @as-444, there is a new Luis schema version. Could you please try again with CLI version 4.9.0?

[2020-05-14 07:32] feich-ms commented on #766
Fixed in this PR https://github.com/microsoft/botframework-cli/pull/786

[2020-05-14 07:56] vipeketi commented on #748
@hhasenauer @cleemullins  I will try to close this by friday.

[2020-05-14 14:25] as-444 commented on #698
Hi @munozemilio I've updated to cli 4.9.0, seems the export now produces a json with schema version `7.0.0`. I still get an issue when trying import this file to another or even the same app.
Failed to import app version: Error: Cannot find the model (postcode) in the specified application version. Can you confirm the `bf luis:version:import` now uses the same endpoint version to import?

[2020-05-14 16:13] cahann commented on #698
{
  "name": "testt",
  "versionId": "0.4",
  "desc": "",
  "culture": "en-us",
  "intents": [
    {
      "name": "None",
      "features": []
    },
    {
      "name": "TestIntent",
      "features": []
    }
  ],
  "entities": [],
  "closedLists": [],
  "composites": [],
  "hierarchicals": [],
  "patternAnyEntities": [],
  "regex_entities": [
    {
      "name": "postcode",
      "regexPattern"

[2020-05-14 18:08] vipeketi commented on #748
@hhasenauer Not all the times, Id of QnA is restored, to as that of provided in import definition during import. The sequential id number which is next to last qnaid previously available in KB,  is used for sequentially numbering QnAs. Hence it is recommended to change the id during import, to restore prompts.

[2020-05-15 07:24] DingmaomaoBJTU opened #787 "Cannot publish luis after fix *.lu error"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
When republish luis after fix *.lu error, always return "versionId cannot be null or undefined".

## To Reproduce
Steps to reproduce the behavior:
1. create a valid composer project with luis
2. add an invalid pattern "- (create|book)

[2020-05-15 18:41] dawwa opened #788 "bf luis:generate produces both Pattern.Any and List type Entity in csharp output which fails to compile"
## Versions
* @microsoft/botframework-cli/4.8.0 win32-x64 node-v12.16.3
* bf luis:generate
* Windows 10

## Describe the bug
bf luis:generate produces both Pattern.Any and List type Entity in csharp output which fails to compile.

## To Reproduce
1. Create a sub lu file and name it as listEntities.lumodule and declare a List type Entity in it, e.g,
[code]
2. Create a root lu file and name it as te

[2020-05-16 18:10] dawwa commented on #788
@axelsrz ,  looks like handling sub-files has problems on multiple scenarios, as including phase list in a separate file also encounters this error below.

[ERROR] line 5:0 - line 5:60: Features must be defined before assigned to an intent. No definition found for feature "testPhraseList_pl" in usesFeature definition for intent "Test.Symbol"

[2020-05-16 18:32] dawwa opened #789 "bf luis:convert: Error of "Roles must be unique across entity types." triggers by having multiple enabledForAllModels"
## Versions
@microsoft/botframework-cli/4.8.0 win32-x64 node-v12.16.3
Windows 10

## Describe the bug
Having more than 1 phrase list declaration with enabledForAllModels annotation will cause the CLI errors out.

## To Reproduce
[code]

[2020-05-17 15:42] vishwacsena commented on #789
This appears to be core LU issue.

[2020-05-17 15:46] dawwa commented on #789
I tried to export a lu from LUIS portal, which does contain multiple enabledForAllModels, and that lu cannot be processed by the CLI due to this error

[2020-05-17 17:13] #766 closed

[2020-05-17 18:32] dawwa opened #790 "Need a way to get reason of error "No LU or Luis content parsed!""
## Versions
@microsoft/botframework-cli/4.9.0 win32-x64 node-v12.16.3
Windows Server 2019

## Describe the bug
We see bf luis:convert fails when running in AzureDevOps Build Pipeline, but does not repro when running the same command locally.

I did a brief check on the source code, looks like this, is there some workaround we can get the reason why the result is empty?

[code]

## Current behavior

[2020-05-17 21:54] vishwacsena opened #791 "Entities need to be unique within their containing scope"
This should not fail

[code]

[2020-05-17 21:57] vishwacsena commented on #791
Also verify this works.

File1
[code]

File2
[code]

[2020-05-17 22:02] vishwacsena commented on #790
@dawwa we will work on improving the error messages. To get yourself unblocked, can you check to see if the files exist and are accessible to the CLI in your pipeline? This usually occurs when we read an empty file or a file that does not contain any LU content.

[2020-05-18 00:52] chrimc62 opened #794 "luis:build error messages missing context"
## Versions
@microsoft/botframework-cli/4.10.0-preview.130904 win32-x64 node-v12.16.1

## Describe the bug
An lu file with something like:
- {@AddTo$Pproperty=foo}

Will generate an error message like:
[code]
There is no name or line/character number so you cannot tell the issue from the error message.  I've seen other error messages that are also missing any context.

[bug]

[2020-05-18 01:53] feich-ms opened #795 "lu parser issue editing Luis intent mess up the file"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
reported by composer https://github.com/microsoft/BotFramework-Composer/issues/3071

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
Give a

[2020-05-18 08:07] dawwa commented on #790
@vishwacsena , @feich-ms helped to produce a private bit which prints more details, that helped discover the issue.

**TL;DR:**
MSBuild Exec interfered the stdin parameter of bf CLI with unexpected token  `∩╗┐`
The proposed fix is to ignore stdin when --in option is used.
@feich-ms will push a fix into nightly feed until an official fix rolls out.

**Detail Rootcause**
Basically, the stdin is inte

[2020-05-18 08:59] feich-ms commented on #790
Created a PR here https://github.com/microsoft/botframework-cli/pull/796

[2020-05-18 09:16] feich-ms commented on #790
Verfied in my private feed that this issue was resolved https://msazure.visualstudio.com/One/_build/results?buildId=31208400&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=dcf93f35-c1ba-5dce-0078-8d628250da3a&l=1005

[2020-05-18 19:00] dawwa opened #797 "Fail to handle PhraseList declared along with referencing sub file that also declares PhraseList"
## Versions
@microsoft/botframework-cli/4.9.0 win32-x64 node-v12.16.3
Windows 10

## Describe the bug
When there are more than 1 layer of referenced sub lu file, the bf luis:convert throws error of `Cannot read property 'filter' of undefined`

It took me a while to rule out other conditions, but based on my experiment so far, this repros when ALL of the following conditions met:
- dispatch.lu in t

[2020-05-19 02:36] feich-ms opened #800 "Issues of build and cross-train cli"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Luis:build
1.	Luis:build and qnamaker:build do not write .dialog if no –out is specified.
2.	–suffix when not specified resulted in LUIS app with (Undefined).
3.	Verify luis:build detects changes to references.
4.	Fix issue with confi

[2020-05-19 02:55] #693 closed

[2020-05-19 03:42] #769 closed

[2020-05-19 05:50] #778 closed

[2020-05-19 05:51] #770 closed

[2020-05-19 12:33] SSanjeevi commented on #503
@vishwacsena - can you please elaborate on it, any sample request or api reference.

[2020-05-19 16:40] axelsrz commented on #788
Hello @dawwa thank you for filing this issue. From the description of your problem we would have to investigate if the bug is in the step to convert the .lu model to a json representation (luisgen works directly over .json) or luisgen itself.

We'll look into this issue in our next releasing cycle.

[2020-05-19 19:01] dawwa commented on #788
@axelsrz , agreed, this could be due to that user is trying to include a List Entity in a wrong way, as the doc below mentioned how to appropriately use a List Entity in the utterance, which made me think I was using a wrong syntax for my intention. : )

https://github.com/microsoft/botbuilder-tools/blob/master/packages/Ludown/docs/lu-file-format.md#list-entity

[2020-05-19 19:31] #791 closed

[2020-05-19 20:00] #797 closed

[2020-05-20 02:54] feich-ms opened #805 "Re-do luis prediction options after SDK bug fixed"
**Is your feature request related to a problem? Please describe.**
https://github.com/microsoft/BotFramework-Composer/issues/2545

**Describe the solution you'd like**
Re-do luis:prediction options after SDK bug for supporting expressions in prediction options is fixed

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2020-05-20 03:49] chrimc62 opened #806 "bf does not return an error code on failure"
## Versions
@microsoft/botframework-cli/4.10.0-preview.132551 win32-x64 node-v12.16.1

## Describe the bug
%errorlevel% and return code are always 0 on Windows and Linux even in the presence of errors.  Without a return code bf is not very scriptable.

## To Reproduce
Call a bf command and check the return code in your favorite scripting language.

## Expected behavior
Non-zero result if failure.

[2020-05-20 03:58] munozemilio opened #807 "Add installed plugins version to bf help"

[2020-05-20 03:59] munozemilio opened #808 "BF-LU parseFileContent.js clean-up"

[2020-05-20 04:00] munozemilio opened #809 "Remove Luis SDK from Luis command groups"

[2020-05-20 05:36] dawwa opened #811 "Naming concern: subscriptionkey actually meant authoringkey"
## Versions
@microsoft/botframework-cli/4.8.0 win32-x64 node-v12.16.3
Windows 10

## Describe the bug
There seems many places in the CLI and the doc, the subscriptionkey actually meant authoringkey, and the endpoint is authoring endpoint.
e.g., [bf luis:version:list](https://github.com/microsoft/botframework-cli/blob/master/packages/luis/README.md#bf-luisversionlist)

This feels misleading as I wa

[2020-05-20 14:26] feich-ms commented on #790
fixed by PR #796

[2020-05-20 14:26] #790 closed

[2020-05-20 15:33] feich-ms commented on #790
@dawwa, the fix is in the latest nightly build here https://botbuilder.myget.org/feed/botframework-cli/package/npm/@microsoft/botframework-cli. Please refer to this version CLI tool by setting npm registry to https://botbuilder.myget.org/F/botframework-cli/npm/ before the fix goes into next official release.

[2020-05-20 21:08] munozemilio commented on #811
Hi @dawwa, I agree this might be a little bit confusing. The CLI is a wrapper of the Luis [endpoint](https://westus.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/5890b47c39e2bb052c5b9c2f) and the intention was to keep it consistent with those docs. We will asses during this cycle your request and take action accordingly

[2020-05-21 12:27] dawwa opened #815 "bf luis:version:list Unknown error during execution - Cannot convert undefined or null to object"
## Versions
- @microsoft/botframework-cli@4.10.0-preview.132916 (repros to both nightly and official build)
- Node 10.20.1
- PowerShellCore 6.2.2
- Azure CLI 2.2.0
- Linux 18.04 ubuntu

## Describe the bug
bf luis:version:list command throws unknown error, but not repro locally so the input is fine, considering the environment is a deployment VM,  it might be easier to print out some debug log to

[2020-05-21 14:53] turbozapekanka opened #826 "Could not assign subscription key automatically during deployment"
#### What project is affected?
VA

#### What language is this in?
C#

#### What happens?
"Could not assign subscription key automatically" error shows up during deployment

#### What are the steps to reproduce this issue?
./Deployment/Scripts/deploy.ps1 -name "PogoBot-dev" -location "southcentralus" -appId "XXX" -appPassword "XXX" -luisAuthoringRegion "westus" -parametersFile "./Deployment/Resourc

[2020-05-21 22:01] munozemilio commented on #815
Hi @dawwa, as per conversation over teams...please try with this build to log the error:
npm i -g @microsoft/botframework-cli@4.10.0-preview.133034

[2020-05-22 00:39] dawwa commented on #815
@munozemilio, here is the new error
2020-05-22 00:26:43.998735: Cannot convert undefined or null to object
2020-05-22 00:26:43.998900: **TypeError**: Cannot convert undefined or null to object

[2020-05-23 07:25] chrimc62 opened #817 "luis:build does not include $schema in generated .dialog files"
## Versions
@microsoft/botframework-cli/4.10.0-preview.133127 win32-x64 node-v12.16.1

## Describe the bug
A .dialog file should always have a $schema in order to be valid.  With --dialog we generate a .dialog file without a schema.

## Expected behavior
We should add a --schema switch that if included will set $schema to the value.

[bug]

[2020-05-24 16:17] joe-tossell-mando opened #818 "bf luis:convert from json to lu prebuilt intent inheritance invalid"
## Versions
@microsoft/botframework-cli/4.9.0 win32-x64 node-v12.13.1
Powershell

## Describe the bug
Converting json version export to LUDown with prebuilt intent incorrectly formats the @intent.inherits information.
Compare:

with

which comes from the "Export as LU" option in the LUIS portal.

## To Reproduce
Steps to reproduce the behavior:
1. Create LUIS application containing prebuilt intent

[2020-05-25 04:51] feich-ms opened #819 "Add retry mechanism if luis build run into rate limiting issue"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
![image](https://user-images.githubusercontent.com/43032123/82779336-80af4d80-9e86-11ea-91d4-4d15fba5d91c.png)

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-05-26 07:03] hhasenauer commented on #748
So the solution would be to manually increment and manage all IDs in the KB?

[2020-05-26 17:12] chrimc62 opened #820 "dialog:merge does not properly handle nuget package versions"
## Versions
4.9.0

## Describe the bug
Nuget package version comparisons are done using npm semver rather than nuget semver which causes a number of mysterious issues when you have multiple nuget packages.

## Expected behavior
Should use nuget semver rules.

[bug]

[2020-05-26 17:12] chrimc62 commented on #820
Closed by #784

[2020-05-26 17:12] #820 closed

[2020-05-26 18:41] gabog commented on #698
Hi @as-444, were you able to try Carol's recommendation?

[2020-05-27 08:12] feich-ms opened #823 "Crosstrain should support to configure dialog name instead of using lu/qna file name as default one"
**Is your feature request related to a problem? Please describe.**
Crosstrain library should support to configure dialog names when generating DeferToRecognizer_{dialogName} for lu/qna and dialog filter for QnA pairs. Currently the dialog name is default to lu/qna fileName which is not reasonable.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**

[2020-05-27 08:15] feich-ms opened #824 "Adjust QnA as well as LUIS cross-train to work with QnA limits as well as LUIS limits"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-27 11:34] vipeketi commented on #748
@hhasenauer I have downloaded a kb with multiturn information in tsv format, modified the prompts and uploaded again in tsv format. This test worked well. Prompts updates are reflected in KB. Would you like to try this option.

[2020-05-27 13:30] darrenj commented on #826
Seems related to #819

Internally researching whether retries are going to be needed and whether CLI or Scripts need to implement this.

[2020-05-27 17:11] #752 closed

[2020-05-27 18:43] #787 closed

[2020-05-27 18:52] vishwacsena commented on #818
Investigating.

[2020-05-28 15:55] pschaeflein opened #831 "PortingMap is out of date"
## Versions

VERSION
  @microsoft/botframework-cli/4.9.0 win32-x64 node-v10.16.3

## Describe the bug
The portingmap.md file is out of date. The ETA for all features has passed, but not all features are available in the installed version.

[bug]

[2020-05-28 18:19] gabog commented on #815
Added the ExemptFromDailyDRIReport because @dawwa is MS internal but doesn't have his ID linked to the MS org. Emilio is talking to him offline.

[2020-05-28 21:13] munozemilio commented on #815
The issue was an invalid config file was manually added to bypass telemetry. This got fixed by setting the proper environment variables

[2020-05-28 21:13] #815 closed

[2020-05-29 10:32] joe-tossell-mando commented on #818
Thanks for the update, what's the best way of accessing the fix for an in-flight project?

[2020-05-29 12:10] hhasenauer commented on #748
@vipeketi Unfortunately that is not an option for me. I want all my language models for this chat bot project in .lu and .qna files. And therefore also define the multi-turn prompts within those files. And the ludown cli does compile it to .json only.
Do you have any idea for a valid workaround for now?

[2020-05-29 18:13] vipeketi commented on #748
@hhasenauer Acknowledge issue.

[2020-05-29 22:25] munozemilio commented on #826
For this specific issue I think script should handle either a timeout or retry after running luis commands due to the 5 TPS Luis has. The CLI has no way to know how many commands were run previously and adding a timeout before calling the endpoint will be a terrible performance in other scenarios. We could add a flag to let the command know it should wait at least a second before hitting the endpo

[2020-05-31 20:04] EvilJohn opened #834 "bf luis:application:query does not honor --verbose flag"
## Versions
What CLI version are you using.
@microsoft/botframework-cli/4.9.1 linux-x64 node-v12.16.2

What Nodejs version are you using
v12.16.2

What command-line interpreters are you using
bf luis under zsh

What OS are you using
Windows 10 WSL2 - Ubuntu 18.04

## Describe the bug
Give a clear and concise description of what the bug is.
When using the bf cli command luis:application:query the -

[2020-06-01 17:25] vishwacsena commented on #818
@munozemilio did we end up taking a fix for this in 4.9.1? If not, can you share an ETA?

[2020-06-01 19:27] munozemilio commented on #831
Hi @pschaeflein this is now updated. Thanks for reporting this!

[2020-06-01 19:27] #831 closed

[2020-06-02 05:26] chrimc62 opened #835 "luis:build does not combine ml children"
For list entities, the definitions across files are combined.  For ML definitions, the last definition wins.

file1:
@ml foo
- @number number

file2:
@ml foo
- @personName personName

Produces:
@ml foo
- @personName personName

My preference would be to do the same combination as we do for lists, i.e.
@ml foo
- @number number
- @personName personName

Alternatively, this should generate an error.

[2020-06-02 18:28] vishwacsena commented on #835
This was added in 4.9.1.

[2020-06-02 18:28] #835 closed

[2020-06-02 22:25] WashingtonKayaker opened #836 "The command `bf dialog:merge package.json` does not create app.settings file."
## Versions
- CLI version: @microsoft/botframework-cli/4.9.1 win32-x64 node-v12.14.0
- Nodejs version: v12.14.0
- command-line interpreters: Windows 10 command prompt
- OS version: Windows 10 Enterprise version 1909 build 18363.836

## Describe the bug
The command `bf dialog:merge package.json` hangs.  it responds with the following, but 30 minutes later it still has not finished:

     Finding co

[2020-06-03 02:32] munozemilio commented on #834
Thanks for reporting this @EvilJohn, this will be addressed in the current release cycle and will be available in the nightly build as soon as the issue gets closed.

[2020-06-03 02:45] #800 closed

[2020-06-03 02:49] feich-ms commented on #805
@luhan2017 is the SDK bug fixed for luis prediction options?

[2020-06-03 13:56] AndyCW opened #838 "bf luis:application:import and bf luis:version:import do not support LU input"
## Versions
What CLI version are you using.  4.9,1
What Nodejs version are you using
What command-line interpreters are you using pwsh, bash
What OS are you using Windows 10, Linux

## Describe the bug
Documentation at https://github.com/microsoft/botframework-cli/tree/master/packages/luis#bf-luisapplicationimport states that this function "Imports LUIS application from JSON or LU content". It doe

[2020-06-04 09:23] feich-ms commented on #824
QNA's limit of 1000 questions per answer was resolved in this PR https://github.com/microsoft/botframework-cli/pull/814.

[2020-06-04 12:52] vipeketi commented on #748
@hhasenauer I could reproduce issue with version CLI @microsoft/botframework-cli/4.8.0. Please use CLI @microsoft/botframework-cli/4.9.1. The issue is fixed.

[2020-06-04 17:21] tomlm opened #841 "bf dialog:merge creates incorrect link with subfolders"
#repo
If you
1. include a hand authored template x.lu via $templates
2. you use -o folder to output to a folder
the generated rootDialog-en-us.lu file will have a reference to
**[ x.lu ] ( x.lu )**
which means it won't build because x.lu can't be found.

# expected
The generated file should have relative path:
**[ x.lu ] (../x.lu )**

[2020-06-04 20:21] vishwacsena commented on #736
@feich-ms can you comment which of these if any have already been addressed?

[2020-06-04 21:38] chrimc62 opened #842 "luis:build does not correctly handle child labels with prebuilt name"
## Versions
4.10.0-preview.136002

## Describe the bug
A model like:
@ prebuilt number
@ ml foo
- @number number
Does not allow a label like:
- {@foo={@number=3}}

This worked in version 4.10.0-preview.135338

[bug]

[2020-06-04 22:09] vishwacsena commented on #703
I think we should auto-generate a cross-train config if user specifies `bf luis:cross-train --in folder and --rootDialog dialogName` or `bf qnamaker:cross-train --in folder --rootDialog dialogName`.

@feich-ms @boydc2014 marking this as must have for R10. Without this, it is hard to integrate multiple composer dialogs into a V4 bot. Also not having this means you cannot use CI/CD on a bot that is

[2020-06-04 22:12] vishwacsena opened #843 "luis:build should allow endpoint via arg or use from cli config"
luis:build today does not allow endpoint configuration via CLI arg. This is necessary when user is creating a authoring subscription via azure portal. Of course this key works with the region based mapping but I ran into an issue when I deleted a prior LUIS resource and I could not get luis:build to work because it kept using an invalid and old endpoint I had set via bf config:set:luis.

We should

[2020-06-05 00:08] feich-ms commented on #736
@vishwacsena

- .qna needs to be in the same location as .lu
**Not touched, if we want them to be in different location, we need to adjust the cross-train config to add the qna files mapping rules, it that ok?**
- Do not include patterns in cross-train
**Addressed. Currently only patterns with prebuilt entity are removed in cross-trained _interruption intent. Do we need to remove all patterns in _

[2020-06-05 00:33] vishwacsena commented on #736
- By default do not overwrite. Consistent with luis:convert etc. If foo.lu exists then without `--force` we will write foo(1).lu. When `--force` is specified, we will overwrite.
- `--log` is to find parsing errors with a specific file.

[2020-06-05 00:53] vishwacsena commented on #842
Fixed in the latest bf-cli package. This actually did not require a product fix but invalid packages were being pushed up to nightly. Try `4.10.0-preview.136099`

https://botbuilder.myget.org/feed/botframework-cli/package/npm/@microsoft/botframework-cli

[2020-06-05 00:53] #842 closed

[2020-06-05 03:07] #795 closed

[2020-06-05 03:39] #794 closed

[2020-06-05 03:40] feich-ms commented on #794
Close this specific issue first by this PR. We can continue optimizations if more come.

[2020-06-05 04:40] #751 closed

[2020-06-08 17:31] munozemilio opened #846 "Remove, replace or upgrade lodash from luis converters"
Build is showing a warning on this dependency:
##[warning]Component Governance detected 1 security related alerts at or above 'High' severity. Microsoft’s Open Source policy requires that all high and critical security vulnerabilities found by this task be addressed by upgrading vulnerable components. Vulnerabilities in indirect dependencies should be addressed by upgrading the root dependency.

[2020-06-08 18:22] a-b-r-o-w-n commented on #698
Closing due to lack of activity. @as-444 please re-open if you are still experiencing this issue.

[2020-06-08 18:22] #698 closed

[2020-06-09 07:28] deena211 opened #849 "Unable to convert the ML entity into serialized format after adding a new ML entity containing sub entities."
I have added a new ML entity to my Luis app containing sub-entities. While invoking an utterance having ML entity label. It breaks at the "Convert" method in the Luis generated class while serializing the result from the Luis.
I suspect that the Luisgen is not generating the class properly.
The error is as below:

"Exception Message: Unexpected character encountered while parsing value: {. Path 'e

[2020-06-09 11:19] manish-95 opened #848 "bf luis:version:export output error, which causes bf luis:generate:cs to fail"
## Versions
@microsoft/botframework-cli/4.9.1 win32-x64 node-v12.13.1

## Describe the bug
The output json file generated by **bf luis:version:export** differs slightly from the json file downloaded from the LUIS Portal. This causes the **bf luis:generate:cs** command to fail with the error "Invalid LUIS JSON file content" while used with the output generated by the export command, but succeed wit

[2020-06-09 18:14] #748 closed

[2020-06-10 00:13] vishwacsena commented on #849
@deena211 `luisgen` has been deprecated in favor of `bf luis:generate` command. Can you re-try with this command and confirm if you continue to see the issue?

[2020-06-10 00:15] vishwacsena commented on #848
@axelsrz can you take a look and comment?

[2020-06-10 02:48] feich-ms commented on #703
Per the discussions in our weekly sync up meeting, it's more reasonable to write out the config from composer side. @vishwacsena may create an issue in composer repo. We can close this one once composer side is ready.

[2020-06-10 02:51] feich-ms commented on #805
Depending on SDK bug fixes, if that is fixed, we will pick this one.

[2020-06-10 09:43] deena211 commented on #849
Yes, it worked. Thank you!

[2020-06-11 13:18] #843 closed

[2020-06-11 13:34] manish-95 commented on #848
Hi @axelsrz . Any updates or timeline regarding this issue? Would be great to get a quick update, if any on this. Thank you.

[2020-06-11 18:13] axelsrz commented on #848
@vishwacsena is this really a luisgen issue or a luis:version:export? I was not aware that the names of those properties where camelcase/snakecase interchangegable

[2020-06-11 18:17] vishwacsena commented on #848
@axelsrz yes. bf-lu accomodates for casing because the exported json is different via the LUIS SDK .vs. portal. I chatted with @munozemilio about this prior to 4.9 patch release and he said he is going to make a change to remove dependency on the LUIS SDK..

[2020-06-11 18:19] axelsrz commented on #848
Got it, will start working on this.

[2020-06-11 23:52] #817 closed

[2020-06-12 00:50] vishwacsena commented on #681
No plans to support this.

[2020-06-12 00:50] #681 closed

[2020-06-12 02:25] feich-ms commented on #805
This ticket is to resolve issue here https://github.com/microsoft/BotFramework-Composer/issues/2545 and it was ever resolved by this PR https://github.com/microsoft/botframework-cli/pull/709. But there are some bugs in SDK that makes the predictOptions cannot be loaded by SDK runtime, so we reverted the changes in bf-cli to unblock the release of SDK. Now we are planning to bring them back if need

[2020-06-12 04:20] #736 closed

[2020-06-12 04:43] #819 closed

[2020-06-12 05:09] munozemilio commented on #818
Hi @joe-tossell-mando this will be available in production for our next release(Aug 17) or in our preview feed once the PR is merged (Ill work on that tomorrow).

You can find the instructions to download the preview feed [here](https://github.com/microsoft/botframework-cli#nightly-builds).

Let me know if that works for you

[2020-06-12 05:45] manish-95 commented on #849
@vishwacsena This is the same error as issue  #848. @deena211 and I work together, so we faced the same issue, Please feel free to close this if needed and track with the existing issue. Thanks

[2020-06-12 07:54] coldplaying42 opened #853 "For Cross-Train, require id property in both lu.dialog and qna.dialog files"
When doing cross-train, it checks each recognizer id by the function EnsureRecognizerIds() in CrossTrainedRecognizerSet.cs. So we need to add the id property in each lu.dialog or qna.dialog file, including lu.dialog, en-us.lu.dialog, qna.dialog and en-us.qna.dialog.

[2020-06-12 16:04] joaollq opened #855 "[MCS-DE-GO] -- allow configuring the LUIS slot on lubuild.Builder publish application"
When using the luBuilder it would be important to be able to set the slot where the LUIS model is published. Currently it is hardcoded to the production slot.
Source file: lubuild/core.js  method: publishApplication

 `this.client.apps.publish(appId, {
            versionId,
            isStaging: false
        });`

In our MCS project with Gothaer the customer wants to share a LUIS instance for t

[2020-06-12 16:40] vishwacsena commented on #849
Thanks @manish-95. Closing as dupe of #848

[2020-06-12 16:40] #849 closed

[2020-06-12 18:17] a-b-r-o-w-n commented on #826
Closing due to inactivity. Feel free to re-open this issue.

[2020-06-12 18:17] #826 closed

[2020-06-15 07:39] feich-ms commented on #805
@tomlm, could you please clarify when and how the SDK issue should be fixed to resolve the predictionOptions loading bug in SDK side? Luis build is depending on the bug fix to bring back the predictionOptions in generated dialog files.

[2020-06-15 19:14] tomlm opened #859 "DCR: Create command line tool for working with transcript stores"
## Issue
We have multiple implementations of transcript stores
* Azure Blob Storage
* CosmosDb
* File system
* etc.
But we don't have a way to easily access transcripts from my developer box.

## Proposed change
We should create a **transcripts** cli which allows you to consume and manipulate transcript stores.

| Operation | description|
| ---|---|
| list conversations | retrieve conversations on

[2020-06-16 13:57] devedse commented on #789
@vishwacsena , @benbrown, @dawwa,

Hi all, I ran a test where I export a .LU file in the LUIS portal (eu.luis.ai) and then directly import it again. I also run into this issue then:

![image](https://user-images.githubusercontent.com/2350015/84783809-e4dab280-afe9-11ea-987e-1be6bc587e5a.png)

This is line 423:
[code]

Is this currently a bug in LUIS?

[2020-06-16 19:27] BruceHaley commented on #282
This will be resolved by PR [Publish cobertura code coverage to codecov.io #850](https://github.com/microsoft/botframework-cli/pull/850)

[2020-06-16 22:43] vishwacsena commented on #789
@devedse Yes. This issue was fixed in the latest BF-LU package but is not yet available in LUIS portal. I'm working with LUIS team to address this. In the mean time, rather than exporting directly in .lu format from the LUIS portal, you could use `bf luis:convert` as a workaround.

[2020-06-17 16:00] munozemilio opened #861 "Publish preview builds to NPM"
**Is your feature request related to a problem? Please describe.**
Myget adds friction to the customer when they want to try new features or available fixes for future releases

**Describe the solution you'd like**
Have 3 release streams published to NPM:
- RC
- Latest
- Next

Please refer to #864
[enhancement]

[2020-06-17 17:30] compulim commented on #861
❤ this feature! FYI, `botframework-directlinejs` is on this one already. `botframework-webchat` is semi on this one, we [publish bundle to GitHub](https://github.com/microsoft/BotFramework-WebChat/releases/daily).

I think every package should have a good version number to aid the devs know how cutting edge they are on:

- Devs can easily know what version they are running
   - This will aid us on

[2020-06-17 17:31] vishwacsena commented on #789
@devedse LUIS team is tracking a deployment with this fix for next week.

[2020-06-17 20:43] ELTemi opened #862 "cant add new utterances to Communication.Confirm intent"
Hello I cant add new utterances to the Communication.Confirm intent neither can i delete the intent. Also cant train the app wither possibly due to it not having any utterances. i thought that prebuilt intent will have some utterances already.

I also tried to move some utterances around intents and it wont either. Please help

[2020-06-18 05:31] #853 closed

[2020-06-19 06:47] felixvanleeuwen opened #863 "bf luis:version:export result not compatible for bf luis:version:import"
## Versions
What CLI version are you using.
4.9.1
What Nodejs version are you using
10.16.1
What command-line interpreters are you using
Powershell 6
What OS are you using
Windows 10

## Describe the bug
When using the CLI to export a version I get a result with a "regexEntities" field. When I go to the luis portal and export the version this property does not exist. What exists instead is a "rege

[2020-06-22 07:31] jbinko opened #865 "bf luis:convert doesn't support lu file format fully"
bf --version
@microsoft/botframework-cli/4.9.1 linux-x64 node-v8.17.0

bf luis:convert
Is not able to work with officially documented elements for the *.lu file format.

E.g.
Syntax from here:
https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lu-file-format?view=azure-bot-service-4.0#tie-features-to-a-specific-model

(Sorry Formatting of this editor is not showing the orig

[2020-06-22 13:33] amistry79 commented on #865
I am facing the same issue. I exported the latest .lu file from LUIS portal and which has the latest syntax with @{} and I am getting parsing error. Do let us know if there is any work around for the same.

[2020-06-22 17:22] munozemilio commented on #863
@felixvanleeuwen  I will provide a nightly soon to address this. I will keep you posted once this is out

[2020-06-22 18:48] jwiley84 commented on #862
@ELTemi What is Communication.Confirm? Is this from a sample?

[2020-06-22 20:01] vishwacsena commented on #862
@ELTemi prebuilt domain intents can only be added directly via the `luis.ai` portal because they need additional intent meta-data that is only available through the portal.

I just verified the following and they all work -

1. Created a new app with `Communication.Confirm` prebuilt intent to my application. Exported it to .lu format.

[code]
2. Added new utterances and removed some utterances. Se

[2020-06-22 20:01] #862 closed

[2020-06-22 20:25] vishwacsena commented on #865
@jbinko @amistry79 `bf-cli` requires [node version >= 10.17](https://github.com/microsoft/botframework-cli#installation).

I see you are on `8.xx`. Can you please upgrade your node version to [LTS](https://nodejs.org/en/download/) and try the `luis:convert` and `qnamaker:convert` commands?

I just verified that your example .lu and .qna content parse successfully.

[code]

@munozemilio could we lo

[2020-06-22 20:25] #865 closed

[2020-06-23 13:25] saikumaru opened #867 "Chatdown- converting .transcript to .chat file"
## Tool
Name: [Chatdown]

## Describe the problem
we need a clean method of converting of transcript logs to a human readable format, and chtdown is one possible way, however it currently just does the reverse, i.e. converting .chat to .transcript. This is necessary when we want to analyse the transcripts visually.

## Describe the solution you'd like
Can we have a tool like "Chatup" which can con

[2020-06-23 19:25] #848 closed

[2020-06-25 06:28] saikumaru commented on #867
Thank you for your response, I will begin looking at possibilities.

[2020-06-25 14:34] DishaAgarwal opened #886 "Unexpected behavior while adding chitchat source to .qna file and cross training."
If multi-turn prompts and chitchat source are included on the same file, chitchat prompts were somehow getting linked to unrelated follow up prompts from the same .qna file (if id is not assigned to the follow up prompts).

PFA screenshot of KB for reference

<img width="1097" alt="ChitChat" src="https://user-images.githubusercontent.com/11506427/85739179-34258f00-b71e-11ea-91d0-23b5c92c02dd.png">

[2020-06-25 21:05] scheyal commented on #711
Investigation: Issue is indeed 0a0d in first line
#!/usr/bin/env node

[2020-06-26 17:59] chrimc62 opened #868 "Support inheritance in .lu and .qna files"
This relies on DCR https://github.com/microsoft/botbuilder-dotnet/issues/4179 being done in Node.

In order to support customizing .lu and .qna files we want to be able to include base versions of files.  To do this the CLI for luis and QnA should support the inherit: protocol described in https://github.com/microsoft/botbuilder-dotnet/issues/4180
With this change you can put this in a .lu or .qna

[2020-06-26 20:40] alexisquintana commented on #503
@vishwacsena How can i download qna knowledge base in qna format? https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/download. I didn't find the qnaFormat parameter in the documentation. Thanks.

[2020-06-26 21:11] vishwacsena commented on #503
@alexisquintana I just made a PR to get all qna chit chat dataset added to docs. For now, if you are looking for these, you can find them [here][1]. This PR will get them off this branch into master.

Also to just export any KB content in .qna format, you can simply use the [export CLI command][3]. When using the download API, you can also include `qnaFormat=true` e.g.

[code]
[1]:https://github.c

[2020-06-29 06:32] hibrenda opened #871 "More user friendly error message for lubuild with invalid endpoint"
In composer, if user input invalid endpoint url, lubuild will pop up following error.

![image](https://user-images.githubusercontent.com/43408889/85980435-f9b93c00-ba14-11ea-9d95-de95dc527517.png)

we should provide more user friendly error message. https://github.com/microsoft/BotFramework-Composer/issues/3301

[2020-06-29 22:35] #282 closed

[2020-07-01 17:29] stevengum commented on #570
@shobhitmishra was this unblocked with the recent swagger changes?

[2020-07-01 20:23] cahann commented on #789
the deployment has rolled out, please confirm if the issue is resolved.

[2020-07-01 22:19] stevengum commented on #570
Chatted with @swagatmishra2007, this is unblocked by the latest swagger changes via this line: https://github.com/Azure/azure-rest-api-specs/blob/ab6b4d787190ceb777412ebf79bd57a8dccbec2c/specification/botservice/resource-manager/Microsoft.BotService/stable/2020-06-02/botservice.json#L2465.

Waiting on a new version of the azure-sdk-for-python, which should arrive via https://github.com/Azure/azure

[2020-07-02 00:05] axelsrz commented on #788
Hello @dawwa, could you confirm this was due to a misuse of the tool and not an actual bug?

Thanks.

[2020-07-02 09:13] devedse commented on #789
@cahann , nope it's still broken:

![image](https://user-images.githubusercontent.com/2350015/86340332-03c97d80-bc55-11ea-87dc-3c9f954efd7f.png)

[2020-07-02 11:07] AndyCW opened #874 "bf luis:convert wrongly assigns features found on ml entities in the input to intents in the output"
## Versions
What CLI version are you using:  4.9.1
What Nodejs version are you using: 12.18.2
What command-line interpreters are you using: bash, powershell
What OS are you using: Windows, Ubuntu

## Describe the bug
`bf luis:convert` does not convert from `.lu` to `.json` correctly if the model use machine learned entities that have features. Any features that are attached (separately) to ml enti

[2020-07-02 12:02] sarlasankar commented on #599
Hi All,
While executing the "dispatch create" command getting below error:
Getting Error:
{
  "error": {
    "code": "401",
    "message": "The apps - Import application Operation under LUIS Programmatic APIs v3.0-preview is not supported with the current subscription key and pricing tier LUIS.S0."
  }
}

[2020-07-02 13:44] felixvanleeuwen commented on #863
Any movement on this?

[2020-07-02 17:48] #818 closed

[2020-07-02 18:17] munozemilio commented on #863
@felixvanleeuwen  Can you please try the nightly build?

[2020-07-02 19:10] cahann commented on #789
but this time i see I different error, it seems there is a cyclic dependency. InAdance is used as feature to InAdance

[2020-07-03 16:01] felixvanleeuwen commented on #863
Nightly fixed the issue, importing JSONs from the export now works without a hitch.
Thank you for your effort! 😁

[2020-07-03 16:01] felixvanleeuwen opened #875 "bf luis:application:publish"
## Versions
What CLI version are you using.
botframework-cli@4.10.0-preview.143194
What Nodejs version are you using
12.18.1
What command-line interpreters are you using
Powershell 6
What OS are you using
Windows 10

## Describe the bug
Give a clear and concise description of what the bug is.
bf luis:application:publish doesn't always publish.

## To Reproduce
1. Get a valid JSON to import;
2. Run

[2020-07-06 06:35] GitDruid commented on #412
Hi @vishwacsena
I still get these errors when trying to deploy for IT and DE:

Using latest version of the botframework-skills code downloaded on 3/7/2020.

Alessandro.

[2020-07-06 06:47] GitDruid commented on #412
This link is no more valid.

[2020-07-06 14:30] GitDruid opened #900 "update_cognitive_models.ps1 misbehave when Machine learning features are added"
#### What project is affected?
Skill template

#### What language is this in?
C#

#### What happens?
When a Machine learning feature is added to an intent on the LUIS authoring page, the execution of update_cognitive_models.ps1 (RemoteToLocal=true) does not generate the xxxLuis.cs file.
The cli tool ends with a successfull "> Update complete." message, no warning is presented.
Just the log file (u

[2020-07-06 18:35] cleemullins commented on #711
@scheyal Can you provide an update? This seems straightforward to fix.

[2020-07-07 02:28] feich-ms commented on #805
@vishwacsena any feedback for this issue?

[2020-07-07 06:46] GitDruid opened #876 "BF luis:convert error while deploying Calendar Skill it-it and de-de"
I still get these errors when trying to deploy Calendar Skill for IT and DE:

Using:
- latest version of the botframework-skills code downloaded on 3/7/2020
- botframework-cli version 4.9.1

Ciao,
Alessandro.

_Originally posted by @GitDruid in https://github.com/microsoft/botframework-cli/issues/412#issuecomment-654043362_

[2020-07-07 15:40] munozemilio commented on #875
@felixvanleeuwen just to confirm, whats the difference between the output when the model is trained and when its not?Have you tried using the --wait flag in the publish command?

[2020-07-07 17:03] felixvanleeuwen commented on #875
Missed the --wait flag. I'll try it out and report back if I notice it happening again.

[2020-07-07 18:24] vishwacsena commented on #805
@feich-ms microsoft/botbuilder-dotnet#4149 is assigned to @tomlm. we discussed it in triage and he took point to fix it for R10. Hope that helps.

[2020-07-07 18:37] vishwacsena commented on #789
@devedse if able, can you export your application as JSON and share it? This will help root cause the issue.

I just verified that the following LU content round trips (import and exports) via the LUIS portal. To @cahann there appears to be a different issue past the one originally reported here.

[code]

[2020-07-07 19:00] vishwacsena commented on #874
@AndyCW this is the default behavior in LUIS with the introduction of the ability to explicitly to assign phrase list as a feature to specific models. The LU parser by default assigns a phrase list as a feature to all models. If you prefer to add it as a feature to specific intents, you can do so using

[code]

This will remove the specific phrase list as being assigned as a feature to all models

[2020-07-07 19:20] vishwacsena commented on #876
PersonName is not supported for it-it https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#italian-entity-support
It is also not supported for de-de https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#german-entity-support

@darrenj can you track a work item to update the skills LU with locale specific prebuilt

[2020-07-07 22:54] #863 closed

[2020-07-08 01:21] luhan2017 opened #878 "bf crosstrain, if qna file is empty, we should not crosstrained for qna and generated an non-empty qna file"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
@vishwacsena , in composer, the expected behavior is if qna file is empty, user don't need to input a qna authoring key, and the qnabuild should not be called. but we found that the crosstrain did generate a non-empty qna file.

The e

[2020-07-08 06:52] feich-ms opened #879 "qnabuild write dialog assets for each dialog instead of writing a shared set"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
In crosstrain CLI, when cross training qna with luis, the `DeferToRecognizer_QnA_{dialogName}` should change to `DeferToRecognizer_QnA_{botName}` as runtime is trying to find the recognizer by the suffix. Since we are generating dialo

[2020-07-08 08:34] devedse commented on #789
@vishwacsena , I've uploaded the .json file on the "Secure File Transfer" link that was shared by K. Jahagirdar. I'll ask her to share it with you.

[2020-07-08 09:05] luhan2017 opened #880 "Move CrossTrainRecognizer generation logic from lubuild/qnabuild to crosstrain"
we hit some issue when enable qna and crosstrain recognizer in composer. So I propose to have a more clear design of the functionality of each lib. We should not put the crosstrain recognizer logic in qnabuild or lubuild, what if non-composer users and they don't care about crosstrain? I think crosstrain recognizer genration logic should be in crosstrain library.

The whole crosstrain + lubuild +

[2020-07-08 13:17] Vigneshramkumar opened #881 "Security issue since QnA Maker image URLs needs to be public."
## Versions
Name: QnA Maker and MS Teams
Version: latest
OS: all

## Describe the bug
QnA Maker images needs to be public and this will cause security issue since that is accessible from outside. Also images are not getting rendered in MS Teams

## To Reproduce

1. Create a QnA Maker and add public image URL

## Expected behavior

QnA Maker image URLs should not be public or else there should be a

[2020-07-08 20:24] munozemilio commented on #881
Hello @Vigneshramkumar can you provide details on how you are using the CLI for this?

[2020-07-09 01:01] vishwacsena commented on #789
@devedse thanks for sharing the application json. I looked into the it and the issue is caused because of the occurrence of an ML entity as well as phraseLists with the same name. Although the LUIS portal supports this, there is no good way to have this be supported in the LU format without compromising readability of the content in LU format.

So the fix here would be for the phraseLists to all h

[2020-07-09 01:01] #789 closed

[2020-07-09 02:37] feich-ms commented on #823
related with https://github.com/microsoft/botbuilder-dotnet/pull/4187#event-3527686642

[2020-07-09 02:54] feich-ms opened #883 "crosstrain should add filter for qna only scenarios"
**Is your feature request related to a problem? Please describe.**
In composer, there is a scenario that only qna is enabled in bot, in such scenario, crosstrain will not be called and dialog filters are not added to qna files. Without

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise d

[2020-07-09 03:28] feich-ms commented on #880
I don't think it's necessary to move CrossTrainRecognizer generation logic to crosstrain library. It will confuse users if we have CrosstTrainedRecognizer and other recogizers generated in different library. I prefer to optimize the lu/qnamaker build apis to provide a function for users to generate empty crosstrained recognizer when both .lu and .qna are empty files. Currently I have three functio

[2020-07-09 06:23] zhixzhan opened #907 "LU parser update body not correct."
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots
<img width="2014" alt="image" src="https://user-images.githubuserco

[2020-07-09 10:11] devedse commented on #789
@vishwacsena , thanks for your explanation. I think it would be a very good idea to add some information in the error messages / luis portal / when defining a luis model to prevent users from running into the same problem. Would it be a good idea to leave this issue open until that's fixed?

[2020-07-09 14:32] vishwacsena commented on #881
@pchoudhari can you comment?

[2020-07-09 14:33] vishwacsena commented on #876
@darrenj would it make sense to transfer and track this in the VA/ skills repo?

[2020-07-09 14:45] vishwacsena commented on #452
No plans to do this.

[2020-07-09 14:45] #452 closed

[2020-07-09 18:49] dawwa commented on #788
yep, consider this is a syntax violation and address this by erroring out rather than rendering code that could not compile.

[2020-07-09 18:57] chrimc62 opened #884 "Add the ability to merge uischema in dialog:merge to support Composer"
Composer uses uischema.json to describe UI customization over the underlying app.schema.  In order to support that a project or each underlying component can include a <kind>.[locale.]uischema as well.  The result of merging across a project and all dependent packages is a single uischema.json that can be used to drive Composer put next to the output app.schema.  The shape of uischema.json is:
[co

[2020-07-09 19:48] #788 closed

[2020-07-09 20:05] vishwacsena commented on #789
@cahann can you comment how you would like to track this?

[2020-07-09 20:22] felixvanleeuwen commented on #875
Had the --wait flag on and tried to update our skills. Some were not deployed to production:
![image](https://user-images.githubusercontent.com/64589372/87086559-141fc080-c232-11ea-9d06-356db410174a.png)
![image](https://user-images.githubusercontent.com/64589372/87086743-49c4a980-c232-11ea-9e23-9381cbed153b.png)

![image](https://user-images.githubusercontent.com/64589372/87086586-197d0b00-c232-1

[2020-07-09 20:38] felixvanleeuwen commented on #875
I noticed a difference in how a successful train looks:
![image](https://user-images.githubusercontent.com/64589372/87088288-cfe1ef80-c234-11ea-83c8-14ed6c41f40e.png)

It seems it is the `--wait` flag that is not working as advertised?

[2020-07-10 00:09] cahann commented on #789
I added to our backlog of issues with error messages. Its one of the top things we want to improve in V4 APIs

[2020-07-10 01:04] boydc2014 commented on #879
triaged, this is not the direction, we should follow up with dialog name

[2020-07-10 01:12] #874 closed

[2020-07-10 10:48] felixvanleeuwen opened #887 "bf qnamaker:kb:export doesn't respect HTTPS_PROXY"
## Versions
What CLI version are you using.
botframework-cli@4.10.0-preview.143194
What Nodejs version are you using
12.18.1
What command-line interpreters are you using
Powershell 6
What OS are you using
Windows 10

## Describe the bug
bf qnamaker:kb:export doesn't respect HTTPS_PROXY.
Wireshark shows direct connection attempts to 13.69.68.23.

## To Reproduce
1. Get behind a corporate proxy;
2.

[2020-07-10 11:13] darrenj commented on #876
Yes.

[2020-07-10 17:42] Vigneshramkumar commented on #881
@munozemilio - I am using QnA Maker portal for training the KB. There have to provide images for response and that images need not to be publically available since that are internal to company and cannot be exposed. Is there any other way for saving the images that is not exposed to internet.
QnA Maker Portal
![image](https://user-images.githubusercontent.com/17233137/87182953-c626bd80-c302-11ea-9

[2020-07-10 23:15] vishwacsena commented on #881
@pchoudhari can you comment? Also this seems to be a general QnA Maker question and not related to BF CLI.

[2020-07-10 23:32] #838 closed

[2020-07-10 23:33] #809 closed

[2020-07-10 23:33] #834 closed

[2020-07-11 00:04] vishwacsena commented on #886
@feich-ms I can repro the issue and do not repro it with a simple `qnamaker:convert` but can repro with `qnamaker:build`. Can you take a look at what's causing it and prep a fix? You can use the zip file @DishaAgarwal provided and follow the instructions in readme.md to setup/ repro the bot. The issue is that somehow the prompts are linked to incorrect IDs.

[2020-07-11 00:11] vishwacsena commented on #692
@xhr0804 the issue is with defining entities and lists with spaces in them. In general you need to wrap these with quotes.

[code]

[2020-07-11 00:11] #692 closed

[2020-07-13 02:55] feich-ms commented on #886
sure, will take a look.

[2020-07-13 03:51] lei9444 opened #888 "Improve the Lu intents CRUD performance"
## Versions
master branch

## Describe the bug
It will take 2 seconds when updating the lu intents in an 1k lines lu file.
If we can reduce the waiting time. It will be helpful for composer' UI render performance

[2020-07-13 05:01] DishaAgarwal commented on #881
@Vigneshramkumar Hello, Currently there is no way to render private image links in Teams right now.

[2020-07-13 13:41] feich-ms commented on #879
yes, we should not touch dialog name in filter. Instead I made changes in qnamaker build to write out dialog files for each dialog but the recognier pointing to merged KBs based on locales. PR is here https://github.com/microsoft/botframework-cli/pull/889

[2020-07-13 18:28] munozemilio commented on #887
Hello @felixvanleeuwen, thanks for reporting this. I will take it as port of our next release cycle.

[2020-07-13 19:25] scheyal commented on #711
+ @munozemilio (see email)

[2020-07-15 01:53] chrimc62 commented on #884
Fixed by PR #852

[2020-07-15 01:53] #884 closed

[2020-07-15 09:45] feich-ms commented on #886
@vishwacsena I have figured out the root cause. As you know, we are merging qna contents from multiple files into one and then publish the merged one. In above generated qna files, the chitchat.qna has id for each QA pair, but the QA pair of `store hours` in RootDialog.qna has no explicit ids. We will resolve the multi turn prompts and generate ids for them when parsing RootDialog.qna. We will hav

[2020-07-15 11:17] Vigneshramkumar commented on #881
@DishaAgarwal - Thanks for the response. Is there any chance of including that feature in near future? Because private image repo is very critical for many business.

[2020-07-15 12:32] feich-ms commented on #855
fixed in this PR https://github.com/microsoft/botframework-cli/pull/898

[2020-07-15 13:41] DishaAgarwal commented on #886
@feich-ms Thanks for the analysis! It seems right as this issue doesn't occur if i explicitly specify ID to the QnA pair for 'store hours'. While I am not blocked in the short term, I believe it would be good to work on getting this resolved.
@vishwacsena  How do you think we should go ahead with the resolution? If the user doesn't specify the ID and a overlap occurs should we throw an error or au

[2020-07-15 14:25] DishaAgarwal commented on #881
@Vigneshramkumar Thanks for the feedback. We are making a note of your request. While we don't have it as a priority item currently, we will keep our documents updated if we build in the functionality to include private images.

[2020-07-15 14:27] #881 closed

[2020-07-15 19:19] vishwacsena commented on #886
@feich-ms I thought I had some logic in the core parser to handle this in that we would do this ..
1. Resolve follow up questions and add IDs to the prompts since they need to be linked via ID
2. ID all content in the document
3. If collating, then re-ID all qna pairs to start linearly but ensure the follow up prompt IDs match the right QnA from the right document

Have you already look at this co

[2020-07-16 00:40] #855 closed

[2020-07-16 02:42] feich-ms commented on #886
@vishwacsena thanks for the suggestions. I know the logic there but I only resolved the multi turn IDs in each file and then directly merge them, that means in each file the IDs are guarteened right but it may run into conflicts after merging with other files that also have same ids. Based on your suggestion, I think we can do another round re-ID after merging them to make sure the multi turn ids

[2020-07-16 12:59] feich-ms commented on #886
Fixing in this PR https://github.com/microsoft/botframework-cli/pull/902

[2020-07-16 18:12] compulim commented on #900
@munozemilio Please funnel to the right person. 😉

[2020-07-17 06:41] #886 closed

[2020-07-18 23:57] #888 closed

[2020-07-20 03:33] Danieladu opened #906 "Use simple json.parse and json.stringify instead of cloneDeep in SectionOperator constructor"
Current SectionOperator  uses ` cloneDeep` and `cloneDeepWith` to clone a luresource.
But, luresource is totally an entity with pure data. So, just replace it with `JSON.parse(JSON.stringify(luresource));` is fine.

[inhancement]

[2020-07-20 06:09] boydc2014 commented on #907
looks like a bug @feich-ms can you help take a look

[2020-07-20 18:18] munozemilio commented on #875
@felixvanleeuwen could you please try the new nightly build from npm and see if you can repro with those bits?
[code]

[2020-07-21 09:01] felixvanleeuwen commented on #875
We have two scripts that use this command.

One, we ran last night, before updating to the new nightly. All models were successfully trained and published.

The other, we ran just now after updating to the new nightly. All models were successfully trained and published.

Reproducing this issue seems to rely on some fluke or our corporate proxy, which has been going through some changes recently.

[2020-07-21 17:00] munozemilio commented on #875
Im closing this then @felixvanleeuwen. Feel free to re open if needed

[2020-07-21 17:00] #875 closed

[2020-07-22 07:51] goergenj opened #1092 "[MCS-DE-GO] Syntax Validation does not catch all .LU syntax errors"
On our implementation we found that not all .LU-file syntax errors are being recognized.

We had this (erroneous) entry:

#GetConfirmation
- yes of course
- I'd like that yes
- I'd love to
- no thank you
- not today thanks
- no rather not

[code]

This is the correct syntax:

[code]

Errors were:
- Labelled utterances on an entity list without roles
- Missing "=" in list entity definition
- ";" at

[2020-07-22 09:25] feich-ms commented on #907
Fixed in PR #910

[2020-07-22 09:25] feich-ms commented on #883
Fixed in PR #889

[2020-07-22 09:25] feich-ms commented on #880
Fixed in PR #889

[2020-07-22 09:26] feich-ms commented on #878
Fixed in PR #889

[2020-07-22 16:32] munozemilio commented on #900
Hi @vishwacsena is it possible for you to check on this one please?

[2020-07-23 07:38] #883 closed

[2020-07-23 07:39] #880 closed

[2020-07-23 07:39] #879 closed

[2020-07-23 07:39] #878 closed

[2020-07-23 07:42] feich-ms commented on #805
Blocking by microsoft/botbuilder-dotnet#4149. Once it's fixed, I will take changes in bf-cli side.

[2020-07-23 07:43] #906 closed

[2020-07-27 13:23] #907 closed

[2020-07-28 00:29] vishwacsena commented on #900
@lauren-mills @GitDruid can one of you please attach an export of the LUIS application as JSON instead of LU?

[2020-07-28 00:38] vishwacsena commented on #900
Nevermind. I spotted the issue. @GitDruid I believe the space in phrase list name is causing the issue. For now, could you try a phrase list without space in its name and see if that addresses your issue? `ApplicationSynonym` instead of  `Application synonyms`

[2020-07-28 00:41] vishwacsena commented on #900
@feich-ms can you help address this issue in the core parser? The following does not parse correctly

[code]

But this (without spaces in phrase list name) parses correctly. Looks like we need a grammar fix?

[code]

Tagging R10, LU

[2020-07-28 07:05] GitDruid commented on #900
Yes, you are right @vishwacsena : removing the space in the feature name solved the issue.

[2020-07-28 07:47] manish-95 opened #914 "bf luis:generate:cs not taking the className flag correctly"
## Versions

**BF CLI**: @microsoft/botframework-cli/4.10.0-dev.20200721.8bb21ac
**Node version**: node-v14.6.0
**CLI**: PowerShell 6.2.2
What OS are you using : Windows 10 win32-x64

## Describe the bug
For the className arg, I am passing a name which contains an underscore "EmceeSkill_DevBotLuis". However the generated output ignores the special character and gives me the class name as "EmceeSki

[2020-07-28 18:21] EricDahlvang commented on #914
Hi @manish-95

Thank you for raising this issue, and noticing the fix is in the nightly.  This will be released in August as part of our 4.10 release cycle.

[2020-07-28 18:23] manish-95 commented on #914
@EricDahlvang The fix for this was not part of the nightly build I am using. The fix available is for another issue , ie #848 . This issue still exists even in the nightly build.

[2020-07-29 02:05] feich-ms commented on #900
@vishwacsena, sorry, I missed the github email yesterday. Will send a PR today.

[2020-07-29 02:36] feich-ms commented on #805
Since microsoft/botbuilder-dotnet#4149 removed R10 tag, I will remove R10 tag for this one first. Please add back R10 tag if it is.

[2020-07-29 06:07] EricDahlvang commented on #914
Apologies, maybe i closed this too early.  Does this PR fix the issue?

https://github.com/microsoft/botframework-cli/pull/857

[2020-07-29 07:25] manish-95 commented on #914
@EricDahlvang #857 fixes #848 . The bug I have still exists. If I provide the className flag as part of the arguments to the bf luis:generate:cs command, and the name provided contains an underscore, eg Name_Luis, the output cs file generated has the class name as NameLuis.

[2020-07-29 10:46] feich-ms commented on #900
Fixed in this PR https://github.com/microsoft/botframework-cli/pull/915. Test case from above is also added.

[2020-07-29 11:50] feich-ms opened #916 "Expose an API to get qna service langauge in bf-lu"
**Is your feature request related to a problem? Please describe.**
Composer is enabling qna features now and they need the API to get the qna service language setting

**Describe the solution you'd like**
Expose a public API in bf-lu to return qna service language

**Describe alternatives you've considered**
Add a public function in qna builder.ts

**Additional context**
Add any other context or s

[2020-07-29 12:21] feich-ms commented on #916
The language is included in getEndpointKeys API here https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/endpointkeys/getkeys. Actually we already have this API exposed here https://github.com/microsoft/botframework-cli/blob/master/packages/lu/src/parser/qnabuild/builder.ts#L287. So close this.

[2020-07-29 12:21] #916 closed

[2020-07-29 16:59] #861 closed

[2020-07-29 17:34] #749 closed

[2020-07-29 18:11] EricDahlvang commented on #914
@munozemilio  Would you please look at this one?

[2020-07-29 18:12] EricDahlvang commented on #914
@manish-95  Have you tried working around this by using names without underscores?

[2020-07-29 18:18] manish-95 commented on #914
Hi @EricDahlvang
  I'm sure this would work, however, the bot and all its resources were deployed using the deploy.ps1 script provided, which converts hyphens in the resource group name, to underscores in the namespaces across the code. Changing the class name of the LUIS helper would require a lot of changes in the code itself.

[2020-07-31 00:10] #900 closed

[2020-07-31 00:43] vishwacsena opened #917 "LU format link reference additions"
LU format today only supports `[description](link)` notation for imports as well as resolving references. We should expand this to support the following markdown notation

[code]

[2020-08-03 18:19] daveta commented on #887
@munozemilio : Is this a part of R10?  Could you label it accordingly?
Thanks, -Dave

[2020-08-03 20:34] stevengum commented on #570
Current PR this issue is waiting on can be found at: https://github.com/Azure/azure-sdk-for-python/pull/12726

[2020-08-03 21:45] JonathanFingold opened #918 "Add bot health check to az cli bot extensions"
"Best practice" when creating a skill consumer is to perform a health check on the skill before adding it to your bot.
There is currently no straight forward way to do so.

I'd like to be able to perform a bot health check from the command line.

**Describe alternatives you've considered**
Add a Health Check feature to the Emulator ([Emulator issue 2166](https://github.com/microsoft/BotFramework-E

[2020-08-04 18:57] vishwacsena opened #920 "Hierarchical entities are not parsed correctly"
This json is parsed incorrectly

[code]

**Expected: **

[code]

**Actual:**

[code]

[2020-08-05 03:08] vishwacsena opened #922 "LU parser - add support for URIs"
Add support for the following -

[code]

[2020-08-05 03:48] vishwacsena commented on #917
@feich-ms can you help?

[2020-08-05 07:50] feich-ms commented on #917
sure, will take a look.

[2020-08-05 15:31] #920 closed

[2020-08-05 23:11] #922 closed

[2020-08-06 07:05] feich-ms opened #924 "loadContents function will fail when empty and non-empty lu or qna files list are provided"
## Versions
bf-cli master branch
Composer reported issue since they have empty lu or qna files in many scenarios.

## Describe the bug
When users call loadContents function in builder.ts of lubuild or qnabuild, it will not load files and create dialogs assets correctly when parsing empty files. The root cause it that luMerger will throw exception if we don't filter those empty files. The fix is st

[2020-08-06 09:46] #924 closed

[2020-08-07 16:52] #887 closed

[2020-08-07 16:52] munozemilio commented on #887
closed by #899

[2020-08-07 18:09] vishwacsena opened #928 "[LU] should type names be case sensitive?"
Right now, this fails silently

[code]

Notice `phraseList` .vs. `phraselist`.

[2020-08-07 18:10] vishwacsena opened #929 "[LU] clean up parser and move all validations to occur after collate"
We have validations all over the place in bf-lu at the moment. we should clean this up and have validations occur only after collate operation.

[2020-08-07 19:36] #846 closed

[2020-08-10 10:09] shikshik opened #930 "Review Endpoint Utterances with dispatch"
Hey, great work on moving all tools under 1 CLI, makes life much more easier.

I couldn't find any option to return the endpoint utterances for dispatch app for active learning.
Is there a tool to add endpoint utterances for dispatch app in the new CLI?
What will be the right flow for adding those to a dispatcher and to a second level luis app connected to the dispatch app?

There isn't even expor

[2020-08-11 17:42] tsuwandy commented on #930
@shikshik , do you normally review endpoint utterances for dispatch app on luis.ai portal?

To add utterances directly to Dispatch and make sure those are persisted with dispatch refreshes, add those utterances to a text file and add them to dispatch with the same intent name as the LUIS sub app.

More information here:
https://github.com/microsoft/botbuilder-tools/blob/master/packages/Dispatch/re

[2020-08-11 18:25] carlosscastro commented on #930
Closing since @tsuwandy seems to have answered the question. Please reactivate if needed, thanks!

[2020-08-11 18:25] #930 closed

[2020-08-11 18:26] carlosscastro commented on #867
Closing because we are not planning this work in the immediate future.

[2020-08-11 18:26] #867 closed

[2020-08-12 07:18] shikshik commented on #930
Issue was not solved.

I'm using dispatch CLI to update dispatch, as the docs suggest.
There is no way to export "Review Endpoint Utterances" list from luis.ai which is the main problem.

Either allow exporting so we can add manually to the dispatch CLI or allow the dispatch CLI tool to do it (much better solution).

[2020-08-12 07:51] zhixzhan opened #933 "Enable customized import resolver in LUParser"
**Is your feature request related to a problem? Please describe.**

Composer are bring in Lu reference feature, it requires two place support customized resolver
1. `parse` method in `luParser`
2. CRUD methods  in `sectionOperator`
3. parse result add `allSections` include imported file's section (for editor intelligence)
4. parse result's `diagnostics` need include imported file's diagnostics

[2020-08-12 15:46] tsuwandy commented on #930
@shikshik, luis.ai has a way to export the endpoint logs:

![64083BC1-37D3-459E-B22F-624B269D7D26](https://user-images.githubusercontent.com/10739108/90036738-36b15900-dc78-11ea-919e-f449f624621f.png)

Have you tried this?

[2020-08-12 20:12] axelsrz commented on #914
Hello @manish-95 thanks for your feedback. The behavior your describing from luis:generate command is expected. By [C# convetion](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-classes-structs-and-interfaces), classes and interfaces should be PascalCase and that's why the tool converts from other casing styles to the standard.

Regarding what you mention from the deplo

[2020-08-12 22:04] #914 closed

[2020-08-13 06:40] zhixzhan opened #934 "CustomizedImportResolver in LU build/crossTrain"
Composer use are use those modules do publishing:
[code]
3 methods need support customized import resolver:
- `loadContents` in `lubuild.Builder`  and `qnabuild.Builder`
- `crossTrain` in `crossTrainer`

[2020-08-13 18:35] vishwacsena opened #936 "az bot create still uses the old login mechanism - update to latest without magic code"
Filing this on behalf of @tomlm - He observed that Az bot still uses the magic code based login flow and the auth needs to be re-done for each command. This makes it hard to use the command in a script/ automation that does not require user intervention.

[2020-08-14 08:38] feich-ms commented on #933
This can be done by the existing functions. You can use such [function flow](https://github.com/microsoft/botframework-cli/blob/98731ad1c06a0e98027bd427474ba52b7ace7fb0/packages/lu/src/parser/lubuild/builder.ts#L86-L88) to resolve imports and get the resolved lu content. Then use current luparser.parse to parse the resolved lu content and get all sections that contains imported ones.

[2020-08-16 13:56] dawwa opened #937 ""Update available" reminder invalidate the output json schema"
## Versions
4.9

## Describe the bug
The extra reminder content injected into the output and invalidates the json.
Consumer scripts might rely on the output and has been parsing into json object, injecting additional output in free form caused regression in deployment automation.

- Provide a flag to turn off the reminder would work as an option to fix this.
- The -o option to a json file is not i

[2020-08-18 09:42] shikshik commented on #930
@tsuwandy , Thanks you!
I guess my intuitive action was to look for export in that specific page instead of the "My Apps" page.

I will give it a try. Thanks again!

[2020-08-18 10:33] luhan2017 opened #942 "[QnaBuild] Get QnARuntimeError(Unable to connect to Azure search service) when publishing to the qna service."
Sorry, something went wrong with publishing. Try again or exit out of this task.

{ "error": { "code": "QnaRuntimeError", "message": "Runtime error.", "innerError": { "message": "Unable to connect to Azure search service. Please verify that the Azure search resource in your QnAMaker service is up and running.", "code": "AzureSearchBadState", "innerError": { "code": "Index 43456541-39c3-45b2-917e-9

[2020-08-18 14:30] manish-95 commented on #914
@axelsrz Our DevOps team had provided a hyphen in the resource name while providing it, which changed the class name of the LUIS helper class to one with an underscore in place of the hyphen, so I guess the change is indeed on our end. Thanks.

[2020-08-18 15:40] manish-95 opened #943 "bf:luis convert error while generating .luis file"
## Versions
@microsoft/botframework-cli/4.10.0 win32-x64 node-v12.18.1
PowerShell 7.0.3
Windows 10 x64
botskills version 1.0.16

## Describe the bug
While generating the .luis file using the **bf:luis convert** command, I get the following error:
`[ERROR] line 955:19 - line 955:22: syntax error: no viable alternative at input ' All'
[ERROR] line 955:19 - line 955:22: syntax error: invalid input 'A

[2020-08-20 09:01] zhixzhan commented on #933
I see, the result of
```LuisBuilderVerbose.build(luFiles, true, fileCulture, fileResolver);```
 contains all `entities, patterns, intents`

<img width="442" alt="image" src="https://user-images.githubusercontent.com/49866537/90749655-50047600-e306-11ea-88c5-22d612e2e534.png">

It will resolve item no.3

[2020-08-20 13:15] GitDruid opened #946 "bf qnamaker:kb:update do not create follow-up prompt"
## Versions
What CLI version are you using: 4.10.1
What Nodejs version are you using: node-v12.18.0
What command-line interpreters are you using: 7.0.2
What OS are you using: Windows 10 Enterprise

## Describe the bug
When using bf CLI to add QnA List, context field is not taken into account. Follow-up prompt feature is not created.

## To Reproduce
Steps to reproduce the behavior:
1. Create a kno

[2020-08-20 13:31] GitDruid commented on #946
Doing a KB export I just saw that the Id provided in the file is overwritten on the server.
Probably that's why the follow-up link is not created.
So, how can I link two QnA entries?

[2020-08-20 14:08] GitDruid opened #947 "Not able to send files to QnA Maker using “bf qnamaker:kb:update” command"
## Versions
What CLI version are you using: 4.10.1
What Nodejs version are you using: node-v12.18.0
What command-line interpreters are you using: 7.0.2
What OS are you using: Windows 10 Enterprise

## Describe the bug
None of the possible FileUri format listed [here](https://en.wikipedia.org/wiki/File_URI_scheme) for windows are accepted.

## To Reproduce
Steps to reproduce the behavior:
1. Create

[2020-08-20 20:13] #934 closed

[2020-08-21 02:36] boydc2014 opened #950 "core libraries (bf-lu etc) should not depends on oclif related packages"
Oclif related packages should only be a dependency of cli package, not the core library packages.

dialog
![image](https://user-images.githubusercontent.com/3829387/90846202-44fb2580-e39a-11ea-9de3-a332737ade86.png)

lu
![image](https://user-images.githubusercontent.com/3829387/90846223-50e6e780-e39a-11ea-891e-4e839a4f95d5.png)

qna
![image](https://user-images.githubusercontent.com/3829387/908462

[2020-08-24 05:12] feich-ms opened #953 "importUrlReference in qna builder lib should update or create kb correctly"
## Versions
latest version 4.10.1

## Describe the bug
importUrlReference or importFileReference should update or create kb correctly if kb is not deleted in some cases.

## To Reproduce
Steps to reproduce the behavior:
1. call importUrlReference or importFileReference function and cancel the call before deleting is executed.
2. You will see the kb is created and not deleted
3. call importUrlRefer

[2020-08-24 05:18] feich-ms opened #954 "add TPS control for importUrlReference and importFileReference API functions"
## Versions
latest main 4.10.1

## Describe the bug
Current there are no TPS control for importUrlReference and importFileReference function which cause composer running into tps issues when they are leveraging the concurrence capabilty of qna maker service.
Currently composer is controlling the tps itself when calling above apis. It will be addressed if still running into this issue after tps con

[2020-08-24 18:05] lauren-mills commented on #946
@munozemilio - can you take a look at this?

[2020-08-24 18:11] lauren-mills commented on #943
@munozemilio - can you take a look at this?

[2020-08-25 02:15] #953 closed

[2020-08-25 05:18] feich-ms commented on #942
I did some investigation and the root cause is the published knowledge bases limit here https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/limits#knowledge-bases. We can give users hints if their published kbs are more than the maximum number of their pricing tier.

![image](https://user-images.githubusercontent.com/43032123/91125939-785ced80-e6d5-11ea-9fe3-ca483d874562.png)

[2020-08-25 17:40] munozemilio commented on #946
Thanks for bringing this up @GitDruid, I will try to reproduce and get back to you.

[2020-08-25 17:47] munozemilio commented on #947
Hi @GitDruid this is coming from the qnamaker service directly. Ill try to find out the correct api usage and provide an update

[2020-08-26 18:19] pavolum commented on #943
We have a fix that is in PR now and will close this issue

[2020-08-26 22:57] #943 closed

[2020-08-27 00:51] munozemilio commented on #947
@GitDruid [this](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/update#filedto) is the documentation for the qna service. The issue is the url should be public

[2020-08-27 00:51] #947 closed

[2020-08-27 08:28] GitDruid commented on #947
Hi Emilio,
thank you for the answer.

However, I do not agree with your analysis. QnA service url IS actually public accessible.
Additionally the script works if I use it just to upload qna pairs or page urls. It just does not work when using local files Uri (like file:///...).
In the documentation page you send me they are using full URL to locate the files, like:

[code]
And this actually works.

[2020-08-27 08:43] GitDruid opened #957 "Not able to send files to QnA Maker using “bf qnamaker:kb:update” command"
The issue #947 is still not addressed. May you keep it open, please?

Hi @munozemilio , @lauren-mills ,
thank you for the answer.

However, I do not agree with your analysis. QnA service url IS actually public accessible.
Additionally the script works if I use it just to upload qna pairs or page urls. It just does not works when using local files Uri (like file:///...).
In the documentation page y

[2020-08-27 08:47] #957 closed

[2020-08-27 18:53] munozemilio commented on #947
Hi @GitDruid, my apologies for the confusion. I was referring to the fileUri thats way I pointed the link directly to the FileDTO part.
Im very sorry to read you are facing difficulties using the Bot Framework. We are constantly working on improving users support and experience. Please feel free to open as many issues as needed or reopen the ones you believe were not addressed properly. I assure y

[2020-08-28 00:05] #942 closed

[2020-08-28 00:06] feich-ms commented on #954
close this first and can reopen it when users still run into this issue after the concurrency control in composer side.

[2020-08-28 00:06] #954 closed

[2020-08-31 03:28] feich-ms commented on #933
close this issue since there is already a solution there.

[2020-08-31 03:28] #933 closed

[2020-08-31 04:16] #950 closed

[2020-09-01 09:53] #372 closed

[2020-09-03 09:36] zhixzhan opened #963 "luParser sectionHandler return value not consistent"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

#### When I have a QnA file not include imports like:
[code]

Do `deleteSection` return
<img width="1839" alt="Screen Shot 2020-09-03 at 5 30 34 PM" src="https://user-images.gi

[2020-09-04 02:20] #917 closed

[2020-09-04 05:37] zhixzhan opened #964 "luParser sectionHandler update wrong body"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

1.  have a QnA file include model info options:
[code]
2. insert an empty section works fine
[code]

3. updated this section with
[code]

result turn out to be:

[code]
and in

[2020-09-04 05:39] zhixzhan commented on #964
when qna file do not include model info section in header (options), won't re-produce this bug.

[2020-09-08 09:22] zhixzhan opened #966 "luParser delete ImportSection not correct"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

I have a qna file:
[code]

I want delete the 2nd import, then I run
[code]

targetSection.Id is `ImportSection.Id` in luParsed source.

Now an error happened
<img width="1208"

[2020-09-10 05:29] feich-ms opened #967 "importFileReference and importUrlReference should support multi turn extraction"
**Is your feature request related to a problem? Please describe.**
Users should be able to use composer to import kb pairs with multi turn formats from url or file which is not supported in current importFileReference and importUrlReference in qna builder

**Describe the solution you'd like**
add the interfaces for these two functions

**Describe alternatives you've considered**
A clear and concis

[2020-09-10 13:22] felixvanleeuwen opened #968 "Proxy settings are not universally respected"
## Versions
**What CLI version are you using.**
@microsoft/botframework-cli/4.11.0-dev.20200907.c063415
**What Nodejs version are you using**
win32-x64 node-v12.18.1
**What command-line interpreters are you using**
Powershell 6 (x64)
**What OS are you using**
Windows 10

## Describe the bug
**Give a clear and concise description of what the bug is.**
Before each BF CLI command node tries to access

[2020-09-11 01:53] feich-ms opened #970 "Empty pharseList should be validated in luParser"
## Versions
latest main branch

## Describe the bug
Empty pharseList defintion is not allowed in luis. Current lu build didn't throw errors when converting empty phraseList.

## To Reproduce
Steps to reproduce the behavior:
1. Create a lu file with empty phraseList definition like below:
@ phraselist Complete(interchangeable)
2. publish it use luis build cli
3. You will see the errors come from lu

[2020-09-11 05:38] DingmaomaoBJTU opened #973 "[Orchestrator] Fail to install microsoft/bf-orchestrator-cli@beta"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Fail to install microsoft/bf-orchestrator-cli@beta.
Error message:
[code]
## To Reproduce
Steps to reproduce the behavior:
1. Go to cmd
2. npm i -g @microsoft/botframework-cli
3. bf plugins:install @microsoft/bf-orchestrator-cli@beta

[2020-09-11 06:58] #970 closed

[2020-09-11 09:05] boydc2014 opened #974 "Make LU parser behavior configurable"
### Context
.lu file format is the format that we intended to use a standard to define intent classification and entity extraction and there could be different LU technologies (like LUIS, Orchestrator, PVA, etc) that are consuming .lu files.

The issue is those different LU technologies probably will not support all features in .lu format. Some format in .lu can be considered as core, some can be

[2020-09-11 15:59] gabog commented on #505
Hi @scheyal and @clearab, do we still need this feature in the CLI? PVA knows how to register skills and composer has a way too. The only think that doesn't is VA that would map to our "coded approach" for implementing consumers.
Do we have customers asking for this or we can close it?

Thanks

[2020-09-12 16:07] vishwacsena commented on #974
@boydc2014

Listing the capabilities captured in the LU format, it should be possible to both enable/ disable these as well as set validation constraints. May be the validation constraints can be expressed using `Adaptive Expressions`.

1. Intents
2. Utterances
3. Patterns
4. Entities
    a. ML
    b. List
    c. Composite
    d. Prebuilt
    e. Regex
5. Phrase lists
6. Features
7. Model descripti

[2020-09-12 17:37] cwhitten commented on #974
@boydc2014 can we expand on the design a bit? I'm interested in the following:

1. a quick design visual  to show the layering a bit better
2. @vishwacsena 's list and how it maps to core/configurable
3. an example config to share with PVA
4. explanation to how the design is resilient to new features not yet implemented into the file format

[2020-09-14 07:41] feich-ms commented on #974
@vishwacsena, `Role` may be also included?

[2020-09-14 15:16] vishwacsena commented on #974
No. Roles should not be recognized as a concept going forward. Roles are named instance of a type and you can already model them this way in LU.

@ ml name hasRoles firstName, lastName

Is the same as

@ ml name
@ name firstName
@ name lastName

[2020-09-14 16:01] tsuwandy commented on #946
@munozemilio, any update?

[2020-09-15 08:59] boydc2014 opened #975 "[Orchestator] Empty blu genereated and bot is not working as expected"
## Versions
@microsoft/botframework-cli/4.10.1 win32-x64 node-v12.16.1

## Describe the bug
empty blu files are been generated thus bot is not working as expected

## To Reproduce

following https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/orchestrator/csharp_dotnetcore/03.declarative-bot

when run
bf orchestrator:build --dialog --in ./Dialogs --out ./generated --model ./mode

[2020-09-15 09:03] boydc2014 opened #976 "[Orchestrator] bf orchestrator:build doesn't work with latest model"
## Versions
@microsoft/botframework-cli/4.10.1 win32-x64 node-v12.16.1

## Describe the bug
following https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/orchestrator/csharp_dotnetcore/03.declarative-bot

instead of downloading the 1.0.0 version, download the 1.1.0 version
1.1.0-pretrained.20200819-12l.microsoft.dte.en.onnx

then run bf orchestrator:build, it will complain
![ima

[2020-09-15 10:39] vishwacsena commented on #973
@tsuwandy can you help take a look?

[2020-09-15 10:41] vishwacsena commented on #975
@tsuwandy can you help take a look?

[2020-09-15 15:38] daveta commented on #973
Hi @DingmaomaoBJTU :
We currently build for nodejs 10, 12 & 14 - these are all [long term support releases](https://nodejs.org/en/about/releases/) - would it be possible for you to upgrade to 14 (or downgrade to 12?).
Thanks!

[2020-09-15 16:43] munozemilio commented on #968
Hello @felixvanleeuwen, thanks for reporting this. We will asses and address this issue during the current sprint.

[2020-09-15 20:24] tsuwandy commented on #976
Got a repro, taking a look...

[2020-09-15 22:15] tsuwandy commented on #976
@boydc2014, latest model needs latest code (which hasn't been published to npmjs yet).  We'll update the core sometime next week.  Till then, could you use this model "1.0.0-pretrained.20200729.microsoft.dte.en.onnx".  Thanks!

[2020-09-15 22:22] tsuwandy commented on #975
got a repro on this as well.  investigating

[2020-09-16 01:22] DingmaomaoBJTU commented on #973
@daveta Thank you so much! after upgrade to 14, it works~

[2020-09-16 01:22] #973 closed

[2020-09-16 02:43] boydc2014 commented on #976
once you update the latest code, will it still be back-compatible with previous model?

[2020-09-16 02:49] tsuwandy commented on #976
@boydc2014, not unfortunately.  New code will need new model.  We decided to make the breaking change since we are in still preview.  Thanks!

[2020-09-16 06:07] #963 closed

[2020-09-16 06:07] #964 closed

[2020-09-16 06:07] #966 closed

[2020-09-16 06:07] #967 closed

[2020-09-16 19:56] tsuwandy commented on #975
ok, finally figured out what the issue is.  bug with async calls.  working on fix.

[2020-09-16 22:54] tsuwandy commented on #975
@boydc2014, checked in fix to beta branch. New build should be published midnight.  Thanks Dong!

[2020-09-16 22:54] #975 closed

[2020-09-16 22:54] tsuwandy commented on #975
Please reopen is you are still seeing the issue after upgrading to latest version.

[2020-09-18 19:27] #523 closed

[2020-09-19 09:55] feich-ms opened #981 "Docs for luis/qnamaker:build is not align with the latest changes"
## Versions
4.10.1

## Describe the bug
Docs for luis/qnamaker:build is not updated to latest that is confusing users.

## Expected behavior
Update the doc and give users the latest usage information.

## Screenshots
![image](https://user-images.githubusercontent.com/43032123/93664518-1dcf6b00-faa2-11ea-82bd-ce47f941eb6c.png)

## Additional context
Add any other context about the problem here.

[b

[2020-09-21 09:39] #981 closed

[2020-09-21 10:21] feich-ms commented on #975
Hi @tsuwandy, the cli issue has been fixed. I installed the latest plugin with `bf plugins:install @microsoft/bf-orchestrator-cli@latest`(https://www.npmjs.com/package/@microsoft/bf-orchestrator-cli). I can download the model(1.1.0-pretrained.20200819-12l.microsoft.dte.en.onnx) and build it, but when I run it with emulator,  the issue `Failed to find or load Model` occurred, do you have any insigh

[2020-09-23 03:33] ecuellar2 opened #983 "bf orchestrator:create jsonObjectArray.forEach is not a function"
## Versions
What CLI version are you using. @microsoft/botframework-cli/4.10.1 win32-x64 node-v12.18.3
What Nodejs version are you using v12.18.3
bf orchestrator:create --force --model=C:\lib\commands\orchestrator\nlr

What OS are you using windows 10

## Describe the bug
bf orchestrator:create --force --model=C:\lib\commands\orchestrator\nlr

\AppData\\Local\\@microsoft\\botframework-cli\\node_mo

[2020-09-23 10:48] #871 closed

[2020-09-23 18:18] tdurnford commented on #983
@tsuwandy Can you take a look at this?

[2020-09-23 18:21] tsuwandy commented on #983
@ecuellar2, did you provide the --input/-i parameter (path to .lu/.qna files)?

[2020-09-24 04:06] boydc2014 commented on #976
Thanks @tsuwandy, that make sense. Breaking changes is acceptable.

Let me ask the question a little different question, should i expect, "If i updated to lastest tool, the model listed can all be downloaded and be usable"?

[2020-09-24 04:14] tsuwandy commented on #976
@boydc2014, yes!  Runtime components need updating as well though.   @feich-ms filed an issue with the orchestrator sample code which requires a push of Microsoft.BotFramework.Orchestrator to NuGet and an update of Microsoft.BotBuilder.AI.Orchestrator package from SDK.  We’ll push to NuGet tomorrow am.  Thanks!

[2020-09-24 04:19] boydc2014 opened #985 "Decouple declarative dialog generation from luis:build and qna:build"
Composer is leveraging bf luis:build and bf qna:build to do luis publishing and qna publishing.

Besides publishing, luis:build and qna:build do another work that is generating a bunch of .lu.dialog, .qna.dialog, .lu.qna.dialog, which is
* built into it's core interface and run together with this build command.
* it's using a fixed set of template to generate

The direction of Composer is heading

[2020-09-24 04:21] boydc2014 commented on #976
Thanks, get it.

[2020-09-24 16:28] ninggao commented on #946
@munozemilio, revisit this issue, any update?

[2020-09-24 19:31] ecuellar2 commented on #983
Adding in parameter resolved issue. I was confused because the documentation says --in "Default to current working directory". Thank you.

[2020-09-24 19:31] #983 closed

[2020-09-24 19:34] tsuwandy commented on #983
Thanks @ecuellar2, we’ll fix the docs.

[2020-09-24 19:37] LouisEugeneMSFT opened #986 "Merge base class uischema with derived class uischema"
Merge base class uischema with derived class uischema to support integration of new mappings between components and Intellisense options.

See:
https://github.com/microsoft/botbuilder-dotnet/pull/4704
https://github.com/microsoft/BotFramework-Composer/pull/4263

[2020-09-25 00:12] #552 closed

[2020-09-25 00:13] #553 closed

[2020-09-25 00:13] #535 closed

[2020-09-25 00:16] chrimc62 opened #987 "dialog:merge picks up bin/ files found in project"
Dialog merge picks up .lg/.lu files that are copied to bin files as part of dialog:merge.  This is confusing because then they end up being duplicated files.  We should ignore files in bin directories.  There also seems to be an error when not passing in -o.
[bug]

[2020-09-25 00:19] chrimc62 opened #988 "dialog:verify should include a --schema option"
It would be nice for dialog:verify if you could specify a default $schema to use.  This would prevent getting lots of errors about their not being a $schema.  Should also look at why messages about not being used seem to just use the "last file".  For example in the below the unused dialogs are an issue, but ViewToDoDialog has nothing to do with it.

[code]
[enhancement]

[2020-09-25 03:57] zhixzhan opened #989 "updateSection bug on `hasRoles\n`"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. prepare a lu file end with `hasRoles\n`:
[code]
2. update the section with section content
[code]
3. see error from luParser

[2020-09-27 09:56] lei9444 opened #991 "Add cli for @microsoft/bf-dispatcher"
Now composer use @microsoft/bf-dispatcher as a library in server to do down sampling.

Now composer use bootstramp sampling to balance the utterances' number ratio, and use reservoir sampling to down size the utterances.

To take control of the dialog generation, we want to unify the cli tools. But the bf-dispatcher does not support cli now.
what we want maybe like: do down sample for lu file, the

[2020-09-28 08:58] cosmicshuai opened #993 "lg:expand command access the scope incorrectly"
lg:expand command access the scope with a path like `user.name` is incorrect.
For example,
[code]

with data.json
[code]

the expand result is
[code]

[2020-09-30 01:29] #974 closed

[2020-09-30 05:41] #993 closed

[2020-09-30 22:43] tomlm opened #996 "bf luis:cross-train doesn't work with languages."
## Versions
4.10.1

## Describe the bug
when I run ```bf luis:cross-train --in . --rootDialog=my.dialog``` it fails because I don't have a my.lu file, even though I have a my.en-us.lu file.

## To Reproduce
Try to use bf luis:cross-train on a composer project

## Expected behavior
1. it should be language aware (aka, I need to be able to build targeting 1..N) languages.
2. it should not require a

[2020-09-30 22:50] tomlm opened #997 "bf luis:cross-train detection logic for discovering child dialogs is wrong and incomplete."
## Versions
4.10.1 (and looking at the source code)

## Describe the bug
Looking at the source code I see that the detection of child dialogs is incomplete:
1.  actions can be arbitrarily nested (for example if there is a "If" condition, the action code which is attempting to enumerate begindialogs will not detect the dialog.
2.  it is assuming that there are no direct references to dialogs by res

[2020-09-30 23:06] tomlm opened #998 "bf luis:cross-train creates invalid config internally"
## Versions
4.10.1

## Describe the bug
The code which generates a config by inspecting the file system doesn't generate the same data structure that the library that consumes is expecting.
in

in confighelp.js line 87
[code]

in crosstrain.js line 38
[code]

You will see that the confighelper is creating a property called "triggers" while the library is expecting "triggerRules"

[bug]

[2020-09-30 23:08] tomlm opened #999 "bf luis:cross-train is expecting lu files to be in the same folder as the .dialog"
## Versions
4.10.1

## Describe the bug
bf luis:Cross-train is expecting lu files to be in the same folder as the dialog, which is not the way that composer organizes them.

## To Reproduce
Look at line 105 of confighelper.js
[code]

## Expected behavior
lu files are a naming convention NOT a location convention.

[bug]

[2020-09-30 23:11] tomlm opened #1000 "Big chunks of the bf CLI is not written in typescript, and there a many bugs because of it"
## Versions
4.10.1

## Describe the bug
I just filed 4 bugs all which would have been detected at compile time if we were using typescript.  These libraries need to be rewritten in typescript .

[bug]

[2020-10-01 23:22] #987 closed

[2020-10-02 01:51] #988 closed

[2020-10-02 08:28] velaeri commented on #599
I am having the same problem. can someone indicate if you have a solution?

[2020-10-03 03:34] zhixzhan opened #1004 "update nested section throw error `index out of range.`"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug

[code]

update `CheckTodo` with content:
[code]

see error.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
Give a clear and concise desc

[2020-10-03 07:05] feich-ms commented on #1004
closed since it was caused by another PR https://github.com/microsoft/botframework-cli/pull/1002 and the issue is resolved there.

[2020-10-03 07:05] #1004 closed

[2020-10-05 09:23] boydc2014 commented on #999
Thanks, @tomlm,  Composer is using cross-train lib with direct lib call, instead of running command line.  As part of the Composer's effort to make sure Composer authored bot can be integrated with CI/CD environment, Composer will output the cross-train config it used, and we will make sure cli and directly consume that without issue.

[2020-10-05 09:29] boydc2014 commented on #996
Since cross-train is supporting Composer's scenario in which there is only <locale>.lu, so i think cross-train supports multi-languages. But Composer is calling cross-train as a lib and using a specific config. I guess there is a gap between the config composer used and the simple command line call as above, @feich-ms can you point to what kind of config should be passed in to support languages?

[2020-10-05 09:33] boydc2014 commented on #997
@feich-ms I assume Composer is not use this dialog structure discovery code, right? I expect Composer is doing it's own dialog discovery and output the result as a config file.

How about we, at cli side, always requires a full config, and don't try to create some default config with some incomplete logic?

[2020-10-06 07:34] tsuwandy commented on #976
@boydc2014 , @feich-ms , let me know if you are still having issues with the cli or the samples (after updating Microsoft.BotBuilder.AI.Orchestrator package from azure artifacts, in nuget.config checked in to orchestrator samples folder.

[2020-10-06 07:34] #976 closed

[2020-10-06 07:35] tsuwandy commented on #561
Done in beta branch and deployed to npmjs as bf cli plugin.

https://github.com/microsoft/botframework-cli/tree/beta/packages/orchestrator
https://www.npmjs.com/package/@microsoft/bf-orchestrator-cli

[2020-10-06 07:35] #561 closed

[2020-10-07 07:27] felixvanleeuwen commented on #968
`bf orchestrator:nlr:get` is a major offender.
The command itself appears to not respect the proxy settings and seems to fetch directly from aka.ms.

[2020-10-07 17:43] tomlm opened #1005 "bf command line tools silently fail"
## Versions
4.10, 4.11

## Describe the bug
When you use bf cli as part of a script when it fails it doesn't set the process error code which means that it silently fails.  Our lu files stopped building because of some internal error and for the last month we have not updated our models because the silent failure.

## To Reproduce
create a cmd file like this:
[code]

## Expected behavior
It should

[2020-10-07 17:50] tomlm opened #1006 "bf luis:build is failing with error message which is not actionable. (Buffer cannot be null)"
## Versions
4.10

## Describe the bug
Trying to build a model is failing with "Buffer cannot be null"

## To Reproduce
[code]
The output is
[code]
## Expected behavior
To give me info so I can know how to fix my model

[msmeeting-actions.en-us.lu.txt](https://github.com/microsoft/botframework-cli/files/5342770/msmeeting-actions.en-us.lu.txt)

[bug]

[2020-10-07 19:33] munozemilio commented on #946
Hello @GitDruid I have tested your sample payload against the QnA Service and got the same result. This means the issue is either in the payload or in the QnA Service
![Screen Shot 2020-10-07 at 12 21 31 PM](https://user-images.githubusercontent.com/43281931/95378440-c8180280-0898-11eb-9c39-a8f69bc7dc54.png)

You can test your payloads easily [here](https://westus.dev.cognitive.microsoft.com/docs/

[2020-10-08 09:14] feich-ms commented on #997
Yes, Composing is using its own dialog structure discovery logic. The discovery logic in cli side does not cover every scenarios so it is not completed. I already removed any auto-discovering dialog config capability in cli help docs, so now it requires users to provide a full config. I will optimize the code to remove any auto-discovering code and meanwhile make sure users to provide a config bef

[2020-10-08 14:50] GitDruid commented on #946
Hi @munozemilio , thanks for the answer.
I've tested with the update payload, as you suggested, and it is working.
So, since it's not possible to set the qnapair id with the add payload, I think that follow-up prompt is not feasible in one single service call. Instead:
- PATCH call to add qna
- GET knowledge base detail, to obtain IDs
- PATH call to update qna with follow-up prompts

Thanks,
Aless

[2020-10-08 17:35] #946 closed

[2020-10-09 02:30] feich-ms opened #1007 "qnamaker:build cannot recognize trailing tab after questions"
## Versions
4.10.1

## Describe the bug
qnamaker:build cannot recognize trailing tabs after questions and it will output errors like below:
line 6:13 token recognition error at: ' '
line 13:17 token recognition error at: '        '

## To Reproduce
Steps to reproduce the behavior:
1. use qnamaker:build to build a qna file whose questions have trailing tabs

## Expected behavior
No errors

## Scree

[2020-10-09 03:46] feich-ms commented on #996
Hi @tomlm, currently the multi languages should be specifically set in config like below which means each language has its own mapping rules.
[code]

[2020-10-09 04:37] feich-ms commented on #998
I have a PR here https://github.com/microsoft/botframework-cli/pull/990 to refactor the interface of crosstrain core lib. After the optimizations, the config will be aligned between composer and cli.

[2020-10-09 09:09] feich-ms commented on #1006
@tomlm, thanks for reporting this issue. I tried the command and lu file you provided with 4.10.1 bf cli, but cannot reproduce this error. Below is the screenshot of my testing. Did I miss any other steps to reproduce it? Or could you give more specific repro steps?

![image](https://user-images.githubusercontent.com/43032123/95564432-5df68d80-0a51-11eb-9e6f-aa68e036a4e9.png)

[2020-10-09 14:28] feich-ms opened #1009 "luis build should not throw unknown error when calling luis api call failed"
## Versions
4.10.1

## Describe the bug
Currently, if luis api call failed in luis build, the unknown error will be thrown out which is not friendly since we already know the error source.

## To Reproduce
Steps to reproduce the behavior:
use bf luis:build to publish a lu file with invalid authoringKey, you will find below error message
![image](https://user-images.githubusercontent.com/43032123/9

[2020-10-10 01:00] scheyal opened #1010 "Create bf feedback command"
Use bf feedback command to redirect users to  https://aka.ms/bfclifeedback to open github issue (essentially:  https://github.com/microsoft/botframework-cli/issues)

[2020-10-10 01:17] scheyal commented on #1010
If possible even add command (sub-area) on command line so we can tag it as luis, qnamaker etc

[2020-10-13 02:32] #1007 closed

[2020-10-13 05:04] #985 closed

[2020-10-13 06:26] feich-ms commented on #1006
Close this first since it's not reproduceable. Please reopen it again if running into this error later.

[2020-10-13 06:26] #1006 closed

[2020-10-13 19:22] scheyal opened #1014 "Move minimum required CLI version up to Node.JS Active LTS"
Time to consider minimum required Node.JS version for BF CLI.
See timeline in https://nodejs.org/en/about/releases/
Active LTS is v12.

[2020-10-14 03:08] feich-ms commented on #991
Done in cli side

[2020-10-14 03:08] #991 closed

[2020-10-14 07:41] feich-ms opened #1016 "clean up cross-train config discovery code pieces"
## Versions
4.11.1

## Describe the bug
Since we decide to remove cross-train config discovery logic from cross-train cli, so create this issue to clean up the related code pieces.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
Give a clear and concise description of what you expected to happen.

## Sc

[2020-10-14 09:39] feich-ms commented on #1005
That make sense, looking.

[2020-10-15 05:31] #989 closed

[2020-10-15 17:06] dawwa commented on #570
@stevengum, do we have some updates on this?  : )

[2020-10-16 20:50] ericchansen opened #1023 "botskills refresh can't be run in PowerShell task of Azure DevOps release pipelines"
## Versions

Using Azure pipelines.

Agent pool: Azure Pipelines
Agent Specification: vs2017-win2016

## Describe the bug

Can't successfully use `botskills refresh --cs ./path/to/cognitivemodels.json --dispatchFolder ./path/to/Deployment/Resources/dispatch` in Azure pipelines.

## To Reproduce

Steps to reproduce the behavior:
1. Create a template Bot Framework Virtual Assistant
2. In the release

[2020-10-19 02:15] #1005 closed

[2020-10-19 02:38] feich-ms commented on #1005
fixed by #1022

[2020-10-19 02:41] feich-ms commented on #996
Close this one first since multi languages can be supported by specifying mapping rules of different languages in config. If this is not the good direction, we can open another issue to track the refactoring.

[2020-10-19 02:41] #996 closed

[2020-10-19 18:39] stevengum commented on #1023
Closing issue as it is a duplicate of microsoft/botbuilder-tools#1475. @ericchansen we will track the bug report and any fixes in that issue.

[2020-10-19 18:39] #1023 closed

[2020-10-20 07:13] #1009 closed

[2020-10-20 07:33] #1016 closed

[2020-10-20 07:35] feich-ms commented on #997
Closed by #1024, there is no config discovery and --config is required in cli now.

[2020-10-20 07:35] #997 closed

[2020-10-20 07:36] feich-ms commented on #998
Closed by #1024, there is no config discovery and --config is required in cli now.

[2020-10-20 07:36] #998 closed

[2020-10-20 07:36] feich-ms commented on #999
Closed by #1024, there is no config discovery and --config is required in cli now.

[2020-10-20 07:36] #999 closed

[2020-10-20 07:37] feich-ms commented on #824
Close this first and we can open new one if users run into any specific limit issues.

[2020-10-20 07:37] #824 closed

[2020-10-21 19:23] cleemullins commented on #528
Removing R11 milestone, pushing to backlog.

[2020-10-21 19:23] #528 closed

[2020-10-21 19:24] cleemullins commented on #968
Per @munozemilio this should land in R11.

[2020-10-22 10:27] feich-ms opened #1028 "Cross-train config do not fit composer lu and qna files folder structure in CI/CD"
## Versions
botframework-cli@next

## Describe the bug
Current cross-train config requires the lu and qna files of same dialog are in the same folder, but in composer, lu and qna files are in different folders which make composer output cross-train config cannot be consumed by cross-train cli.

## To Reproduce
Steps to reproduce the behavior:
1. use bf cli to do cross-train with config from compos

[2020-10-23 08:05] #1028 closed

[2020-10-24 03:34] ecuellar2 opened #1033 "orchestratorAdaptiveRecognizer exits with status 3221225477"
I am using pretrained.20200924.microsoft.dte.00.12.roberta.en.onnx because the other versions were raising errors:
pretrained.20200924.microsoft.dte.00.12.en.onnx - 'Could not load encoder - bad json' when trying bf orchestrator:create
pretrained.20200924.microsoft.dte.00.03.en.onnx - 'Could not load encoder - bad json' when trying bf orchestrator:create

I then generated orchestrator.blu file usi

[2020-10-26 10:41] #968 closed

[2020-10-26 17:37] mdrichardson commented on #1033
@ecuellar2 Generally, you want to:

1. Ensure all bot* packages are on the exact same version,
2. Avoid the `dev` versions unless there's a particular reason that you want to use it

Can you please include all of your `.json`/`.qna`/`.lu`/`.blu` files so that I can attempt to repro?

`3221225477` error is an Access Violation error. It may help to run `npm cache clean --force` as a troubleshooting

[2020-10-26 18:19] chrimc62 commented on #570
@munozemilio Can you look at this?

[2020-10-28 08:50] edemehmetcan commented on #698
+1 same issue please fix it

[2020-10-28 22:40] taicchoumsft commented on #1033
@ecuellar2 , thanks for reporting this issue. Can you help us to collect more specific info to help us troubleshoot this issue?

We'd like to collect the `orchestrator-core` version that got installed on your machine, from BF-CLI (which you used to author the blu files), and for your project (which read back the blu file that was generated):
1) If you're on windows, could you navigate to `%AppData

[2020-10-29 01:32] ecuellar2 commented on #1033
Below are the details you requested.
AppData\Local\@microsoft\botframework-cli\node_modules\orchestrator-core\package.json
version": "4.10.0-dev.20200916.980ea2d"

code_path\node_modules\orchestrator-core\package.json
"version": "4.11.0-dev.20201008.cb67719"

[2020-10-29 02:04] hcyang commented on #1033
Hi @ecuellar2,

As we have been actively developing Orchestrator and updating the models. Please uninstall, then reinstall your bf-orchestrator-cli plugin. Also you would have to the same for your botbuilder-ai-orchestrator package.

[2020-10-29 20:13] ecuellar2 commented on #1033
Steps taken:
bf plugins:uninstall @microsoft/bf-orchestrator-cli
bf orchestrator -h    Error: command orchestrator not found (this is expected)
npm install -g @microsoft/botframework-cli
bf orchestrator -h    (Confirmed command now works)

Went to folder below and confirmed version went from 4.10.0-dev.20200916.980ea2d to 4.11.0-dev.20201024.0c5247b.
AppData\Local\@microsoft\botframework-cli\node_

[2020-10-29 20:37] hcyang commented on #1033
Hi @ecuellar2,

Yes, for authoring, you have successfully reinstalled bf-orchestrator-cli using the correct orchestrator-core version.

For the second orchestrator-core, can you tell us which runtime were you using? Botbuilder-js and  botbuilder-ai-orchestrator? Please reinstall them as well.

[2020-10-29 20:55] hcyang commented on #1033
Hi @ecuellar2,

Can you share with us the header line of the .blu snapshot file you created using bf-orchestrator-cli "create" command? We would like to see the version numbers.

Thanks,

[2020-10-29 20:59] ecuellar2 commented on #1033
base_model_version,runtime_version	pretrained.20200924.microsoft.dte.00.06.en.onnx,1.0.0
This is from orchestrator.blu, which was created today using "bf orchestrator:basemodel:get"

I will work on re-install other steps you mentioned and report back.

[2020-10-30 07:03] feich-ms opened #1044 "Luis:build should compare luis application name case insensitively"
## Versions
4.11

## Describe the bug
Luis build chooses to create or update an application based on comparing current app name with all the existing app names. Currently the comparison is case sensitve, so when an app name is only case different with the one of exising app names, the luis build will try to create a new app with that name. However, app name is case insensitive in luis service, so

[2020-10-30 18:40] taicchoumsft commented on #1033
Hi @ecuellar2, if you can't get `orchestrator-core` version in your project to be at least 4.11.0-dev.20201028`, can you try this steps?

- In your project folder,  `npm remove botbuilder-ai-orchestrator`
- clear your npm cache: `npm cache clean --force` to remove the cached orchestrator-core
- install the `next` version of `botbuilder-ai-orchestrator`: `npm install botbuilder-ai-orchestrator@next

[2020-10-31 19:11] ecuellar2 commented on #1033
I updated orchestrator-core. Version is now 4.11.0-dev.20201029.862a357.
I performed another test and confirmed 3221225477 error is now gone. Thank you.

[2020-10-31 19:11] #1033 closed

[2020-10-31 22:28] ecuellar2 opened #1046 "OrchestratorAdaptiveRecognizer Initialize not checking if resolver is null."
I'm using 4.1.6 version of botbuilder-ai-orchestrator node module.
I am using OrchestratorAdaptiveRecognizer (orchestratorAdaptiveRecognizer.js)

I noticed recognize() performs the check below before calling Initialize().
(OrchestratorAdaptiveRecognizer.orchestrator === null || this.resolver === null)

But then in Initialize() it performs a slightly different check below.
(OrchestratorAdaptiveReco

[2020-11-03 15:20] omaremadeldin opened #1047 "LU - features going global bug"
## Versions
LU 4.9.1

## Describe the bug
The application was working fine but when he exported the LU file and imported it to another application it is going global instead of the associated intents and additional entity getting created with that feature included in the entity.

## To Reproduce
I can reproduce this behavior, please check following snapshots:

Features configuration of the initial

[2020-11-03 18:30] taicchoumsft commented on #1046
Hi @ecuellar2 , thank you for reporting this issue, it looks like an issue that also affects the dotnet SDK.  We will fix this.

[2020-11-04 18:15] munozemilio commented on #1047
Hello @omaremadeldin is this reproducible on 4.10.1?

[2020-11-05 05:15] #1044 closed

[2020-11-06 18:50] fran893 opened #1050 "[bf luis:generate:cs] Disparity with bf luis:generate:ts to try/catch errors"
## Versions
What CLI version are you using.
4.10.1 or [master](https://github.com/microsoft/botframework-cli) branch

What Nodejs version are you using
12.14.1

What command-line interpreters are you using
bf luis:generate:cs

What OS are you using
Windows 10

## Describe the bug
There is a disparity between the [bf luis:generate:cs](https://github.com/microsoft/botframework-cli/blob/main/packages

[2020-11-09 04:42] abhishekpsen opened #1051 "LU Export doesn't work for intents and features with the same name"
## Versions
LU 4.9.1

## Describe the bug
LU export doesn't allow intent and features to have the same name

## To Reproduce
Steps to reproduce the behavior:
1. Create an app
2. Add an intent, named say 'abc'
3. Add a feature to the above intent with the same name ('abc')
4. Export as LU

## Expected behavior
LU Export should work fine, JSON export doesn't hit this error.

Source IcM: https://port

[2020-11-09 04:44] abhishekpsen opened #1052 "LU Export doesn't work for intents with special characters in the name"
## Versions
LU 4.9.1

## Describe the bug
LU export doesn't work if app has intents with special characters in the name

## To Reproduce
Steps to reproduce the behavior:
Create an app
Add an intent, named with special characters like "'" and "á".
Export as LU

## Expected behavior
LU Export should work fine, JSON export doesn't hit this error.

Source IcM: https://portal.microsofticm.com/imp/v3/in

[2020-11-09 06:02] rbdemo opened #1053 "While executing the "dispatch create" command getting error"
Hi All,
While executing the "dispatch create" command getting below error:
Getting Error:
{
  "error": {
    "code": "401",
    "message": "The apps - Import application Operation under LUIS Programmatic APIs v3.0-preview is not supported with the current subscription key and pricing tier LUIS.S0."
  }
}

_Originally posted by @sarlasankar in https://github.com/microsoft/botframework-cli/issues/59

[2020-11-09 16:42] ericchansen commented on #517
The `echo "Y" | npm install -g @microsoft/botframework-cli" trick doesn't work for me. How are we supposed to use this from Azure Pipelines?

[2020-11-09 16:56] VladPapacostea-SM commented on #517
@ericchansen which dependencies are you still having issues installing ?
We've ended up separating some of the dependencies into a power shell file that we call in the pipelines, that seems to have solved some of the issues.

![image](https://user-images.githubusercontent.com/26440696/98571484-76560400-22ac-11eb-8def-75a172ec0703.png)

[2020-11-09 17:16] ericchansen commented on #517
I was trying to install @microsoft/botframework-cli via inline PowerShell.  You don't get anything helpful for debugging. This problem seems to occur on Windows and Linux pools.

[code]

Here are the contents of the log, which I had to retrieve using a publish task---talk about inconvenience. This also isn't helpful.

[code]

[2020-11-09 17:22] VladPapacostea-SM commented on #517
@ericchansen  yep we had to publish our logs as well as using debug mode/verbose logs on the powershell inline task to figure this out .. it really wasn't pretty.. but calling it from a ps file rather than inline should fix your issue.

I would also strongly suggest keeping in the try catches as we did ... that was quite helpful at times where the installation was actually successful but the npm t

[2020-11-09 17:53] tsuwandy commented on #1053
@rbdemo, this looks to be LUIS subscription issue.  Is the authoring key specified when creating dispatch an LUIS cognitive service authoring (or authoring + runtime)?

[2020-11-09 19:18] cwhitten commented on #1050
@munozemilio please take a look

[2020-11-09 20:05] ericchansen commented on #517
Doing npm install inside a *.ps1 file worked---I almost copied your script line for line. The task itself looks like this.

[code]

@microsoftopensource I personally don't think this is an acceptable solution. Why does this particular npm package behave this way? I haven't encountered this issue with any other npm packages. I think issue should be re-opened or a new issue should be created.

[2020-11-09 20:18] munozemilio commented on #1050
@axelsrz could you please take a look on this?

[2020-11-09 20:21] axelsrz commented on #1050
@fran893 THanks for submitting this issue. We will include the appropiate fix in our next release cycle, thanks.

[2020-11-10 09:38] VladPapacostea-SM commented on #517
@ericchansen this package has a post-install script that runs when the installation is finished. It looks for a value in a config file, that cannot be set on an agent from the Azure pool, be it Linux or Windows, due to that path not being accessible to the user.

The whole ecosystem was really not well planned for a CD environment, as I am sure you will discover soon, if you are just the start of

[2020-11-10 16:52] tsuwandy commented on #1053
Closing as @rbdemo fixed this issue by using the right key.

[2020-11-10 16:52] #1053 closed

[2020-11-10 20:23] munozemilio commented on #517
Hello @ericchansen @VladPapacostea-SM it is of my interest to provide you the best experience using the tool. We add a few sprints ago a [component](https://www.npmjs.com/package/is-ci) to detect CI environments. Even if the environment variables are not set, the message prompt should be bypassed if CICD environment is detected. It is also specified in our [docs](https://github.com/microsoft/botfr

[2020-11-10 20:56] v-kydela opened #1054 "[Orchestrator-BugBash] warnings when installing plugin"
## Versions
What CLI version are you using.
@microsoft/botframework-cli/4.11.0 win32-x64 node-v12.18.3
What Nodejs version are you using
v12.18.3
What command-line interpreters are you using
cmd
What OS are you using
Windows 8.1

## Describe the bug

The following warnings are encountered when installing the Orchestrator plugin:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Install

[2020-11-12 02:45] feich-ms commented on #805
We moved the dialog generation code pieces to composer, so the luis prediction options are supposed to be added from composer side instead of cli side. Based on this, this item is not necessary now, so close it.

[2020-11-12 02:45] #805 closed

[2020-11-12 02:48] feich-ms commented on #823
Close this first since it is not required or necessary now. Pls reopn it if anyone run into issues and need this change.

[2020-11-12 02:48] #823 closed

[2020-11-17 07:11] munozemilio commented on #1051
Hello @abhishekpsen this is quite an old version, Ill try to reproduce on 4.11 and get back to you

[2020-11-17 07:11] munozemilio commented on #1052
Hello @abhishekpsen this is quite an old version, Ill try to reproduce on 4.11 and get back to you

[2020-11-17 19:26] johnataylor commented on #1046
@taicchoumsft can you provide an update on this issue?

[2020-11-17 19:30] taicchoumsft commented on #1046
@johnataylor, apologies for the radio silence on this, I will fix this issue this week.

[2020-11-20 06:52] munozemilio commented on #1052
Hi @feich-ms could you please help me with this one?

[2020-11-20 07:41] feich-ms commented on #1052
@munozemilio sure, will take a look.

[2020-11-20 11:12] ancorrg opened #1057 "[QnA maker] When exporting letters with accents, output is not correct."
## Versions
@microsoft/botframework-cli/4.11.0 win32-x64 node-v12.19.0
Powhershell

## Describe the bug
I'm trying to export an existing kb from a qnamaker service and replace another one in other service with its contents. The original KB is in spanish and has accents and ñ characters. When I export the KB, the content is encoded in a way that can't be used in the destination KB.

## To Reproduce

[2020-11-23 07:14] feich-ms commented on #1052
Fixed in this PR https://github.com/microsoft/botframework-cli/pull/1058

[2020-11-24 01:03] munozemilio commented on #1057
Hello @ancorrg. Thanks a lot for reporting this issue. I just created a kb with special characters in it and the command is working fine which suggests the issue might be on the powershell [configuration](https://stackoverflow.com/questions/49476326/displaying-unicode-in-powershell). You can double check this by running the command on a different terminal like bash.
This is what my test looked lik

[2020-11-24 03:51] dinobrago opened #1059 "BF qnamaker init node error (node:12300) Warning: Accessing non-existent property 'INVALID_ALT_NUMBER' of module exports inside circular dependency"
## Versions
What CLI version are you using.    @microsoft/botframework-cli/4.11.0 win32-x64
What Nodejs version are you using node-v14.15.1
What command-line interpreters are you using: Powershell or cmd, same problem
What OS are you using: Windows 10

## Describe the bug
When running the bf qnamaker:init command, get the error below
[code]

## To Reproduce
Steps to reproduce the behavior:
1) Inst

[2020-11-24 23:55] chrimc62 opened #1060 "ANTLR 4 depends on node >= 14 which breaks bf-generate"
## Versions
@microsoft/botframework-cli/4.11.0 win32-x64 node-v12.16.1
Windows

## Describe the bug
@microsoft/bf-lu was changed to use Antlr4 rather than Antlr4ts which is what the SDK uses.  This introduces a dependency on node >= 14 which conflicts with composer's node >= 12.  This happens because bf-generate uses the cli LU parser in the CLI to do merges.

## To Reproduce
Steps to reproduce th

[2020-11-25 01:39] dawwa commented on #1060
@chrimc62  @munozemilio , this repros with http://registry.npmjs.org as well

[2020-11-25 01:48] yeze322 opened #1062 "Generated form dialog of 'any string' contains unexpected '${property}' in content"
## Versions
@microsoft/bf-generate-library/4.10.0 win32-x64 node v12.14.1

## Describe the bug
Give a clear and concise description of what the bug is.

In Composer, create a form property typed with "any string", the generated dialog contains unexpected '${property}' in content.

For example
    - In the Trigger name: `age - Add(@${property}Entity)`
    - In the expression value `- ${confirmation

[2020-11-25 06:55] feich-ms opened #1064 "Cross-train should filter qna questions with brackets in crosstrained lu results to avoid introducing pattern validation failures in luis build"
## Versions
4.11.0

## Describe the bug
Reported from composer https://github.com/microsoft/BotFramework-Composer/issues/4970. Cross-train is adding qna questions to corresponding lu files when doing lu vs qna crosstraining. This will introduce some special utterances or patterns from qna questions to lu files. When publishing these lu files, the luis api will return validation exceptions for some

[2020-11-25 07:47] #1052 closed

[2020-11-25 18:38] dinobrago commented on #1059
Repeated this on a clean machine, windows server 2012 r2

[2020-11-25 19:26] axelsrz commented on #1059
Hello @dinobrago, thanks for submitting this. The engineer who will drive this to closure will come back from vaction on Monday, thanks for the patience.

[2020-11-25 20:19] munozemilio commented on #1059
Hello @dinobrago, thanks for reporting this. Im able to reproduce on node 14. I will include this as a fix in the next release cycle. At the moment the Node Version supported is 12 for BF CLI. Sorry for the inconvenience.

[2020-11-25 20:31] munozemilio commented on #1060
Closed by #1063

[2020-11-25 20:31] #1060 closed

[2020-11-26 16:55] GitDruid opened #1069 "bf luis:generate:cs generates wrong class for "money/currency" prebuilt entity."
#### What project is affected?
Virtual Assistant and Skill Template

#### What language is this in?
C#

#### What happens?
`bf luis:generate:cs` when called by `update_cognitive_models.ps1` does not manage correctly the "**money/currency**" prebuilt entity.

I have an `Hotel` entity with two subentities `HotelTimeFrame` and `TotalAmount`. `TotalAmount` being modeled as a prebuilt `money` entity:

[2020-11-27 07:14] feich-ms commented on #1057
@munozemilio there is another issue here https://github.com/microsoft/botframework-solutions/issues/3723 to track the similar issue, I made a PR #1065 to add --out support for kb export. Hope this works. Could you help to review?

[2020-12-01 20:20] #1057 closed

[2020-12-03 04:53] munozemilio commented on #1051
Closing this since after a code review this is by design on the LU side

[2020-12-07 07:18] feich-ms opened #1068 "Phrase list definition keyword should be case insensitive"
## Versions
4.11.1

## Describe the bug
When defining phrase list in lu file, the case is sensitive for phraseList. For exmaple,
`@ phraseList  ticket(interchangeable) =` will fail, but
`@ phraselist  ticket(interchangeable) =` will work

## To Reproduce
Steps to reproduce the behavior:
1. Create phrase list definition in lu file with `phraseList` key word.
2. Publish it with luis build cmd.
3. Yo

[2020-12-07 08:21] #1064 closed

[2020-12-08 19:27] tonyanziano commented on #1069
Will this be addressed in R12?

[2020-12-08 21:37] ericchansen opened #1071 "No way to use in Azure Pipelines YAML"
It's not easy to use the BF CLI in Azure Pipelines. It's hard to install globally (usually get errors), and it's hard to make use of if you only install it locally.

Please provide an example of installing and using the BF CLI in an Azure Pipelines YAML.

[2020-12-09 19:03] tonyanziano commented on #1071
@axelsrz / @munozemilio do either of you know of a way to do this or have a sample showing how to accomplish this?

[2020-12-09 19:33] scheyal opened #1072 "bf luis:test crashes"
## Versions
What CLI version are you using.
@microsoft/botframework-cli/4.10.0-dev.20200730.3786d10 win32-x64 node-v12.18.4

What Nodejs version are you using
v12.18.4

What command-line interpreters are you using
Windows cmd.exe

What OS are you using
Windows

## Describe the bug
See repro. Trying to run bf luis:test and it fails. It used to work recently, before this upgrade.

## To Reproduce
St

[2020-12-09 20:04] munozemilio commented on #1072
This is fix in the latest release and daily builds

[2020-12-09 20:04] #1072 closed

[2020-12-10 02:46] axelsrz commented on #1069
@GitDruid thanks for logging this. We're currently evaluating the changes needed to support this, in the case that we take this fix as is we will target our R12 realease date. We will update here if needed.

[2020-12-10 07:16] feich-ms opened #1074 "Typo issue in hclasses.js"
## Versions
4.11.1

## Describe the bug
The utterances defintion here has a typo issue https://github.com/microsoft/botframework-cli/blob/main/packages/lu/src/parser/lufile/classes/hclasses.js#L26: `uttereances` should be `utterances`

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
Give a clear and conc

[2020-12-10 18:33] scheyal opened #1075 "QnaMaker command is returning empty responses"
## Versions
What CLI version are you using.
What Nodejs version are you using
@microsoft/botframework-cli/4.11.1 win32-x64 node-v12.18.4
What command-line interpreters are you using
Windows cmd.exe
What OS are you using
Windows

## Describe the bug
QnAMaker command returns an empty string.

## To Reproduce

[code]

[2020-12-10 19:20] joshgummersall commented on #1071
What kind of errors? Have you tried to install globally and enable caching to ensure that subsequent runs of a pipeline don't need to reinstall?

[2020-12-10 20:15] munozemilio commented on #1071
Hello @ericchansen. In the past I have used it like this:
[code]

let me know if this works for you. Otherwise Im more than happy to work on improving the usage experience

[2020-12-10 21:45] scheyal opened #1076 "Fix Orchestrator error message for invalid .lu file"
## Versions
What CLI version are you using.
What Nodejs version are you using
@microsoft/botframework-cli/4.11.1 win32-x64 node-v12.18.4

What command-line interpreters are you using
cmd.exe
What OS are you using
Windows

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Create a bad.lu file with some invalid format:

[code]

Run ```bf orchestrator:creat

[2020-12-11 07:28] tsuwandy commented on #1076
Fix checked in to both beta and beta-4.11 branch.  New beta package after midnight build and will deploy latest package tomorrow.

[2020-12-11 08:40] feich-ms opened #1077 "Adjust qnamaker builder to accept qna v5.0 APIs"
**Is your feature request related to a problem? Please describe.**
Composer plans to enable QnA v5-preview APIs to support multi regions and other capabilities. To support this, BF-CLI should support:
1. Generate new kind of recognizer like Microsoft.QnAMakerRecognizerV2 for v5 API
2. Generate new runtime settings config for v5-preview runtime API

**Describe the solution you'd like**
1. Generate

[2020-12-11 18:29] tsuwandy commented on #1076
![image](https://user-images.githubusercontent.com/10739108/101940679-b22a0500-3b9b-11eb-95bf-620456ef6f55.png)

Fixed deployed.

[2020-12-11 18:29] #1076 closed

[2020-12-11 21:35] ericchansen commented on #1071
Thanks for the example @munozemilio.

@microsoft I think it's important to note the use of the `CmdLine@2`. This same example doesn't work if you use `PowerShell@2`. Why?

Also, nowhere in the docs does it mention that you must set the `BF_CLI_TELEMETRY` environment variable. There's also no mention of needing to use the `NodeTool@0 task`. These seem large omissions.

[2020-12-11 21:37] ericchansen commented on #1071
Also, I have a follow up question. Is it possible to...
1. install `@microsoft/botframework-cli` in one stage and then use it in another stage?
2. How about install it in one job and then use it in a different job?

[2020-12-11 22:04] ericchansen commented on #1071
Actually, when I try @munozemilio's example in a different DevOps organization, I see the following error.

[code]

[2020-12-11 23:49] munozemilio commented on #1075
just talked to @scheyal over teams and the command is working fine. The command should log a better error response

[2020-12-14 13:39] ericchansen commented on #1071
Please run @munozemilio's example with PowerShell@2 instead of CmdLine@2. You might see something like this, although it will depend on your pool.

[code]

Although it says "added x packages from x contributors", the `bf` command will not be found. This happens for many packages, not just @microsoft/botframework-cli.

I didn't notice that before. That's a good start.

To make user's lives easier,

[2020-12-14 22:12] tsuwandy opened #1078 "Add "format" as optional parameter (default to json format) to bf luis:version:export command"
**Is your feature request related to a problem? Please describe.**
Currently, to export a LUIS app version to a "lu" format via BF CLI, one would need to do the 2 steps below:

bf luis:version:export
bf luis:convert

LUIS export API takes an optional param (format=json, format=lu), this should be reflected on the bf luis:version:export command as well and it'll cut down the steps required to expor

[2020-12-19 18:03] jbinko opened #1080 "versionid parameter is inconsistent"
## Versions
@microsoft/botframework-cli/4.11.1 linux-x64 node-v10.19.0

## Describe the bug
command
bf luis:convert is sensitive to lowercase versionid -> only lowercase
command
bf luis:application:publish  is sensitive to camelCase versionId-> only camelCase

## To Reproduce
Just run commands above with different casings

## Expected behavior
I'd expected either consistency with versionid casing

[2020-12-21 08:37] feich-ms opened #1081 "Adjust qnamaker builder to accept language setting"
**Is your feature request related to a problem? Please describe.**
Composer plans to support multi-Lang. To support this, bf-lu should add the capabilities:

Map locales to languages that qnamaker api support and specify that language for the kb to be created.

**Describe the solution you'd like**
1. Add locale to language dictionary
2. Specify the language option when creating kbs

**Describe alt

[2020-12-22 10:36] moabba opened #1082 "LU conversion uses a wrong max number of features"
## Versions
bf-lu 4.11.1

## Describe the bug
The bf-lu package validates that a model can't have more than 10 features assigned to it. The correct behavior is that a model can have 10 phrase lists features and 10 models as features, totaling 20 features.

## To Reproduce
Steps to reproduce the behavior:
- Create an application with 10 global features.
- Create an ML entity.
- Add the ML entity as

[2020-12-30 15:29] jbinko opened #1084 "In the lu file, @ phraselist works @ phraseList DOES NOT"
## Versions
@microsoft/botframework-cli/4.11.1 linux-x64 node-v10.19.0

## Describe the bug
In the lu file - behavior of @ phraselist is case sensitive.
 If you create and specify @ phraseList My_PhraseList  (with upper L) as I saw in the documentation it is ignored and not defining phrase list.
this wil fail
@ ml MyEntity usesFeature My_PhraseList

if you change declaration to
@ phraselist My_Phr

[2020-12-30 19:15] joshgummersall commented on #1084
We've assigned this issue to @munozemilio who owns the CLI tools, he will take a look.

[2021-01-01 17:52] cxbuilders opened #1085 "luis:application:import returns id with quotes surrounded"
## Versions
CLI: Latest Daily build
Node: v14.15.3.
PowerShell on Win10

The returned ID from the command luis:application:import returns the ID with quotes

$result = bf luis:application:import --in $_.modelLocation --endpoint $autoringEndpoint --subscriptionKey $autoringKey --json | ConvertFrom-Json
echo $result.id
Output:
"xxxx-xxxxxx-xxxxx"

[bug]

[2021-01-04 05:09] piquet-h opened #1086 "qnamaker:init cannot find module antlr4/index"
## Versions
What CLI version are you using.
@microsoft/botframework-cli/4.11.1 darwin-x64 node-v15.5.0
What Nodejs version are you using
v15.5.0
What command-line interpreters are you using
zsh
What OS are you using
OSX

## Describe the bug
piquet@Peters-iMac implementation % bf qnamaker:init
Error: Cannot find module 'antlr4/index'
Require stack:
- /Users/piquet/.local/share/@microsoft/botframewo

[2021-01-04 19:47] gabog commented on #1080
Hi @munozemilio, can you provide an update on this one?

[2021-01-04 20:01] gabog commented on #1085
Hi @munozemilio, can you take a closer look at this one?

Thanks

[2021-01-04 21:36] munozemilio commented on #1080
Hello @jbinko thanks for reporting this. We will include this in the current development cycle.

[2021-01-04 21:44] munozemilio commented on #1085
Hello @cxbuilders, thanks for reaching out. The cli  is a wrapper of the LUIS endpoint and as a result the output is just the same as the return by the [service](https://westus.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/5890b47c39e2bb052c5b9c31).

[2021-01-04 21:44] #1085 closed

[2021-01-04 22:14] munozemilio commented on #1084
Thanks for reporting this @jbinko, I will submit a PR to the docs repo to fix this issue.

[2021-01-05 19:03] #674 closed

[2021-01-05 19:08] #928 closed

[2021-01-05 19:09] #929 closed

[2021-01-05 19:10] gabog commented on #936
Hi @munozemilio, is this one still relevant? (close it if not)

[2021-01-05 23:36] scheyal opened #1087 "Add a flag to trigger alternate training mode to BF LUIS:Train"
LUIS vNext is working on new training technology. In order to offer the capability to selected customers as well as create a preview offering by BUILD the LUIS team requests that we add a new flag to LUIS:train command. The requested capability should be available at the underlying library so it is accessible by Composer.

The only additional query parameter needs to be done for the Train API to u

[2021-01-05 23:43] scheyal commented on #1087
Command line proposal:
[code]
Paramater should be optional and will default at service end to Standard.

[2021-01-09 03:34] RustyDes opened #1088 "Add CMK to BF CLI commands"
**Is your feature request related to a problem? Please describe.**
ABS has support for CMK. As such the CLI should support turning on the feature:
- For an existing bot
- As part of creating a new bot (future policy features will likely make this particularly important)

**Describe the solution you'd like**
The following existing command should be extended to support CMK:
- [Create](https://docs.m

[2021-01-12 05:51] #1071 closed

[2021-01-15 01:30] jaddoescad opened #1090 "Request failed with status code 400"
## Versions
@microsoft/botframework-cli/4.11.1 darwin-x64 node-v15.5.1

## Describe the bug
I'm trying to initialize qnamaker using `bf qnamaker:init`

It asks me for my access key, which I input by copying and pasting the key below from the qna maker key and endpoint
<img width="728" alt="Screen Shot 2021-01-14 at 8 58 23 PM" src="https://user-images.githubusercontent.com/12466304/104671198-54616

[2021-01-15 03:20] jaddoescad commented on #1090
kbid is required or it fails

[2021-01-15 03:20] #1090 closed

[2021-01-15 11:11] #1051 closed

[2021-01-18 02:31] feich-ms commented on #1084
@munozemilio I also created a similar [issue ](https://github.com/microsoft/botframework-cli/issues/1068)before. And last Friday I made a fix to make the entity type case insensitive here https://github.com/microsoft/botframework-cli/pull/1091. Do you think we should let the entity type case insensitive? If so, above PR can fix this issue as well.

[2021-01-18 03:04] feich-ms commented on #1092
@cwhitten thanks. I transferred this from composer to botframework-cli repo and I will take the fix in R12 developing cycle of bf-cli

[2021-01-18 09:43] feich-ms commented on #1092
@goergenj thanks for reporting these valuable issues. After figured out these cases, we took the solutions as below.

1. Labelled utterances on an entity list without roles
    **feich-ms: Already fixed in lasted release. Current GA composer(v1.3.0) can throw validation errors when you are editing invalid lu content as below screenshot.**
![image](https://user-images.githubusercontent.com/43032123

[2021-01-20 18:54] scheyal opened #1094 "--sort option fails on bf luis:convert"
## Versions
c:\>bf --version
@microsoft/botframework-cli/4.11.1 win32-x64 node-v12.18.4

## Describe the bug
Run the bf luis:convert ... --sort command and get a failure. Same command works without --sort.

## To Reproduce
[code]

## Expected behavior
Give a clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

#

[2021-01-21 02:46] #1068 closed

[2021-01-21 02:46] #1074 closed

[2021-01-25 17:10] scheyal commented on #505
We need some of this functionality for Orchestrator. Need to discuss in detail.

[2021-01-27 18:01] daveta commented on #1054
Hi @v-kydela : This warning comes from one of our dependencies.  We'll update our package once the source package warning is addressed.  For tracking, here's the PR from the source.

https://github.com/nodejs/node-gyp/pull/2220

[2021-01-27 22:51] chrimc62 opened #1097 "Support plugsin:link and remove plugin restrictions"
**Is your feature request related to a problem? Please describe.**
Two problems:
1) When developing a plugin there is no easy way to add a local plugin to bf.  This makes it very painful to test the plugins since you need to publish first.  For example we have a plugin for mapping transcript to declarative test and a cli for running declarative tests.  The only way to update the plugin and then ru

[2021-01-28 20:26] chrimc62 opened #1100 "luis:convert does not handle LUIS settings"
## Versions
CLI Version: @microsoft/botframework-cli/4.12.0-dev.20210126.0184ff0 win32-x64 node-v12.16.1
Node Version: 12.16.1
Windows 10

## Describe the bug
LUIS settings are not being included in the generated JSON which means importing a LU file into LUIS drops the settings.  This is a problem because LU file users cannot affect LUIS settings and LUIS exports don't round trip.

## To Reproduce

[2021-01-28 21:25] scheyal opened #1101 "Command request: Retrieve LU file from skill manifest"
Orchestrator (& any other routing tech, e.g. LUIS) will need to retrieve remote skill LU. The LU url is exposed in skill's manifest as an optional field. If available, Composer, and Orchestrator CLI can use it to retrieve remote skill LUs and merge into the top routing LU.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex

[2021-01-29 04:56] feich-ms opened #1102 "Enable escape characters in luis converter"
**Is your feature request related to a problem? Please describe.**
Users want to escape some special characters like {} in lu file, but currently we don't support this.

**Describe the solution you'd like**
Add escape capability in luis converter

**Describe alternatives you've considered**
Escape some specific characters

**Additional context**
Add any other context or screenshots about the featu

[2021-01-31 02:08] a7i opened #1103 "[qnamaker:init] Flags for non-interactive automation scripts"
**Is your feature request related to a problem? Please describe.**
I am having issues using `qnamaker:init` in GitHub Actions since it is prompting for input such as subscription, etc.

**Describe the solution you'd like**
It would be ideal to provide flags via CLI or set environment variables to skip prompts.

**Describe alternatives you've considered**
The alternative is to use the SDK instead o

[2021-02-01 09:14] #1102 closed

[2021-02-01 19:07] srinaath commented on #1103
@munozemilio  Could you take a look at this ticket?

[2021-02-02 01:32] #1092 closed

[2021-02-02 08:28] munozemilio commented on #1103
@a7i thanks for bringing this up. I will try to accommodate in the current release if possible. Otherwise this will be part of the following.

[2021-02-02 16:18] munozemilio commented on #1100
@feich-ms is this something you can take a look at?

[2021-02-02 20:41] scheyal commented on #1100
Desire to do in R12 if possible.

[2021-02-03 03:09] feich-ms commented on #1100
@munozemilio sure, will take a fix soon.
@scheyal It can target R12.

[2021-02-03 07:31] humak commented on #599
I have the same error while creating the bot from the bot composer app, trying to add LUIS.
''Luis build failed: The apps - Get applications list Operation under LUIS Programmatic APIs v3.0-preview is not supported with the current subscription key and pricing tier LUIS.F0.''

[2021-02-03 07:31] feich-ms commented on #1100
Hi @chrimc62, I just tried the case you described, but could not repro it with my machine. The bf-cli convert command can convert the headers you provided to settings in luis json. The version I used is same with you. So did I miss any other steps to reproduce it?

![image](https://user-images.githubusercontent.com/43032123/106712944-a8b99800-6634-11eb-8b56-9cb3ef9330a7.png)

[2021-02-03 07:53] feich-ms commented on #1084
It should be addressed in PR #1091 already, `phraselist`  should be case insensitive now. so I think we can close this one.

[2021-02-03 07:53] #1084 closed

[2021-02-04 03:13] ericchansen opened #1105 "Different LUIS predictions using same .lu file for two different Azure subscriptions"
## Versions

What CLI version are you using: **4.11.1**
What Node.js version are you using: **14.15.4 x64**
What command-line interpreters are you using: **?**
What OS are you using: **This is in an Azure Pipelines run using the pool "windows-latest"**

## Describe the bug

We're using update_cognitive_models.ps1 from https://github.com/microsoft/botframework-solution. Here's a link to the script

[2021-02-04 16:40] FrancoCorleone commented on #1077
Is it happening? It took me 2 hrs to find what's wrong.. I had to override the endpoint manually but it's a pain ** *** ***. Also, I have no clue if the rest of the API works...

[2021-02-04 21:53] scheyal commented on #1101
Pending all-up designs for skill workflow.

[2021-02-05 01:41] feich-ms commented on #1100
Synced with @chrimc62, this can be reproduced with import definitions like below. I will take a fix soon.
![image](https://user-images.githubusercontent.com/43032123/106977937-3791f600-6796-11eb-9799-c09b293d4457.png)

[2021-02-05 02:46] feich-ms commented on #1077
Hi @FrancoCorleone, sorry for the confusion. The support for qna v5 api is still in our backlog list and we have no ETA now. We will let you now once it's ready. Thanks for your patience.

[2021-02-05 06:32] feich-ms opened #1107 "Escape brackets in nested entity definition not work"
## Versions
Latest @microsoft/botframework-cli@next

## Describe the bug
1. Escape brackets in nested entity definition not work.
2. Equal sign as entity value not work

## To Reproduce
Steps to reproduce the behavior:
1. use luis convert to convert below lu content
[code]
2. You will see exceptions

## Expected behavior
Should escape brackets and recognize equal sign as entity value successfully

[2021-02-05 06:57] #1107 closed

[2021-02-05 09:09] #1100 closed

[2021-02-06 06:47] chrimc62 opened #1109 "Add lg:analyze to cross-reference templates"
When you end up with more complicated LG files it would be useful to be able to show all of the places where a template is used.  A command like bf lg:analyze **/*.lg would output something like this:

[code]

Here is the code to do the analysis:
[code]
[enhancement]

[2021-02-08 02:06] #1081 closed

[2021-02-08 14:42] feich-ms opened #1110 "Luis converter failed to escape special chars like brackets"
## Versions
Current GA version

## Describe the bug
Luis converter failed to escape special chars like brackets.

## To Reproduce
Steps to reproduce the behavior:
1. Download the attached luis json file [escapeCharactersInUtterances.zip](https://github.com/microsoft/botframework-cli/files/5944327/escapeCharactersInUtterances.zip)
2. Try to convert it to lu file with bf luis:convert command
3. Try

[2021-02-08 21:06] munozemilio commented on #570
This should be fixed in the next release of AZ CLI

[2021-02-08 21:06] #570 closed

[2021-02-08 21:09] #1088 closed

[2021-02-09 05:02] #1110 closed

[2021-02-09 16:59] stevkan commented on #1105
@ericchansen, it's important to note that scoring in LUIS is non-deterministic meaning that scores can vary for the same query/input between different instances. I am not as sure about that with intents so I am waiting to hear back from a colleague I have reached out to regarding that matter. I will update this thread when I know more.

[2021-02-09 17:04] scheyal opened #1112 "Dialog command spits misleading error"
The dialog command spits a cryptic error as follows:

[code]

[2021-02-09 17:17] scheyal commented on #1112
Just a strange condition. I had the old dialog plugin installed.

[2021-02-09 17:17] #1112 closed

[2021-02-10 18:32] munozemilio commented on #1080
Since we are using oclif as parsing mechanism and to this day it does not support case insensitivity, this may break existing customer. I will push this after build.

[2021-02-10 19:37] #1087 closed

[2021-02-11 21:41] #1050 closed

[2021-02-12 01:16] #1094 closed

[2021-02-13 03:44] #1069 closed

[2021-02-16 17:56] munozemilio commented on #1078
Closed by #1116

[2021-02-16 17:56] #1078 closed

[2021-02-17 08:06] munozemilio commented on #1059
Hello @dinobrago, after evaluation we have decided to wait another cycle on supporting node 14 given node 12 is still LTS and a lot of our customers are running on that version. Sadly the fix on the anltr side is not backward compatible with node 12.

[2021-02-18 02:40] munozemilio opened #1120 "LU parser doesn’t parse synonym list correctly if the synonym contains a dash (“-“)"
**Is your feature request related to a problem? Please describe.**
Support of dash in the synonym names

@ list l_new_list =
    - Elements :
        - Power-Apps
        - Model-driven app
        - Canvas App";

[enhancement]

[2021-02-18 21:37] scheyal opened #1121 "bf luis:test command fails for some files"
The following line works for some data, and fails for other:

* Command: bf luis:test --subscriptionKey %LUISKEY% --endpoint %LUISHOST% --appId %LUISAPP% --in %TESTFILE% --out report/luisresult.txt
* Results (files are available via email):
 - Success: common.test.lu
 - Failure: schoolnavigatorbot.test.lu
 - Neither is in a format that can be used in the portal.
* CLI Error:
[code]

Error is possi

[2021-02-19 09:36] munozemilio commented on #1121
Hi @feich-ms, is this something you are familiar with?

[2021-02-19 09:47] feich-ms commented on #1121
@munozemilio this is work of Huanran Xu, but he will leave Microsoft at the end of this week. I can be backup and take a look. Could you or anyone else provide the pieces of schoolnavigatorbot.test.lu that raised this exception?

[2021-02-19 11:34] Stevenic opened #1122 "Upgrading to version 4.11+ of the cli leaves an old 4.10 bf-dialog plugin installed"
I was trying to use some of the latest `dialog:merge` features but couldn't get them to work. I checked the version of the cli I was using and it was 4.10 so I upgraded to 4.11.1.  The new features still didn't work so then I upgraded to @next which is 4.13.0-preview and they still wouldn't work.

In checking the --help text for dialog:merge I noticed that it didn't match the text from the checked

[2021-02-19 13:20] feich-ms opened #1123 "Intent only import in lu will pull unrelated contents"
## Versions
4.12.0-rc0

## Describe the bug
Reported by composer here https://github.com/microsoft/BotFramework-Composer/issues/5756#issuecomment-777048352. Intent import in lu will pull unrelated contents. Consider below scenarios:

common.en-us.lu:
[code]

root.en-us.lu:
[code]

test.en-us.lu
[code]

The generated luis file for test.en-us.lu with luis:convert command will pull everything from co

[2021-02-19 18:35] chrimc62 opened #1125 "dialog:merge should verify and expand kinds in $policies"
$policies is going to include elements like:
[code]
During dialog:merge we need to validate that the kinds exist and also expand the list to include any extensions to support customizability.
[enhancement]

[2021-02-19 23:13] #1120 closed

[2021-02-19 23:15] munozemilio commented on #1086
Hi @piquet-h, we dont support node versions higher than 13 at the moment. Sorry for the inconvenience.

[2021-02-19 23:15] #1086 closed

[2021-02-19 23:21] #1123 closed

[2021-02-20 00:01] #1125 closed

[2021-02-22 05:54] munozemilio commented on #1122
This is the behavior by design, as per oclif doc and bf plugins:install command description:
[code]

As per comments from oclif devs: "The intention of this behavior comes handy in situations like this: The Heroku CLI is an oclif CLI made up of many plugins. If we wanted to make a modification to heroku config (for example), we first clone the @heroku-cli/plugin-config repository and run heroku pl

[2021-02-22 07:05] feich-ms commented on #1121
@scheyal could you provide the failure lu case of `schoolnavigatorbot.test.lu` so that I can debug and verify? Thanks.

[2021-02-22 13:24] ericchansen commented on #1105
@stevkan Certainly, scoring is non-deterministic. It should be possible to determine if confidence variations as large as 0.1 can stem only from non-determinism. That seemed unlikely to me, but I'm not sure.

[2021-02-23 19:12] chrimc62 opened #1128 "luis:convert generates incorrect error message about hierarchical labels"
## Describe the bug
When converting a complex set of LU files from form generation with hierarchical entities you get an incorrect error message:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Unpack the attached [en-us.zip](https://github.com/microsoft/botframework-cli/files/6031330/en-us.zip)
2. bf luis:convert --in gggg.en-us.lu --out converted.json
3. See error

## Expected behavi

[2021-02-24 16:11] Dragos04 opened #1130 "doesn't recognize the route"
## Versions
@microsoft/botframework-cli/4.11.1

## Describe the bug
command : bf luis:cross-train --in . --out ../generated --config DialogLuHierarchy.config.json

my config json:
{
  ".\\RootDialog\\RootDialog.lu": {
    "rootDialog": true,
    "triggers": {
      "AddItem": ".\\AddToDoDialog\\AddToDoDialog.lu",
      "DeleteItem": ".\\DeleteToDoDialog\\DeleteToDoDialog.lu",
      "ViewItem": ".\

[2021-02-25 01:29] stevkan commented on #1105
Another option is to [turn off](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-train#train-with-all-data) non-deterministic training. In doing so, you are utilizing all of your data to train your model rather than only a sample. This should produce more stable results when testing.

[2021-02-25 06:13] #1128 closed

[2021-02-25 08:49] feich-ms commented on #1130
@Dragos04 thanks for reporting this. I figured out that the config you are using is outdated. Please use the config below. You can also find it here https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/adaptive-dialog/08.todo-bot-luis-qnamaker/Dialogs/DialogLuHierarchy.config.json. We will create a ticket to update the docs. Sorry for the convenience.
[code]

[2021-03-01 07:45] feich-ms opened #1132 "phraselist are merged incorrectly when importing them from different lu files"
## Versions
4.12.0-rc1

## Describe the bug
Phraselist synonymous list are merged incorrectly when importing from different lu files

## To Reproduce
Steps to reproduce the behavior:
1. Create three lu files below
2. Convert them to json with command `bf luis:convert -i model.lu -o model.json`
3. You will find the converted luis json has incorrect words synonymous in phraselist defintion

model.lu

[2021-03-01 08:36] feich-ms opened #1134 "Square bracket in utterance causes the utterance being recognized as pattern unexpectedly"
## Versions
4.12.0-rc1

## Describe the bug
If there is a square brackets in a utterance and the brackets are not designed to mark pattern, the utterance will always be recognized as pattern. That means there is no way to escape square brackets currently.

## To Reproduce
Steps to reproduce the behavior:
1. Create a luis application in luis portal with a utterance like `reason for schedule slip cu

[2021-03-01 08:52] #1132 closed

[2021-03-01 19:11] ruifelixpereira opened #1135 "luis:translate Text translator service 401 error"
## Versions
I am using `@microsoft/botframework-cli/4.11.1 linux-x64 node-v12.16.1`

## Describe the bug
When trying to call `bf luis:translate` using my Text Translator service provisioned in my Azure subscription, it gives an error saying **"Text translator service call failed with [401] : Unauthorized."**

After investigating a bit, it seems that in file https://github.com/microsoft/botframewor

[2021-03-02 03:04] scheyal opened #1136 "Support MSI access to cognitive services QnAMaker and LUIS"
BF CLI will have to light up access of QnAMaker and LUIS services using Managed Service Identity.
We know the services support MSI.

We need to put the ground work to investigate
- Do they support access via the interfaces we use (REST API)?
- Do we have sufficient info to access the right resources via the CLI
- Can we allow side by side migration and slowly deprecate use of keys.

References:

T

[2021-03-02 20:33] moabba opened #1137 "[bf-lu] Non-child entities required features are converted to roles when converting lu to JSON"
## Versions
What CLI version are you using.
bf-lu 4.11.1

What Nodejs version are you using
v10.18.1

What command-line interpreters are you using
Powershell

What OS are you using
Windows

## Describe the bug
When a required feature is used in a LUIS Lu file on a non-child entity, it gets translated as a role instead of a required feature.

## To Reproduce
Convert a JSON app to Lu that has the fo

[2021-03-02 20:42] moabba opened #1138 "[bf-lu] Conversion from Lu to JSON fails when a required features has a space in its name"
## Versions
What CLI version are you using.
bf-lu 4.11.1

What Nodejs version are you using
v10.18.1

What command-line interpreters are you using
Powershell

What OS are you using
Windows

## Describe the bug
When using a required feature in an entity that has spaces in its name, the conversion from Lu to JSON fails.

## To Reproduce
Convert a JSON application to Lu with the following entities
[c

[2021-03-05 02:01] stevkan commented on #1105
Closing as resolved. If additional help is needed on this issue, please feel free to re-open.

[2021-03-05 02:01] #1105 closed

[2021-03-05 07:23] clancy commented on #937
Please fix this.

[2021-03-09 05:02] #1137 closed

[2021-03-09 05:06] munozemilio commented on #1135
Thx for reporting this @ruifelixpereira I will include the fix in this milestone.

[2021-03-09 05:06] #1138 closed

[2021-03-10 07:43] feich-ms opened #1143 "bf luis:build cannot republish luis app to direct version mode if there is no lu content changed"
## Versions
4.12.0

## Describe the bug
bf luis:build cannot republish to direct version mode if there is no lu content changed.

## To Reproduce
Steps to reproduce the behavior:
1. Create a lu file
2. Publish it with production slot mode
3. Republish it with direct version mode
4. You will find the the application in luis portal is still in production slot mode rather than direct version mode

##

[2021-03-10 09:08] FrancoCorleone commented on #937
I can report it broke my scripting as well. Interestingly enough, if I execute that command directly in the console - no message. @dawwa can you tell me more about your workaround?

[2021-03-11 14:05] FrancoCorleone opened #1147 "bf qnamaker:bf:convert do not respect multiple languages"
Hey all,
I am using the newest version of CLI.
I've read here: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-deploy-qna?view=azure-bot-service-4.0 that I can have file with locales in filename and it will create sort of multiple KBs. But when I run convert it creates single json file with all entries merged into single knowledge base.
Am I doing something wrong or is

[2021-03-12 16:00] ruifelixpereira commented on #1135
Thanks. By the way, the same problem happens with "bf qnamaker:translate". I suppose the solution is the same.

[2021-03-12 19:10] a-b-r-o-w-n opened #1149 "SchemaMerger.merge never fails if schema is unreachable"
## Versions
What CLI version are you using.
`4.11.0-dev.20201025.69cf2b9`
What Nodejs version are you using
`14.15.4`

## Describe the bug
If the schema that is used is unreachable (i.e. returns a 500), merge never fails.

## Expected behavior
I expect SchemaMerger to retry to fetch the schema in certain cases and eventually fail.

[bug]

[2021-03-12 19:53] scheyal commented on #273
--help, -h work OOB. we'll skip -? not worth the effort.

[2021-03-12 19:53] daveta commented on #1075
Closing per @scheyal

[2021-03-12 19:53] #1075 closed

[2021-03-12 19:53] daveta commented on #273
Closing per @scheyal

[2021-03-12 19:53] #273 closed

[2021-03-15 22:53] munozemilio commented on #1103
Hello @a7i would this [command](https://github.com/microsoft/botframework-cli/tree/main/packages/config#bf-configsetqnamaker) cover your needs?

[2021-03-16 21:16] #1103 closed

[2021-03-16 21:56] #346 closed

[2021-03-16 21:56] #806 closed

[2021-03-17 00:09] a7i commented on #1103
@munozemilio It's perfect, thank you!

[2021-03-17 03:00] #1121 closed

[2021-03-17 06:09] #1134 closed

[2021-03-17 06:30] #1143 closed

[2021-03-17 07:13] #937 closed

[2021-03-17 08:06] #1135 closed

[2021-03-17 09:06] #745 closed

[2021-03-17 17:12] a-b-r-o-w-n commented on #1149
@chrimc62 yes. This was surfaced during a github outage in which the schema was never able to be fetched.

[2021-03-22 16:44] tsuwandy opened #1167 "Switch bf orchestrator commands from plugin to built in to bf cli"
Also merge code from beta branch to main.

[2021-03-22 21:21] munozemilio commented on #537
Hello @in4margaret the message has been removed and a flag has been added to other commands to transform the output to json format. Please let us know if there is any other command you are having issues with.

[2021-03-22 21:21] #537 closed

[2021-03-23 08:36] #107 closed

[2021-03-23 08:37] #1014 closed

[2021-03-24 21:12] anusharavindrar commented on #1147
@FrancoCorleone, just to get more clarity before attempting a  repro, did you follow this particular [part](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-deploy-qna?view=azure-bot-service-4.0#qna-maker-knowledge-bases-created) in the above linked documentation? Also, how many qna files are you trying to convert into separate KBs?

[2021-03-25 07:04] FrancoCorleone commented on #1147
Yes, I have it kinda sorted out with "build" command, but I got an impression that it should also work with convert and then publish. It's pretty inconsistent. Also I tried to set suffix to an empty string in build command, I don't need my name there, nor environment, doesn't make much sense for me... Unfortunately, it is ignored then and my name is used

[2021-03-26 07:54] #1097 closed

[2021-03-29 19:51] #1149 closed

[2021-03-29 22:07] anusharavindrar commented on #1147
@FrancoCorleone, after using the **--suffix** option, you are still getting the username as a part of the KB name?

[2021-03-30 03:18] #1109 closed

[2021-03-30 06:53] FrancoCorleone commented on #1147
Well, I wanted to do --suffix "" to override the behaviour, but it detected the suffix empty and fell back to username

[2021-03-31 21:26] silverbulletgt opened #1171 "bf luis:cross-training not working as expected when referencing external file which is in a folder above folder specified in the -i parameter"
## Versions
What CLI version are you using - 4.12.0
What Nodejs version are you using - 12.13.0
What command-line interpreters are you using - Windows Command Prompt
What OS are you using - Windows 10

## Describe the bug
The issue is that if you have a .lu or .qna file which references an external file which is in a folder above the folder specified in the -i parameter or above the current folder

[2021-04-01 00:10] anusharavindrar commented on #1147
@FrancoCorleone,

- If the suffix is omitted, it will make use of the username(if no username is found, it will return ‘development’).
- If the suffix parameter is supplied, but it is an empty string, it will still fall back to making use of the username.
- If you do not want to use the username, you must supply a non-empty string.

Hope this helps.

[2021-04-01 18:05] msomanathan commented on #1171
@munozemilio @chrimc62 This seems like a CLI issue, could you please comment on the workaround for the customer.

[2021-04-01 20:43] #281 closed

[2021-04-01 23:19] #1167 closed

[2021-04-02 12:59] feich-ms commented on #1171
Ack. @cosmicshuai and me will follow this.

[2021-04-03 07:07] cxbuilders opened #1175 "Error: Cannot find module 'antlr4/index'"
BF Version: latest
Node: 12.22
OS: Win 64
Tool: PS
![image](https://user-images.githubusercontent.com/49873947/113471350-0d8a4680-945c-11eb-8e4f-1e8082d99c96.png)

When executing the bf luis:build command it fails with the following error:
![image](https://user-images.githubusercontent.com/49873947/113471318-dfa50200-945b-11eb-923b-4624930c1b06.png)

During install it already gave this warning:
![

[2021-04-04 04:04] hcyang opened #1176 "lu/test/parser/lufile/luis.boundary.test.js failed in Mac environment"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Run 'rush test' in an Azure Mac VM.

## Expected behavior
Unit tests should not fail a build pipeline.

## Screenshots
If applicable, add screenshots to help ex

[2021-04-04 04:12] hcyang opened #1177 "$packages\lu\test\parser\lu\lu.test.js fails in case-sensitive UNIX environments"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
run 'rush test' in a UNIX environment.

## Expected behavior
Unit tests should not fail.

## Screenshots
If applicable, add screenshots to help explain your pro

[2021-04-05 17:19] #1147 closed

[2021-04-05 18:08] peterinnesmsft commented on #1175
@cxbuilders per the error output pasted above, it looks like your issues is that you need to upgrade your installed version of node to 14.x.x. I believe that's the latest LTS. Can you try that and let us know if you continue to see any issues here?

[2021-04-05 19:54] benbrown opened #1179 "Dialog merge results should include iconUrl if present in component"
**Is your feature request related to a problem? Please describe.**

When using the dialog merge command, the results currently include the PackageIcon field from dotnet components.  This value is typically a relative path, not an absolute URL, thus not usable in Composer.

See: https://github.com/microsoft/botframework-components/issues/802

**Describe the solution you'd like**

Please include the

[2021-04-05 20:28] #1177 closed

[2021-04-06 07:51] luhan2017 opened #1180 "Support passing http proxy settings as a param in bf cli"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Refer to this issue:
https://github.com/microsoft/BotFramework-Composer/issues/4091

If user is behind a proxy, setting environment variables to configure proxy does not work for composer scenarios.
bf cli need to support passing a proxy s

[2021-04-06 08:45] feich-ms commented on #1180
Luis build need to add the capability of configuring the proxy from env variable when calling luis api. @cosmicshuai and me will pick up this.

[2021-04-07 17:09] peterinnesmsft commented on #1171
@silverbulletgt just to provide a formal update, it looks like we now have a PR open from @cosmicshuai to address this issue. I'll follow up with them to determine when we can get this merged. Thank you for your patience!

[2021-04-07 17:30] munozemilio commented on #1175
Hello @cxbuilders by the attached images I can tell you are running on a daily version: 4.10.0-dev.... The issue you are seeing comes from antlr. A few months ago they published a node non backward compatible version, thats when we started to see the issue. We had to pin the exact antlr version to keep supporting customer running on node versions lower than 14. My guess is the CLI version you are

[2021-04-07 17:41] chrimc62 opened #1183 "Support QnA versioning"
**Is your feature request related to a problem? Please describe.**
QnA Maker does not currently support versioning.  That makes it hard for the E2E development cycle of production, development, testing.

**Describe the solution you'd like**
There is a discussion about adding this to QnA Maker APIs, but we can do it ourselves by using metadata.  We would add a --version flag to the QnA maker operat

[2021-04-07 18:10] Stevenic opened #1184 "Dialog Merge should ignore duplicate files that are exactly the same"
If you fail to include the below highlighted line in your packages nuspec file you will get duplicate .schema & .uischema files written to disk. This causes Dialog Merge to fail because of the detected duplicates. Dialog Merge should just ignore duplicate files.

![image](https://user-images.githubusercontent.com/698939/113913741-84437e80-9791-11eb-8235-a1a57d818529.png)

[2021-04-07 22:59] #1180 closed

[2021-04-07 23:39] #1184 closed

[2021-04-08 05:16] cosmicshuai commented on #1171
@silverbulletgt
I found one mistake in your repo. The import statement in application.lu and application.qna should be
[code]

[code]

[2021-04-08 23:57] scheyal opened #1187 "Update CLI documentation with latest commands (Orchestrator etc)"
## Versions
What CLI version are you using.
What Nodejs version are you using
What command-line interpreters are you using
What OS are you using

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
Give a clear and concise descript

[2021-04-10 08:56] cxbuilders commented on #1175
hey @munozemilio , yeah I downloaded the latest stable release and that was all ok.  Was a bit confused by the catch 22 situation, luckily that was just the dev.

[2021-04-10 08:56] #1175 closed

[2021-04-12 14:46] silverbulletgt commented on #1171
@cosmicshuai Thank you for noticing that.  I have adjusted the files & committed the change to the repo.  Unfortunately, that did not resolve the issue though.  When using the command: "bf luis:cross-train -i Application -o application/cross-trained-sub-folder --config application/cross-train.config.json --force" I still don't get the external file intent / utterance / qna pairs in the resulting .

[2021-04-12 14:49] cosmicshuai commented on #1171
@silverbulletgt Your issue is solved by a PR I created. Once it is merged, I will notice you to install a dev build to verify this fix.

[2021-04-13 01:00] #841 closed

[2021-04-14 21:41] tsuwandy opened #1193 "Update orchestrator-core reference to 4.13.0 version"

[2021-04-15 01:17] clearab opened #1202 "Packages with declarative files"
## Describe the bug

Installing packages is ignoring declarative files unless they are a full set of files (including the extraneous empty ones) for a dialog, and are contained within an `exported` folder in the package.

Attached is an example package, that has:

1. 2 .lg files at the root of the package
2. A .dialog file at the root of the package
3. A "full" set of files in the /FeedbackDialog

[2021-04-15 17:40] #1193 closed

[2021-04-16 08:22] garypretty opened #1201 "Cannot include dialog files in a package that contains code generated from a csproj"
## Describe the bug

Currently the package manager looks for an 'exported' folder in the root of a NuGet package to find any dialog / declarative files that should be installed into the bot project. However, if a NuGet package is generated from a CSPROJ file, which they often are (including in the community repo), the 'exported' folder will not be at the root, it will be located at 'content/export

[2021-04-16 14:35] garypretty commented on #1201
I think this is a separate issue where packages without schema are not showing as installed, which we are tracking.  It's not this issue.

[2021-04-16 15:42] chrimc62 commented on #1202
This is by design.  The issue is that you want the package creator to have control of what is exposed to be customized and what is "implementation details" of some feature.

[2021-04-16 16:10] clearab commented on #1202
I don't understand what this means - if the declarative files aren't merged how could they be part of the implementation details?

[2021-04-16 16:12] clearab commented on #1202
As someone creating packages, I absolutely need to be able to just drop a .qna file, or a .lu file, in a package, and have it get merged and be available for my users to consume and use. There is not a requirement that the declarative assets I include in my package are in a special folder, or that they be a complete dialog set.

[2021-04-16 16:26] chrimc62 commented on #1202
Should I be able to control what people can customize in my package?  Programming languages let you control what is internal to your package and what gets exported, why should this be any different?  You can take an adaptive dialog and create a .schema for it and it becomes a component you can use in composer--you might not want to expose all parts of the implementation because you don't want to s

[2021-04-16 18:57] clearab commented on #1202
The use case I'd like to support is: I'm an ISV. I have a set of .lg files that I re-use constantly between clients. I want to make a package for my organization's use that allows me to easily re-use the that .lg file. I have no need for complete dialogs, nor do I want to put it in any special folders. I just want to make a package for my 10 .lg files, then have them appear in the bot responses ta

[2021-04-20 05:48] #1171 closed

[2021-04-20 22:29] clearab commented on #1202
Sorry - I was totally wrong on the inclusion of ad-hoc files. Everything in the /exported folder is getting copied over correctly.

[2021-04-21 13:12] gabog opened #1205 "bf luis:cross-train imports don't work correctly"
## Versions
@microsoft/botframework-cli/4.14.0-dev.20210416.ab0fc09 win32-x64 node-v14.15.4

## Describe the bug
Running bf luis:crosstrain on a composer project that has qna dialogs with imports does not generate the proper dialogs

## To Reproduce
Steps to reproduce the behavior:
1. Open composer and create a basic assistant bot (don't run or configure the bot)
![image](https://user-images.githu

[2021-04-21 15:14] sgellock commented on #1202
I believe we closed on this yesterday.  If we're in agreement, can we close this issue or raise what issue(s) remain in order to close this?

[2021-04-21 16:37] #1202 closed

[2021-04-21 22:33] tsuwandy opened #1206 "Need workaround for Linux install failure"
https://github.com/microsoft/botframework-solutions/issues/3789

[2021-04-21 23:52] #1206 closed

[2021-04-22 02:05] boydc2014 opened #1208 "bf luis:build shouldn't write out version if it's not directVersionPublish"
## Versions
@microsoft/botframework-cli/4.14.0-dev.20210416.ab0fc09 win32-x64 node-v14.15.4

## Describe the bug
By default, bf luis:build is not using directVersionPublish, but it writes out version string to dialogs files, which will trigger runtime to regard as "directVersionPublish" and thus try to visit another endpoint and get an 404.

## To Reproduce
Run bf luis:build with --dialog files

#

[2021-04-22 17:58] peterinnesmsft commented on #1201
Hi @rvinothrajendran and @garypretty,

I've investigated this issue and, based on the outlined scenario, I've written some basic sample code that shows how to create a NuGet package that contains a combination of custom dlls and declarative content. You can find said code here: https://github.com/peterinnesmsft/CustomComponent (Should be public, let me know if you don't have access)

---

The basi

[2021-04-22 18:37] silverbulletgt opened #1210 "bf luis:cross-train not working as expected when using external file references which use intent filter"
## Versions
What CLI version are you using. - 4.12.0
What Nodejs version are you using - 12.13.0
What command-line interpreters are you using - Windows Command Prompt
What OS are you using - Windows 10

## Describe the bug
When using external references & filtering on a specific intent cross training includes all intents from the external file.
Using syntax for external reference intent filtering

[2021-04-22 18:38] silverbulletgt commented on #1210
Possibly related to: [Issue 1205](https://github.com/microsoft/botframework-cli/issues/1205)

[2021-04-22 20:42] sgellock commented on #1201
I think this is going to end up being a documentation issue, meaning how it should be done would need to include @peterinnesmsft guidance.  let's see if we get an ACK, and if so, we'll need to make sure @clearab and @Kaiqb are aware as they pull docs together on this topic.

I've also made this a P1, only because I've made the assumption Peter's guidance is correct.  If we feel different and want

[2021-04-22 20:59] clearab commented on #1201
I agree - this aligns with how I was planning to document this.

[2021-04-22 23:52] sgellock commented on #1201
ok.  talked with @garypretty and talked this over with @tomlm and I'm agreeing with the original issue framing.  I've added @chrimc62 and changed the priority to P0.  we want to get this right before we go GA.

[2021-04-23 01:00] chrimc62 commented on #1201
I will go ahead and implement checking for content\exported as well.  I will not check for contentFiles\<framework>\exported since that is a bigger change.  content\exported is supported for "old" nuget and gets generated when you mark files as content in csproj so it should solve the immediate problem.  If someone thinks we should support framework specific content files, please let me know ASAP.

[2021-04-23 04:20] tsuwandy opened #1212 "Update orchestrator-core version to 4.13.1 to include fix for iculib issue in MacOS"

[2021-04-23 15:49] a-b-r-o-w-n opened #1216 "[bf-lu] antlr4 produces "INVALID_ALT_NUMBER" warning on node >= 14.2.X"
## Describe the bug
I'm not sure where this originating, but I think that antlr/antlr4#2834 is the root cause.

I see this when running Composer with node 14.15.x:

Related to #1061

## Expected behavior
The issue linked above suggests that this has been fixed in a newer version of antlr4.

## Additional Information
This does not seem to break anything, but I'm trying to clean up the node warnings

[2021-04-23 16:26] silverbulletgt commented on #1210
I found a workaround for this.  If I run
`bf luis:convert -i application.lu -o application.json` -f
Then run
`bf luis:convert -i application.json -o application.lu` -f

This converts the application.lu to json then back to an lu file.  This ends up eliminating the external references & placing the correct utterances from the external file into the application.lu file.  From there I can run the cro

[2021-04-26 16:28] daveta opened #1217 "Cross train emit zero length files / same files"
## Versions
What CLI version are you using: `4.13.0`

What Nodejs version are you using: `12`
What OS are you using: `Windows`

## Describe the bug

`bf luis:cross-train --in ./ --out ./generated/interruption --config ./settings/cross-train.config.json --force`

Cross-train can emit 0 length files (and generates .qna files and .lu files with the same content).

## To Reproduce
`bf luis:cross-train

[2021-04-26 16:35] daveta opened #1218 "orchestrator:build needs to handle zero length input files"
## Versions
What CLI version are you using: `4.13.0`

What Nodejs version are you using: `12`
What OS are you using: `Windows`

## Describe the bug

The orchestrator build command does not handle zero-length files (no BOM or any content).

`bf orchestrator:build --in ./generated/interruption --out ./generated --model ./generated/orchestratorModel/`

Error: Encoding not recognized.

## To Reproduce

[2021-04-26 18:57] daveta commented on #1217
Closing in favor of Gabo's bugs..

[2021-04-26 18:57] #1217 closed

[2021-04-26 21:12] chrimc62 commented on #1201
The current behavior is "by design" as the least confusing option and one that makes writing packages a little harder, but consuming them easy and clearer.

The problem with marking files as "content" is that they are considered to be read-only and part of the nuget package.  We copy the files and they become part of your project and can be changed.  Visual Studio also has magic that makes content

[2021-04-26 21:12] #1201 closed

[2021-04-26 22:07] chrimc62 opened #1220 "lg:analyze should allow passing in information about external functions"
**Is your feature request related to a problem? Please describe.**
If you write your own expressions in code you can register and use them in LG templates.  When running lg:analyze it will fail because it does not have the code registrations.  A good example of this is found in form generation where there are two custom functions that are used.
[code]

**Describe the solution you'd like**
You shou

[2021-04-27 03:39] #1212 closed

[2021-04-27 06:12] #1205 closed

[2021-04-27 09:18] boydc2014 commented on #1210
@cosmicshuai is this fixed in latest main?

[2021-04-27 09:20] boydc2014 commented on #1208
fixed by https://github.com/microsoft/botframework-cli/pull/1215

[2021-04-27 09:20] #1208 closed

[2021-04-27 10:13] gabog opened #1221 "bf luis:cross-train should output target recognizer info"
Currently luis:cross-train crawls a given folder for lu and qna files and outputs the found files to another folder but it doesn't persist any information on what recognizer should be used to build, train and publish that file.

In some senarios, you can have a bot that have dialogs that use LUIS recognizers and dialogs that use an orchestrator recognizer. With the current output of luis:cross-tra

[2021-04-27 10:16] gabog commented on #1221
Hi @scheyal, ping me if you need more details, it would be good to address this in R14

[2021-04-27 14:23] cosmicshuai commented on #1210
@silverbulletgt You can try the latest dev version by run command `npm install -g @microsoft/botframework-cli@next`

I tried on the latest dev build. I run the command `bf luis:cross-train -i Application -o application/cross-trained-sub-folder --config application/cross-train.config.json --force` in your repo.
The result is
application.lu
[code]

application.qna is
[code]

[2021-04-27 15:27] tsuwandy commented on #1218
Fixed with https://github.com/microsoft/botframework-cli/pull/1211

[2021-04-27 17:19] cleemullins opened #1222 "Update Readme"
The existing readme for this repo is out-of-date. The CLI tools are no longer new, and all older tools are ported and/or deprecated. The readme needs a simple refresh.

[2021-04-27 20:56] silverbulletgt commented on #1210
@cosmicshuai Thank you for taking a look at this.  I tried out updating my version using npm ... @next.  I am still getting the same issue.  Please note that I have used the repo for another issue so there are a couple of applications within it.  The one which relates to this issue is in the folder: UsingExternalReferences.  The external.lu file which is contained in that folder includes 2 intents

[2021-04-28 00:37] cosmicshuai commented on #1210
I will look into the intent filtering issue.

[2021-04-28 03:25] daveta opened #1223 "lu parser needs to handle files over 15,000 utterances"
## Versions

What CLI version are you using: 4.13.1
What OS are you using: Windows

## Describe the bug
The lu parser is designed for LUIS which imposes a constraint on the number of utterances.  For Orchestrator, it can handle more utterances and this limitation needs to be removed.

We have a customer (ATOS) who will run into this sooner than later.

## To Reproduce
Steps to reproduce the behavi

[2021-04-28 03:33] daveta commented on #1223
Would it be possible to add the large import as a test?

[2021-04-28 10:35] matrixgoh commented on #599
I also have the same error publish into my existing azure tenant. I create a trail new Azure Subscription I can publish with no error.